<div class="dialog onlinerecharge-dialog" ng-controller="rechargeDialogCtrl">
	<div class="title">登录网上银行充值</div>
	<div class="tip">请您在新打开的支付平台页面进行支付，支付完成前请不要关闭该窗口！</div>
	<div class="map-box">充值成功 您可以选择：查看<a href="" ng-click="goToPage('main.myAccount.myAssets')">充值记录</a><i class="dialog-online-success"></i></div>
	<div class="map-box">充值失败 您可以选择：<a href="" ng-click="goToPage('main.myAccount.recharge', 'reload')">其他充值方式</a> <!-- 查看<a href="" ng-click="goToPage('main.jt2.help', 'showQA')">充值帮助</a> --><i class="dialog-online-error"></i></div>
</div>