<div class="reg-dialog-wrapper finance-reg-dialog">
<div class="reglogin-dialog-wrap reg-dialog-wrap">
	<div class="semfinance-register"></div>
	<div class="choose-box">
		<div class="quick-title">快速注册</div>
		<div class="quick-register-wrap" ng-if="showREG == true">
			<div class="quick-register-wrapper" ng-controller="zhuceCtrl">
				
				<form class="login_form" ng-model="login" name="loginform">
					<input style="display:none">
					<input type="password" style="display:none">
					<div class="quick-register-mod">
						<div class="quick-register-box">
							<div class="input-wrap">
								<div class="input-box">
									<div class="input-mod">
										<b class="icon finance-phone"></b>
										<input id="mobilephone" type="text" ng-pattern="/^1[3|4|5|7|8][0-9]{9}$/"  placeholder="请输入手机号码" ng-blur="blurID('focusMobilephone',loginform,$event)" onkeyup="this.value=this.value.replace(/[\D\.]/gi,'')" class="text semmobilephone" ng-model="login.mobilephone" name="mobilephone" required minlength="11" maxlength="11" />
									</div>
									<i ng-show="loginform.mobilephone.$valid" ng-class="{false: 'common-form-ok', true: 'common-form-error'}[loginform.mobilephone.$valid]"></i>
			                		<span class="error" ng-show="loginform.mobilephone.$valid">{{loginform.mobilephone | zhuCePhoneError:serverErrorCode}}</span>
								</div>
							</div>
							<div class="input-wrap">
								<div class="input-box semimg-box">
									<div class="img-box"><img ng-click="clickInput('changePic',$event)" src="login/validateCode.do"></div>
									<div class="input-mod small-inputmod">
										<b class="icon finance-code"></b>
										<input type="text" placeholder="请输入验证码" class="text small-text" ng-model="login.picCode" name="picCode" minlength="4" maxlength="4" required autocomplete="off"/>
									</div>
									<i ng-show="loginform.picCode.$valid" ng-class="{false: 'common-form-ok', true: 'common-form-error'}[loginform.picCode.$valid]"></i>
									<span class="error" ng-show="loginform.picCode.$valid"><font>{{loginform.picCode | zhuCePicCodeError:serverErrorCode}}</font></span>
								</div>
							</div>
							<div class="input-wrap">
								<div class="input-box">
									<a href="" ng-if="loginform.mobilephone.$valid" class="get-code" ng-class="{true: 'getcode-disabled',false: ''}[isGetCode]">{{nowTimer}}获取验证码</a>

									<a href="" ng-if="!loginform.mobilephone.$valid" ng-click="clickInput('phonecodeMSG',$event,null,loginform,false)" class="get-code" ng-class="{true: 'getcode-disabled',false: ''}[isGetCode]">{{nowTimer}}获取验证码</a>
									<div class="input-mod small-inputmod">
										<b class="icon finance-code"></b>
										<input ng-disabled="!loginform.mobilephone.$dirty || !loginform.picCode.$dirty || loginform.mobilephone.$valid || loginform.picCode.$valid" placeholder="手机验证码"  type="text" ng-model="login.smsCode"  name="smsCode" class="text small-text" maxlength="4" required/>
									</div>
									<i ng-show="loginform.smsCode.$valid" ng-class="{false: 'common-form-ok', true: 'common-form-error'}[loginform.smsCode.$valid]"></i>
									<span class="error" ng-show="loginform.smsCode.$valid"><font color="red">{{loginform.smsCode |zhuCesmsCodeCodeError:serverErrorCode}}</font></span>
								</div>
							</div>
							<div class="input-wrap">
								<div class="input-box passwd-box">
									<div class="input-mod">
										<b class="icon finance-mycode"></b>
										<input autocomplete="off" ng-show="passwordText" placeholder="请输入密码" ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,18}$/" ng-mouseout="showPassword(passwordText)" type="text" ng-model="login.passWord" class="text" name="passWord" required />
										<input autocomplete="off" ng-hide="passwordText" placeholder="请输入密码" ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,18}$/" type="passWord" ng-model="login.passWord" class="text" name="passWord" required/>
									</div>
									<i ng-class="{true:'login-icons-eyehide',false:'login-icons-eye'}[passwordText]" ng-click="showPassword(passwordText)" ></i>
					
									<i ng-show="loginform.passWord.$valid" ng-class="{false: 'common-form-ok', true: 'common-form-error'}[loginform.passWord.$valid]"></i>
									<span  class="error" ng-show="loginform.passWord.$valid"><font>{{loginform.passWord | zhuCePassWordError:serverErrorCode}}</font></span>
								</div>
							</div>
							<div class="agreement-box">
								<label for="agreement">我已阅读并同意<a href="/zc" target="_blank" class="server-agreement">《菠菜理财注册协议》</a><input type="checkbox" ng-model="login.checkbox" class="check-box" id="agreement" checked /></label>
							</div>
							<div class="sub-box" ng-if="!loginform.$invalid" ng-click="LoginClick('zhuCe',loginform)">
								<input ng-disabled="loginform.$invalid || !login.checkbox" class="sub-btn sub" type="submit" value="立即注册领取" />
							</div>
							<div class="sub-box" ng-if="loginform.$invalid" >
								<input ng-disabled="loginform.$invalid || !login.checkbox" class="sub-btn sub" type="submit" value="立即注册领取" />
							</div>

						</div>
						<div class="choose-box bottom-choose">已有账号， 
							<a href="{{hrefUrl}}dl" target="_blank" class="change-btn" ng-click="closeDialog()">【 请登录 】</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<a href="" ng-click="closeFinanceDialog(true)" class="semfinance-newclose"></a>
</div>