<div class="reg-dialog-wrapper finance-reg-dialog">
	<div class="regnoget-dialog-wrap">
		<div class="semfinance-noget"></div>
		<div class="noget-wrap">
			<span>你真的要走了么？！</span>
			<strong>请再给我一次机会吧！！！</strong>
			<i class="semfinance-cry"></i>
			<p>截止今日，共有<b>{{regSendCount}}</b>位用户选择加入我们</p>
			<a href="" class="get" ng-click="closeFinanceDialog(false)">领取礼包</a>
			<a href="" class="noget" ng-click="closeDialog()">遗憾错过</a>
		</div>
	</div>
<a href="" ng-click="closeDialog()" class="semfinance-newclose"></a>
</div>