<!--myaccountCtrl.js-->
<link rel="stylesheet" type="text/css" href="../../less/myaccount16.css"/>
<div class="account-wrapper" ng-controller="accountHomeCtrl">
	<!--new-->
	<!--头部-->
	<div class="header">
		<div class="header-user-msg">
			<!--头像-->
			<div class="user-headimg">
				<!--<img src=""/>-->
			</div>
			<div class="user-detail">
				<p class="user-name">JRY_00135</p>
				<div class="user-signMsg">
					<!--1.user-noRealname:未实名2.user-hasRealname:已实名-->
					<div class="user-isRealname user-hasRealname"></div>
					<!--1.user-noCunguan:未开通存管2.user-hsaCunguan:已开通存管-->
					<div class="user-isCunguan user-hasCunguan"></div>
				</div>
			</div>
		</div>
		<!--新消息-->
		<div class="header-user-tips"></div>
	</div>	
	<!--用户资金详情-->
	<div class="user-money-detail">
		<div class="user-total-money">
			<h4>总资产（元）</h4>
			<p ng-bind="totalMoney">12,345,678.90</p>
		</div>
		<div class="user-total-income">
			<h4>累计收益（元）</h4>
			<p ng-bind="totalIncome">12,345,678.90</p>
		</div>
		<!--眼睛/隐藏按钮-->
		<!--不隐藏：eye-btn，隐藏：eye-btn-close-->
		<div class="eye-btn" ng-class="{'eye-btn-close':isCloseEye}" ng-click="clickEye()"></div>
	</div>
	<!--用户账户-->
	<div class="user-self-account">
		<!--账户余额-->
		<div class="user-account-money">
			<div class="left-money">
				<span>账户余额</span>
				<em ng-bind="accountMoney">1000.32</em>
			</div>
			<div class="right-money-detail">
				<span>资金明细</span>
				<em>></em>
			</div>
		</div>
		<!--充值/提现-->
		<div class="user-ct">
			<table border="0" cellspacing="0" cellpadding="0" class="user-ct-table">				
				<tr>
					<!--提现-->
					<td class="withdraw">提现</td>
					<!--充值-->
					<td class="charge">充值</td>
				</tr>
			</table>
		</div>
	</div>
	
	<!--用户设置part1-->
	<div class="user-setone">
		<ul>
			<li>
				<div class="logoimg-left">
					<div class="logo-inner"></div>
				</div>
				<div class="set-detail-right">
					<p class="msg-set">我的投资</p>
					<div class="set-tips">
						<span></span>
						<em>></em>
					</div>
				</div>
				<div style="clear: both;"></div>
			</li>
			<li>
				<div class="logoimg-left">
					<div class="logo-inner2"></div>
				</div>
				<div class="set-detail-right">
					<p class="msg-set">券包</p>
					<div class="set-tips">
						<span></span>
						<em>></em>
					</div>
				</div>
				<div style="clear: both;"></div>
			</li>
			<li>
				<div class="logoimg-left">
					<div class="logo-inner3"></div>
				</div>
				<div class="set-detail-right">
					<p class="msg-set">体验金</p>
					<div class="set-tips">
						<span class="colornew">您有8888元体验金</span>
						<em>></em>
					</div>
				</div>
				<div style="clear: both;"></div>
			</li>
			<li>
				<div class="logoimg-left">
					<div class="logo-inner4"></div>
				</div>
				<div class="set-detail-right">
					<p class="msg-set">邀请好友</p>
					<div class="set-tips">
						<span>邀请有礼</span>
						<em>></em>
					</div>
				</div>
				<div style="clear: both;"></div>
			</li>
		</ul>
	</div>
	<!--用户设置part2-->
	<div class="user-settwo">
		<ul>
			<li>
				<div class="logoimg-left">
					<div class="logo-inner5"></div>
				</div>
				<div class="set-detail-right">
					<p class="msg-set">个人设置</p>
					<div class="set-tips">
						<span>修改密码、添加收货地址</span>
						<em>></em>
					</div>
				</div>
				<div style="clear: both;"></div>
			</li>
			<li>
				<div class="logoimg-left">
					<div class="logo-inner6"></div>
				</div>
				<div class="set-detail-right">
					<p class="msg-set">安全中心</p>
					<div class="set-tips">
						<span></span>
						<em>></em>
					</div>
				</div>
				<div style="clear: both;"></div>
			</li>			
		</ul>
	</div>
	
	<!--用户设置part3-->
	<div class="user-setthree">
		<ul>
			<li>
				<div class="logoimg-left">
					<div class="logo-inner7"></div>
				</div>
				<div class="set-detail-right">
					<p class="msg-set">帮助反馈</p>
					<div class="set-tips">
						<span>你想知道的都在这里</span>
						<em>></em>
					</div>
				</div>
				<div style="clear: both;"></div>
			</li>
			<li>
				<div class="logoimg-left">
					<div class="logo-inner8"></div>
				</div>
				<div class="set-detail-right">
					<p class="msg-set">更多</p>
					<div class="set-tips">
						<span>关于我们、风险测试</span>
						<em>></em>
					</div>
				</div>
				<div style="clear: both;"></div>
			</li>			
		</ul>
	</div>
	
	
	<!--old-->
	
</div>
