<link rel="stylesheet" type="text/css" href="../../less/activity.css"/>

<div class="wrap" ng-controller="controller-cashMoney">
	<header class="common-header" ng-if="isHeader">
		<i></i>
		<h3>提现申请成功</h3>
	</header>
	<div class="gContent-tx">
		<div class="gContent-title">
			<p><img src="../../images/myaccount/withdraw_empty@2x.png"/></p>
			<p>提现申请已提交成功</p>
			<p>一般24小时到账,最迟不超过3个工作日</p>
			<p>具体到账时间以银行处理进度为准</p>
		</div>
		
		<div class="gConten-btn">
			<a href="https://www.baidu.com?page=11">
				<div class="btn submit">完成</div>												
			</a>
		</div>
	</div>
</div>
