	<div class="wrap">
		<div class="content">
			<div class="account-content invest-detail-content">
				<h3>产品名称：赤兔宝<i></i></h3>
				<div class="invest-bd account-even">
					<p><span>13.00</span><em>%</em>年化利率</p>
					<p>剩余期限（月）/总期数（月）: <strong>5/12</strong></p>
				</div>
				<div class="account-bd account-odd">
					<div class="bd1">
						<span>下一个收款日：</span>
						<span>下个收款日所收金额：</span>
					</div>
					<div class="bd2">
						<span>2015-8-19</span>
						<span>6757.00 元</span>
					</div>
				</div>
				<div class="account-bd account-even">
					<div class="bd1">
						<span>投资金额：</span>
						<p>5000.00</p>
					</div>
					<div class="bd2">
						<span>预期收益</span>
						<p>757.00</p>
					</div>
				</div>
				<div class="account-bd account-odd account-last">
					<div class="bd1">
						<span>活动收益：</span>
						<span>收益方式：</span>
					</div>
					<div class="bd2">
						<span>757.00 元<strong>(理财金券收益)</strong></span>
						<span>先息后本</span>
					</div>
				</div>
			</div>
			<!--btn-->
			<div class="invest-btn">
				<ul>
					<li class="payback-btn"><a href="#">收款详情</a></li>
					<li class="xieyi-btn"><a href="#">投资协议</a></li>
				</ul>
				<p>1. 活动总收益包括预期收益 + 活动收益</p>
			</div>
		</div>
	</div>
