<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui,user-scalable=no"/>-->
    <meta name="viewport" content="width=750, user-scalable=no, target-densitydpi=device-dpi">
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <title>恒有钱</title>
    <link  rel="stylesheet" href="../../css/common/reset.css">
    <link  rel="stylesheet" href="../../css/common/common.css">
	<link  rel="stylesheet" href="../../css/myaccount/myaccount.css">
</head>
<body>
	<div class="wrap">
		<div class="content1"  style="display:;">
			<div class="header">
				<ul>
					<li class="vast-type">类型/时间</li>
					<li class="vast-money">金额(元)</li>
					<li>总金额(元)</li>
				</ul>
			</div>
			<!--record list-->
			<div class="list">
				<div class="type float">
					<h5>赎回</h5>
					<p>2015.08.13  16:56</p>
				</div>
				<div class="money float green">-50,000,0.00</div>
				<div class="total float orange-font">51,500,0.00</div>
			</div>
			<div class="list">
				<div class="type float">
					<h5>收益</h5>
					<p>2015.08.13  16:56</p>
				</div>
				<div class="money float red">+50,000,0.00</div>
				<div class="total float orange-font">51,500,0.00</div>
			</div>
			<div class="list">
				<div class="type float">
					<h5>购买</h5>
					<p>2015.08.13  16:56</p>
				</div>
				<div class="money float red">+50,000,0.00</div>
				<div class="total float orange-font">51,500,0.00</div>
			</div>
		</div>
		<!--no record-->
		<div class="no-record grey" style="display:none;">
			<p class="noimg"><img src="../../images/myaccount/no-record.png"></p>
			<p>近期无记录<p>
		</div>
	</div>
</body>
</html>