<div class="my-info-wrapper">
	<div class="common-head" ng-click="toback()"><i></i><p>{{title}}</p></div>
	<div class="info-box">
		<ul>
			<li>
                <p>{{user.bankMobileFuiou}}</p>
                <span>存管账号</span>
            </li>
			<li>
				<p>{{user.realName}}</p>
				<span>姓名</span>
			</li>
			<li>
				<p>{{user.idCards}}</p>
				<span>身份证号</span>
			</li>
			<li>
				<p><img style="width:7.5rem;" src="images/recharge/{{user.bankIdFuiou}}.png"></p>
				<span>银行卡</span>
			</li>
		</ul>
	</div>
	<div class="info-box">
		<ul>
			<li ng-click="resetDepPwd()"><p><i></i></p><span>重置存管交易密码</span></li>
		</ul>
	</div>
	<!--<a href="" ng-click="out('out')">安全退出</a>-->
</div>