<!--myInvestCtrl.js我的投资-->
<div class="myinvest-wrapper" ng-controller="myInvestCtrl">
	<!--顶部-->
    <header class="common-header">
	    <i></i>
	    <h3>我的投资</h3>	    
    </header>
	<div class="myinvest-content">
		<!--投资数据-->
		<div class="myinvest-top-msg">
			<p>我的投资(元)</p>
			<h4>1000000</h4>
		</div>
		<!--收益数据-->
		<div class="income-data">
			<div class="income-waite">
				<h4>待收收益(元)</h4>
				<p>230.2</p>
			</div>
			<div class="income-total">
				<h4>累计收益(元)</h4>
				<p>245.2</p>
			</div>
		</div>
		
		<!--投资列表-->
		<div class="invest-list-my">
			<div class="tab-header">
				<ul>			
					<li>
						<h4 class="active">募集中</h4>
						<div class="red-line"></div>
					</li>
					<li>
						<h4>投资中</h4>
						<div></div>
					</li>
					<li>
						<h4>已回款</h4>
						<div></div>
					</li>
				</ul>
			</div>
			
			<!--tab内-内容-->
			<div class="swiper-container">
			    <div class="swiper-wrapper">
			        <div class="swiper-slide">
			        	<div class="invest-mj tabli" id="slide1" ng-show="!nodata">
			        		<ul>
			        			<li>
			        				<div class="li-wrap">
			        					<h4>如意宝<i>17E14(14/19)</i></h4>
				        				<div class="invest-mj-msgtitle">
				        					<span>投资金额(元)</span>
				        					<span>预计收益(元)</span>
				        					<span>还款日期</span>
				        				</div>
				        				<div class="invest-mj-msgcontent">
				        					<span>12000</span>
				        					<span>70.23</span>
				        					<span>2018-01-01</span>
				        				</div>
				        				<p class="invest-state">募集中</p>
			        				</div>			        				
			        			</li>
			        			<li>
			        				<div class="li-wrap">
			        					<h4>如意宝<i>17E14(14/19)</i></h4>
				        				<div class="invest-mj-msgtitle">
				        					<span>投资金额(元)</span>
				        					<span>预计收益(元)</span>
				        					<span>还款日期</span>
				        				</div>
				        				<div class="invest-mj-msgcontent">
				        					<span>12000</span>
				        					<span>70.23</span>
				        					<span>2018-01-01</span>
				        				</div>
				        				<p class="invest-state">募集中</p>
			        				</div>			        				
			        			</li>
			        			<li>
			        				<div class="li-wrap">
			        					<h4>如意宝<i>17E14(14/19)</i></h4>
				        				<div class="invest-mj-msgtitle">
				        					<span>投资金额(元)</span>
				        					<span>预计收益(元)</span>
				        					<span>还款日期</span>
				        				</div>
				        				<div class="invest-mj-msgcontent">
				        					<span>12000</span>
				        					<span>70.23</span>
				        					<span>2018-01-01</span>
				        				</div>
				        				<p class="invest-state">募集中</p>
			        				</div>			        				
			        			</li>
			        		</ul>
			        		
			        	</div>
			        	<!--无数据时 显示-->
		        		<div class="nodata" ng-show="nodata">
		        			there are has nodata
		        		</div>
			        </div>
			        <div class="swiper-slide">
			        	<div class="invest-tz tabli"  id="slide2" ng-show="!nodata">
			        		<ul>
			        			<li>
			        				<div class="li-wrap">
			        					<h4>如意宝<i>17E14(14/19)</i></h4>
				        				<div class="invest-tz-msgtitle">
				        					<span>投资金额(元)</span>
				        					<span>预计收益(元)</span>
				        					<span>还款日期</span>
				        				</div>
				        				<div class="invest-tz-msgcontent">
				        					<span>12000</span>
				        					<span>70.23</span>
				        					<span>2018-01-01</span>
				        				</div>
				        				<p class="invest-state">募集中</p>
			        				</div>			        				
			        			</li>
			        			<li>
			        				<div class="li-wrap">
			        					<h4>如意宝<i>17E14(14/19)</i></h4>
				        				<div class="invest-tz-msgtitle">
				        					<span>投资金额(元)</span>
				        					<span>预计收益(元)</span>
				        					<span>还款日期</span>
				        				</div>
				        				<div class="invest-tz-msgcontent">
				        					<span>12000</span>
				        					<span>70.23</span>
				        					<span>2018-01-01</span>
				        				</div>
				        				<p class="invest-state">募集中</p>
			        				</div>			        				
			        			</li>
			        			<li>
			        				<div class="li-wrap">
			        					<h4>如意宝<i>17E14(14/19)</i></h4>
				        				<div class="invest-tz-msgtitle">
				        					<span>投资金额(元)</span>
				        					<span>预计收益(元)</span>
				        					<span>还款日期</span>
				        				</div>
				        				<div class="invest-tz-msgcontent">
				        					<span>12000</span>
				        					<span>70.23</span>
				        					<span>2018-01-01</span>
				        				</div>
				        				<p class="invest-state">募集中</p>
			        				</div>			        				
			        			</li>
			        		</ul>
			        	</div>
			        	<!--无数据时 显示-->
		        		<div class="nodata" ng-show="nodata">
		        			there are has nodata
		        		</div>
			        </div>
			        <div class="swiper-slide">
			        	<div class="invest-hk tabli"  id="slide3" ng-show="!nodata">
			        		<ul>
			        			<li>
			        				<div class="li-wrap">
			        					<h4>如意宝<i>17E14(14/19)</i></h4>
				        				<div class="invest-hk-msgtitle">
				        					<span>投资金额(元)</span>
				        					<span>预计收益(元)</span>
				        					<span>还款日期</span>
				        				</div>
				        				<div class="invest-tz-msgcontent">
				        					<span>12000</span>
				        					<span>70.23</span>
				        					<span>2018-01-01</span>
				        				</div>
				        				<p class="invest-state">募集中</p>
			        				</div>			        				
			        			</li>
			        			<li>
			        				<div class="li-wrap">
			        					<h4>如意宝<i>17E14(14/19)</i></h4>
				        				<div class="invest-hk-msgtitle">
				        					<span>投资金额(元)</span>
				        					<span>预计收益(元)</span>
				        					<span>还款日期</span>
				        				</div>
				        				<div class="invest-hk-msgcontent">
				        					<span>12000</span>
				        					<span>70.23</span>
				        					<span>2018-01-01</span>
				        				</div>
				        				<p class="invest-state">募集中</p>
			        				</div>			        				
			        			</li>
			        			<li>
			        				<div class="li-wrap">
			        					<h4>如意宝<i>17E14(14/19)</i></h4>
				        				<div class="invest-hk-msgtitle">
				        					<span>投资金额(元)</span>
				        					<span>预计收益(元)</span>
				        					<span>还款日期</span>
				        				</div>
				        				<div class="invest-hk-msgcontent">
				        					<span>12000</span>
				        					<span>70.23</span>
				        					<span>2018-01-01</span>
				        				</div>
				        				<p class="invest-state">募集中</p>
			        				</div>			        				
			        			</li>
			        		</ul>
			        	</div>
			        	<!--无数据时 显示-->
		        		<div class="nodata" ng-show="nodata">
		        			there are has nodata
		        		</div>
			        </div>
			    </div>
			   
			</div>
		</div>
	</div>
	
	
</div>