<!--myCouponCtrl.js-->
<div class="my-coupon" ng-controller="myCouponCtrl">
     <header class="common-header">
    	<i></i>
    	<h3>券包<em>?</em></h3>
    	<span>去投资</span>
    </header>
    <div class="coupon-content">
    	<!--tab切换-->
    	<div class="tab-header">
			<ul>			
				<li>
					<h4 class="active">返现券</h4>
					<div class="red-line"></div>
				</li>
				<li>
					<h4>加息券</h4>
					<div></div>
				</li>
				<li>
					<h4>现金红包</h4>
					<div></div>
				</li>
			</ul>
		</div>
		<!--list列表-->
		<div class="coupon-list">
			<!--content-->
			<div class="swiper-container">
			  <div class="swiper-wrapper">
			  	<!--返现券-->
			    <div class="swiper-slide">
			    	<div class="coupon-list-content" id="slide1">
						<ul>
							<!--返现券coupon-invalid:不可点击背景样式，coupon-valid:可点击背景样式，coupon-selected:已选择的背景样式-->
							<li class="cash-back coupon-valid">
								<div class="coupons-msg-left">
									<h5>返现券</h5>
									<p>满20000元可用 | 期限≥30天</p>
									<p>有效期至 2018-01-06</p>
								</div>
								<div class="coupons-msg-right">
									<p><span>￥</span>200<em></em></p>
								</div>
							</li>
							
							<li class="cash-back coupon-valid">
								<div class="coupons-msg-left">
									<h5>返现券</h5>
									<p>满20000元可用 | 期限≥30天</p>
									<p>有效期至 2018-01-06</p>
								</div>
								<div class="coupons-msg-right">
									<p><span>￥</span>200<em></em></p>
								</div>
							</li>
							<li class="cash-back coupon-invalid">
								<div class="coupons-msg-left">
									<h5>返现券</h5>
									<p>满20000元可用 | 期限≥30天</p>
									<p>有效期至 2018-01-06</p>
								</div>
								<div class="coupons-msg-right">
									<p><span>￥</span>200<em></em></p>
								</div>
							</li>
							
							<li class="cash-back coupon-invalid">
								<div class="coupons-msg-left">
									<h5>返现券</h5>
									<p>满20000元可用 | 期限≥30天</p>
									<p>有效期至 2018-01-06</p>
								</div>
								<div class="coupons-msg-right">
									<p><span>￥</span>200<em></em></p>
								</div>
							</li>
							
						</ul>
					</div>
			    </div>
			    <!--现金红包-->
			    <div class="swiper-slide">
			    	<div class="coupon-list-content2" id="slide2">
						<ul>
							<!--返现券coupon-invalid:不可点击背景样式，coupon-valid:可点击背景样式，coupon-selected:已选择的背景样式-->
							<li class="cash-back coupon-valid">
								<div class="coupons-msg-left">
									<h5>现金红包</h5>
									<p>满20000元可用 | 期限≥30天</p>
									<p>有效期至 2018-01-06</p>
								</div>
								<div class="coupons-msg-right">
									<p><span>￥</span>200<em></em></p>
								</div>
							</li>
							
							<li class="cash-back coupon-valid">
								<div class="coupons-msg-left">
									<h5>现金红包</h5>
									<p>满20000元可用 | 期限≥30天</p>
									<p>有效期至 2018-01-06</p>
								</div>
								<div class="coupons-msg-right">
									<p><span>￥</span>200<em></em></p>
								</div>
							</li>
							<li class="cash-back coupon-invalid">
								<div class="coupons-msg-left">
									<h5>现金红包</h5>
									<p>满20000元可用 | 期限≥30天</p>
									<p>有效期至 2018-01-06</p>
								</div>
								<div class="coupons-msg-right">
									<p><span>￥</span>200<em></em></p>
								</div>
							</li>
							
							<li class="cash-back coupon-invalid">
								<div class="coupons-msg-left">
									<h5>现金红包</h5>
									<p>满20000元可用 | 期限≥30天</p>
									<p>有效期至 2018-01-06</p>
								</div>
								<div class="coupons-msg-right">
									<p><span>￥</span>200<em></em></p>
								</div>
							</li>
							
						</ul>
					</div>
			    </div>
			    <!--加息券-->
			    <div class="swiper-slide">
			    	<div class="coupon-list-content3" id="slide3">
						<ul>
							<!--返现券coupon-invalid:不可点击背景样式，coupon-valid:可点击背景样式，coupon-selected:已选择的背景样式-->
							<li class="cash-back coupon-valid">
								<div class="coupons-msg-left">
									<h5>加息券</h5>
									<p>满20000元可用 | 期限≥30天</p>
									<p>有效期至 2018-01-06</p>
								</div>
								<div class="coupons-msg-right">
									<p><span>+</span>0.5<em>%</em></p>
								</div>
							</li>
							
							<li class="cash-back coupon-valid">
								<div class="coupons-msg-left">
									<h5>加息券</h5>
									<p>满20000元可用 | 期限≥30天</p>
									<p>有效期至 2018-01-06</p>
								</div>
								<div class="coupons-msg-right">
									<p><span>+</span>0.5<em>%</em></p>
								</div>
							</li>
							<li class="cash-back coupon-invalid">
								<div class="coupons-msg-left">
									<h5>加息券</h5>
									<p>满20000元可用 | 期限≥30天</p>
									<p>有效期至 2018-01-06</p>
								</div>
								<div class="coupons-msg-right">
									<p><span>+</span>0.5<em>%</em></p>
								</div>
							</li>
							
							<li class="cash-back coupon-invalid">
								<div class="coupons-msg-left">
									<h5>加息券</h5>
									<p>满20000元可用 | 期限≥30天</p>
									<p>有效期至 2018-01-06</p>
								</div>
								<div class="coupons-msg-right">
									<p><span>+</span>0.5<em>%</em></p>
								</div>
							</li>
							
						</ul>
					</div>
			    </div>
			  </div>
			</div>
			
		</div>		
    </div>
    
    
</div>
