<div class="newhand-wrapper cp-wrapper myTyj">
    <div class="common-head" ng-click="toback()"><i></i><p>{{title}}</p></div>
    <div class='wap-body' style="margin-top: 0;" >
        <ul class="nav nav-pills mb1 my-coupon" >
            <li role="presentation" style="width: 33%" ng-class="{0:'active',1:'',2:''}[active]" ng-click="onClick(0)"><a href="">未使用</a></li>
            <li role="presentation" style="width: 33%" ng-class="{0:'',1:'active',2:''}[active]" ng-click="onClick(1)"><a href="">已使用</a></li>
            <li role="presentation" style="width: 33%" ng-class="{0:'',1:'',2:'active'}[active]" ng-click="onClick(2)"><a href="">已失效</a></li>
        </ul>
                <!-- tab 0 -->
        <div class="h5-coupon" ng-class="{0:'myTyj-coupon',1:'used-coupon',2:'invalid-coupon'}[active]">
            <div class="coupon-card" ng-repeat="coupon in coupons">
                <div class="card-name">
                    <p>体验金</p>
                    <b><span>￥</span>{{coupon.amount}}</b>
                </div>
                <div class="info tyj-info">
                    <p ng-class="{1:'fanxian'}[coupon.type]">使用说明</p>
                    <ul>
                        <li ng-if="coupon.source!=100 && coupon.source!=99">投资期限：{{coupon.productDeadline}}天以上（含{{coupon.productDeadline}}天）</li>
                        <li ng-if="coupon.source==100 || coupon.source==100">投资条件：投资≥{{coupon.enableAmount}}</li>
                        <li>有效期至：{{coupon.expireDate | date:'yyyy.MM.dd'}}</li>
                        <li>体验金类型：<span ng-if="coupon.source==100 || coupon.source==99">新手体验金</span><span ng-if="coupon.source!=100 && coupon.source!=99">普通体验金</span></li> 
                    </ul>
                    <a ui-sref="tyjdetail" ng-if="active==0&&coupon.source!=100"></a>
                    <a ui-sref="main.bankBillList" ng-if="active==0&&coupon.source==100"></a>
                    <span ng-if="coupon.source!=100" class="showa">立即使用</span>
                    <span ng-if="coupon.source==100" class="showa">立即激活</span>
                </div>
                <div class="used" ng-if="active == 1"></div>
                <div class="invalid" ng-if="active == 2"></div>
            </div>
        </div>
    </div>
</div>