<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui,user-scalable=no"/>-->
    <meta name="viewport" content="width=750, user-scalable=no, target-densitydpi=device-dpi">
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <title>恒有钱</title>
    <link  rel="stylesheet" href="../../css/common/reset.css">
    <link  rel="stylesheet" href="../../css/common/common.css">
	<link  rel="stylesheet" href="../../css/myaccount/myaccount.css">
</head>
<body>
	<div class="wrap">
		<div class="content">
			<!--list-->
			<div class="account-content">
				<h3>期数  01</h3>
				<div class="account-bd account-even">
					<div class="bd1">
						<span>收款日</span>
					</div>
					<div class="bd2">
						<span>2015-8-19</span>
					</div>
				</div>
				<div class="account-bd account-odd">
					<div class="bd1">
						<span>应收本金（元）</span>
						<p>00,000,000.00</p>
					</div>
					<div class="bd2">
						<span>应收利息（元）</span>
						<p class="interest">00,000,000.00</p>
					</div>
				</div>
				<div class="account-bd account-even account-last">
					<div class="bd1">
						<span>剩余本金（元）</span>
						<p>00,000,000.00</p>
					</div>
					<div class="bd2">
						<span>应收总额（元）</span>
						<p>00,000,000.00</p>
					</div>
				</div>
			</div>
			<!--list-->
			<div class="account-content">
				<h3>期数  02</h3>
				<div class="account-bd account-even">
					<div class="bd1">
						<span>收款日</span>
					</div>
					<div class="bd2">
						<span>2015-8-19</span>
					</div>
				</div>
				<div class="account-bd account-odd">
					<div class="bd1">
						<span>应收本金（元）</span>
						<p>00,000,000.00</p>
					</div>
					<div class="bd2">
						<span>应收利息（元）</span>
						<p class="interest">00,000,000.00</p>
					</div>
				</div>
				<div class="account-bd account-even account-last">
					<div class="bd1">
						<span>剩余本金（元）</span>
						<p>00,000,000.00</p>
					</div>
					<div class="bd2">
						<span>应收总额（元）</span>
						<p>00,000,000.00</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>