<div class="tradepwd-wrapper" ng-controller="tradepwdCtrl">
	<div class="common-head" ng-click="toback()"><i></i><p>{{title}}</p></div>
	<form name="tpwdSetForm" novalidate ng-submit="submitForm(tpwdSetForm.$valid)" autocomplete="off">
		<input style="display:none">
        <input type="password" style="display:none">
		<!--<div class="pwd-box code-box">
			<a href="" ng-click="getCode()" ng-if="isGetCode == false" class="right">获取验证码</a><span class="right" ng-if="isGetCode == true">{{times}}s重新获取</span><input type="text" class="text" placeholder="请输入短信验证码" name="code" ng-model="trade.code" required onkeyup="this.value=this.value.replace(/[\D\.]/gi,'')" ng-blur="setInput('code')" maxlength="6">
		</div>
		<div class="pwd-box" ng-show="showCode == false">
			<a href="" class="eye right" ng-click="showCode = true"></a><input type="password" name="tpwd" class="text" placeholder="设置交易密码" maxlength="6" required ng-pattern="/^\d{6}$/" ng-model="trade.tpwd" autocomplete="off" ng-blur="setInput('tpwd')" maxlength="6" onkeyup="this.value=this.value.replace(/[\D\.]/gi,'')">
		</div>
		<div class="pwd-box" ng-show="showCode == true">
			<a href="" class="eye right act" ng-click="showCode = false"></a><input type="text" name="retpwd" class="text" placeholder="设置交易密码" maxlength="6" required ng-pattern="/^\d{6}$/" ng-model="trade.tpwd" autocomplete="off" ng-blur="setInput('retpwd')" maxlength="6" onkeyup="this.value=this.value.replace(/ [\D\.]/gi,'')">
		</div>-->
		
		<div class="pwd-box code-box pwd-box-wgx">
			<a href="" ng-click="getCode()" ng-if="isGetCode == false" class="right">获取验证码</a><span class="right" ng-if="isGetCode == true">{{times}}s重新获取</span>
			<input type="text" class="text" placeholder="请输入短信验证码" name="code" ng-model="trade.code" required onKeyUp="this.value=this.value.replace(/[^0-9a-zA-Z]*$/g,'')" maxlength="6">
		</div>
		<div class="pwd-box pwd-box-wgx" ng-show="showCode == false">
			<a href="" class="eye right" ng-click="showCode = true"></a>
			<input type="password" name="tpwd" class="text" placeholder="设置交易密码" maxlength="6" required ng-pattern="/^\d{6}$/" ng-model="trade.tpwd" autocomplete="off" maxlength="6" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d.]/g,'')">
		</div>
		<div class="pwd-box pwd-box-wgx" ng-show="showCode == true">
			<a href="" class="eye right act" ng-click="showCode = false"></a>
			<input type="text" name="retpwd" class="text" placeholder="设置交易密码" maxlength="6" required ng-pattern="/^\d{6}$/" ng-model="trade.tpwd" autocomplete="off" maxlength="6" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d.]/g,'')">
		</div>
		
		<div class="little-tip">交易密码为6位数字组合</div>
		<div class="sub-box" ng-if="firstset == true"><input type="submit" value="设置" class="sub" ng-disabled="tpwdSetForm.$invalid"></div>
		<div class="sub-box" ng-if="firstset == false"><input type="submit" value="修改" class="sub" ng-disabled="tpwdSetForm.$invalid"></div>
	</form>
</div>