<link rel="stylesheet" type="text/css" href="../../less/sign.css"/>
<div class="sign-wrap" ng-controller='signCtrl'>
	<header class="common-header" ng-if="isHeader">
		<i></i>
		<h3>新手福利</h3>
	</header>
	<!--日历组件-->
	<div class="calendar-wrap">
		<div id="calendar"></div>
	    <!--签到天数和签到按钮-->
	    <div class="sign-total">
	    	<p>已连续签到<span> {{signNum}} </span>天/当前积分<em> {{nowIntegral}} </em></p>
	    </div>
	    <div class="sign-btn">
			<button class="sign-btn-click" ng-click="signNow()" ng-disabled='signOk' ng-class="{'btn-grey':isGrey}" ng-bind="signWord">签到</button>
		</div>
		<!--金币装饰-->
		<div class="coin1"></div>
	</div>
	
	<!--签到规则-->
	<div class="sign-rules">
		<div class="coin2"></div>
		<div class="coin3"></div>
	</div>
			
</div>
