
<div class="sign-wrap" ng-controller='signCtrl'>
	<!--日历组件-->
	<div id="calendar"></div>
	<!--签到按钮-->
	<div class="sign-btn">
		<button class="sign-btn-click" ng-click="signNow()" ng-disabled='' ng-class="{'btn-grey':isGrey}" ng-bind="signWord"></button>
	</div>
	<!--连续签到时间/积分总数-->
	<div class="sign-msg-show">
		<!--连签次数-->
		<div class="sign-times">
			已连续签到<span>{{signNum}}</span>天
		</div>
		<!--积分总数-->
		<div class="sign-total-integral">
			当前积分<span>{{nowIntegral}}</span>
		</div>
	</div>
	<!--test-->
	<div class="time">
		{{newtime|date:'yyyy-MM-dd HH:mm:ss'}}
	</div>
	<!--弹窗-->
	<!--遮挡层-->
	<div class="maskbox"></div>
	<!--dialog-->
	<div class="qdbox">
		<div class="text-center text-green font18"><strong>签到成功！</strong></div>
		<div class="text-center pt10">您已经连续签到&nbsp;<span class="text-green">10</span>&nbsp;天</div>
		<div class="btn-yes" ng-click='btnYesClick()'>知道啦！</div>
	</div>
</div>
