<!--交易密码修改成功-->
<!--tradeSetCtr.js-->
<link rel="stylesheet" href="../../less/tade-set-back.css"/>
<div class="wrap" ng-controller="tradeSetFalseCtr">
	<header class="common-header" ng-if="isHeader">
		<i></i>
		<h3>修改失败</h3>
	</header>
	<div class="e-Content-false">
		<div class="gContent-title">
			<p><img src="../../images/myaccount/transaction_failure_empty.png"/></p>
			<p>对不起！</p>
			<p>交易密码修改失败！</p>			
		</div>
		<div class="gConten-btn">
			<a href="https://www.baidu.com?page=45">
				<div class="btn submit" onsubmit="false">完成</div>
			</a>
		</div>
	</div>
</div>
