<!--交易密码修改成功-->
<!--tradeSetCtr.js-->
<link rel="stylesheet" href="../../less/tade-set-back.css"/>
<div class="wrap" ng-controller="tradeSetSucessCtr">
	<header class="common-header" ng-if="isHeader">
		<i></i>
		<h3>修改成功</h3>
	</header>
	<div class="e-Content-tx">
		<div class="gContent-title">
			<p><img src="../../images/myaccount/transaction_empty@2x.png"/></p>
			<p>恭喜你！</p>
			<p>交易密码修改成功！</p>			
		</div>
		<div class="gConten-btn">
			<a href="https://www.baidu.com?page=44">
				<div class="btn submit" onsubmit="false">完成</div>
			</a>
		</div>
	</div>
</div>
