<!---->
<link rel="stylesheet" href="../../less/buy-end.css"/>
<div class="wap-more-box" ng-controller="controllerHpjy">
	<header class="common-header" ng-if="isHeader">
	     <i></i>
	     <h3>帮助与反馈</h3>
    </header>
	<div class="g-section-kf">
		<span>巨如意在线客服，竭诚为您服务</span>
	</div>
	<div class="g-section-qt">
		<p class="g-faq">常见问题</p>
		<div class="g-section-gn">
			<div class="g-cg" ui-sref="bank-savermb">
				<div class="g-gn-div1"></div>
				<p>银行存管</p>
			</div>
			<div class="g-txcz" ui-sref="help-charge">
				<div class="g-gn-div2"></div>
				<p>充值提现</p>
			</div>
			<div class="g-tz" ui-sref="help-tzcp">
				<div class="g-gn-div3"></div>
				<p>投资产品</p>
			</div>
			<div class="g-hd" ui-sref="help-hdjl">
				<div class="g-gn-div4"></div>
				<p>活动奖励</p>
			</div>
		</div>
	</div>
	<div class="g-hotqt">
		<p class="g-hotqt-p">热门问题</p>
		<div class="g-nav-ct">
			<div class="section-a">
				<div class="g-nav-mer click-nav" ng-click="changeToggle($event)">
					<p>如何注册成为******的会员?</p>
					<i></i>
				</div>
				<main style="display: none;">
					<div class="input-item">
						1.请登录http://www.******.com，然后点击右上角的“注册”，根据指引一步步操作即可。<br />
						2.登录H5页面m.******.com进行注册。<br />
						3.下载手机应用进行注册也可以<br />
					</div>
					
				</main>
			</div>
			<div class="section-b">
				<div class="g-nav-bkcg click-nav" ng-click="changeToggle($event)">
					<p>什么是银行存管?</p>
					<i></i>
				</div>
				<main style="display: none;">
					<div class="input-item">
						银行存管是按照有关法律,法规的规定,客户交易结算资金统一交由独立于平台的第三方存管机构来存管。
						第三方存管机构是指具备第三方存管资格的商业银行。存管银行按照法律,法规的要求,负责客户资金的存取与资金交收,
						平台交易操作保持不变。
					</div>
				</main>
			</div>
			<div class="section-b">
				<div class="g-nav-bkcg click-nav" ng-click="changeToggle($event)">
					<p>如何充值?充值收费吗?</p>
					<i></i>
				</div>
				<main style="display: none;">
					<div class="input-item">
						进入“我的账户”，点击【充值】按钮，进入充值页面，选择支付方式，并输入相应的信息进行充值。投资者充值免费，不收取手续费。

					</div>
				</main>
			</div>
			<div class="section-b">
				<div class="g-nav-bkcg click-nav" ng-click="changeToggle($event)">
					<p>注册是否有红包?</p>
					<i></i>
				</div>
				<main style="display: none;">
					<div class="input-item">
						成功注册后，即送新人专享红包。

					</div>
				</main>
			</div>
			<div class="section-b">
				<div class="g-nav-bkcg click-nav" ng-click="changeToggle($event)">
					<p>投标前需要注意什么?</p>
					<i></i>
				</div>
				<main style="display: none;">
					<div class="input-item">
						投标前请认真分析所投资标的详细信息（起头金额，历史年化收益率，投资期限等），以确定是否符合您的要求。
					</div>
				</main>
			</div>
			<div class="section-b">
				<div class="g-nav-bkcg click-nav" ng-click="changeToggle($event)">
					<p>注册短信收不到验证码?</p>
					<i></i>
				</div>
				<main style="display: none;">
					<div class="input-item">
						可联系客服咨询：400-****-****。
					</div>
				</main>
			</div>
		</div>
	</div>
	<!--<div class="g-footer-fk">
		<div class="g-fk">
			<span></span>
			<em>反馈建议</em>
		</div>
		<div class="g-br"></div>
		<div class="g-kf">
			<span></span>
			<em>客服电话</em>
		</div>
	</div>-->
</div>
