<!--controllerRegister.js-->

<div class="wrap login-wrapper imgcode" ng-controller='controllerRegister'>
    <div class="common-head" ui-sref="main.home"><i></i>
        <p>{{title}}</p>
    </div>
    <div class="container register-con">
        <form class="wap-login-box ng-pristine ng-untouched ng-invalid ng-invalid-required" ng-model="fromregister" name="myForm"
            novalidate="">
            <div class="tel-box">
                <input name="mobilephone" type="text" ng-pattern="/^1[3|4|5|7|8][0-9]{9}$/" placeholder="请输入手机号（建议使用银行预留手机号）" ng-model="login.mobilephone"
                    onkeyup="this.value=this.value.replace(/[\D\.]/gi,'')" ng-blur="blurID('focusMobilephone',myForm)" minlength="11"
                    maxlength="11" required>
                <!--<span></span>-->
                <!--<span ng-show="myForm.mobilephone.$valid">{{errorText}}</span>-->
            </div>
            <!--图形验证码-->
            <div>
                <input id="imgcode" type="text" placeholder="请输入图形码" ng-model="login.picCode" name="picCode" minlength="4" maxlength="4"
                    required autocomplete="off" onKeyUp="this.value=this.value.replace(/[^0-9a-zA-Z]*$/g,'')"/>
                <span class="img-box"><img ng-click="clickInput($event)" src="/login/validateCode2.dos"></span>
            </div>
            <div ng-disabled="true">
                <input ng-model="login.smsCode" type="text" placeholder="请输入短信验证码" maxlength="4" required  onKeyUp="this.value=this.value.replace(/[^0-9a-zA-Z]*$/g,'')">
                <span ng-click="getyzm(myForm)">{{nowTimer}}</span>
            </div>
            <div class="tel-box">
                <input autocomplete="off" type="{{(passwordText|isShowPw).type}}" minlength="6" maxlength="18" placeholder="密码为6-18位字母数字混合" ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,18}$/"
                    ng-model="login.passWord" name="passWord" required onKeyUp="this.value=this.value.replace(/[^0-9a-zA-Z]*$/g,'')" />
                <!-- <span></span> -->
            </div>
            <p style="color:#00CDB3;" ng-init="showrec=true;" ng-click="showrec=!showrec;"><span ng-class="showrec==true?'active':''">▼</span><span></span> 推荐人（选填）</p>
            <div ng-if="showrec==true">
                <input type="text" ng-model="login.recommPhone" placeholder="请输入推荐人手机号码" ng-disabled="webFormPath.recommCode != undefined">
                <span></span>
            </div>
            <div style="background:none;border:none;">
                <p><i class="checkbox" ng-click="agree=!agree" ng-class="{checked:agree}" ng-init="agree=true"></i>我已阅读并同意
                    <a href="http://www.bocailicai.cn/registration">《菠菜理财注册协议》</a>
                </p>
            </div>
        </form>
        <button class="reg-btn" ng-click="zuce(myForm)" ng-disabled="!agree">立即注册</button>
        <p>已有账号？<span ui-sref="login">立即登录</span></p>
    </div>
</div>