<!--controllerRegister.js-->
<div class="wrap" ng-controller='controllerSetPassword'>
     <div class="container" >
        <form class="marT">
            <div class="control-group">
                <label class="icon-lock">
                </label>
                <input ng-mode="inputpassword" type="password"  placeholder="请输入交易密码">
            </div>
            <div ng-class="{'color-danger':classusername}" > {{desc_username}}</div>
            <div class="control-group marT2">
                <label class="icon-lock">
                </label>
                <input ng-mode="confirmpassword" type="password"  placeholder="请确认交易密码">
            </div>
            <div ng-class="{'color-danger':classusername}" > {{desc_username}}</div>
            <input type ="submit" class="marT3 button-info"  ng-click="toHome()" value ="确定" >

        </form>
    </div>

</div>