<div class="detail_aqbz">
	<div>
		<h1>顶级律师合规支持</h1>
		<div class="img-box"><img src="images/AQBZ/icon-a.png" alt=""></div>
		<p>巨和宝理财特聘国内顶级律所“君澜（上海）律师事务所”，为巨和宝理财商业模式的合法性、交易模式的合规性提供法律支持。</p>
	</div>
	<div>
		<h1>360°严格风控体系</h1>
		<div class="img-box"><img class="special" src="images/AQBZ/icon-b.png" alt=""></div>
	</div>
	<div>
		<h1>千万级风险拨备金垫付</h1>
		<div class="img-box"><img src="images/AQBZ/icon-c.png" alt=""></div>
		<p>巨和宝理财平台在平台成立之初就在银行储备了千万级存款保障，作为风险拨备金，一旦借款人还款出现预期是，将由风险拨备金进行先行垫付。</p>
	</div>
	<div>
		<h1>技术安全保障</h1>
		<div class="img-box"><img src="images/AQBZ/icon-d.png" alt=""></div>
		<p>应用防火墙和入侵检测系统，系统之间隔离部署、多机房数据备份和容灾，保障系统数据安全；敏感数据采用银行级技术加密，保障用户数据安全；架设多层防火墙，并采用安全套接字（SSL/TLS）技术，切实保障网络传输信道安全高效。</p>
	</div>
</div>