<link rel="stylesheet" href="../../less/buy-end.css" />
<div class="wap-more-bkse" ng-controller="controllerbkcq">
	<!--<header class="common-header">
	     <i></i>
	     <h3>银行存管</h3>
    </header>-->
    <div class="g-hotqt">
		<div class="g-nav-ct">
			<div class="section-a">
				<div class="click-part g-nav-mer" ng-click="changeToggle($event)">
					<p class="g-module-p">什么是银行存管?</p>
					<i></i>
				</div>
				<main style="display: none;">
					<div class="input-item">
						银行存管是按照有关法律,法规的规定,客户交易结算资金统一交由独立于平台的第三方存管机构来存管。
						第三方存管机构是指具备第三方存管资格的商业银行。存管银行按照法律,法规的要求,负责客户资金的存取与资金交收,
						平台交易操作保持不变。
					</div>
				</main>
			</div>
			<div class="section-b">
				<div class="click-part g-nav-bkcg" ng-click="changeToggle($event)">
					<p class="g-module-p">为什么需要银行存管?</p>
					<i></i>
				</div>
				<main style="display: none;">
					<div class="input-item">
						根据《关于促进互联网金融健康发展的指导意见》“（十四）客户资金第三方存管制度。除另有规定外，从业机构应当选择符合条件的银行业金融机构作为资金存管机构，对客户资金进行管理和监督，实现客户资金与从业机构自身资金分账管理。”银行存管是指用户在P2P平台上的交易资金交由银行进行管理，平台无法接触交易资金的一种资金管理模式。借款人、投资人和平台通过在银行方开设存管账户，来实现交易和资金的结算。
					</div>
				</main>
			</div>
			<div class="section-c">
				<div class="click-part g-nav-bkcg" ng-click="changeToggle($event)">
					<p class="g-paymoy g-module-p" >银行存管有什么优势?</p>
					<i></i>
				</div>
				<main style="display: none;">
					<div class="input-item">
						1)系统分账监管<br />
						***接入***银行存管系统后，将由***银行对您的交易资金及平台自有运营资金进行分账监管，二者完全独立且相互隔离，平台无法触碰您的资金。<br />
						2)用户资金存管<br />
						您进行的充值、绑卡、提现等每一笔与资金有关的操作，均需通过***银行资金存管账户，由***银行对您的资金信息进行管理，避免您的资金出现被挪用风险。<br />
						3)用户授权操作<br />
						您需要开通***银行存管账户，并在***银行存管页面单独设立交易密码。在进行任何与资金相关操作时，系统会验证密码，在得到您的授权后，由银行根据交易指令进行资金划转。<br />
						4)交易真实有效<br />
						***银行根据合同约定及您发出的交易指令，对交易流程进行管理并对所有资金流水进行存档记录，确保借贷双方的资金流转和债权关系清晰明确。<br />

					</div>
				</main>
			</div>
			<div class="section-d">
				<div class="click-part g-nav-bkcg" ng-click="changeToggle($event)" style="border-top:none;">
					<p class="g-module-p">如何开通银行存管账户?</p>
					<i></i>
				</div>
				<main style="display: none;">
					<div class="input-item">
						银行存管是按照有关法律,法规的规定,客户交易结算资金统一交由独立于平台的第三方存管机构来存管。
						第三方存管机构是指具备第三方存管资格的商业银行。存管银行按照法律,法规的要求,负责客户资金的存取与资金交收,
						平台交易操作保持不变。
					</div>
				</main>
			</div>
			<div class="section-d">
				<div class="click-part g-nav-bkcg" ng-click="changeToggle($event)" style="border-top:none;">
					<p class="g-module-p">银行存管上线以后多我们的资金有什么影响?</p>
					<i></i>
				</div>
				<main style="display: none;">
					<div class="input-item">
						银行存管是按照有关法律,法规的规定,客户交易结算资金统一交由独立于平台的第三方存管机构来存管。
						第三方存管机构是指具备第三方存管资格的商业银行。存管银行按照法律,法规的要求,负责客户资金的存取与资金交收,
						平台交易操作保持不变。
					</div>
				</main>
			</div>
			<div class="section-d">
				<div class="click-part g-nav-bkcg" ng-click="changeToggle($event)" style="border-top:none;">
					<p class="g-module-p">银行存管上线后对提现有什么影响?</p>
					<i></i>
				</div>
				<main style="display: none;">
					<div class="input-item">
						银行存管是按照有关法律,法规的规定,客户交易结算资金统一交由独立于平台的第三方存管机构来存管。
						第三方存管机构是指具备第三方存管资格的商业银行。存管银行按照法律,法规的要求,负责客户资金的存取与资金交收,
						平台交易操作保持不变。
					</div>
				</main>
			</div>
		</div>
	</div>
</div>

