
<div class="wrap login-wrapper " ng-controller="controllerbuyend">
	<header class="common-header">
	     <i></i>
	     <div class="trigger-wrap">
	     	<ul>
	     		<li>
	     			<span class="active">已售罄</span>
	     			<div class="red-line"></div>
	     		</li>
	     		<li  style="margin-left:0.67rem;">
	     			<span>已还款</span>
	     			<div></div>
	     		</li>
	     	</ul>
	     </div>
    </header>
    <div id="cabCon">
    	<div class="swiper-container">
		    <div class="swiper-wrapper">
		        <div class="swiper-slide">
		        	<div class="mod">
						<ul>
							<li class="mod-list">
								<div class="cn-nav-lt">
									<ul>
										<li>
											<span>如意宝</span>17E14(14/19)
										</li>
										<li>
											<span>11.00</span> 
											<span   class="sub-sup">
												+0.6
												<em>%</em>
											</span>
										</li>
										<li>
											历史年化收益率
										</li>
									</ul>
								</div>
								<div class="cn-nav-rt">
									<ul>
										<li>
											<span>项目周期</span><strong>360</strong>天
										</li>
										<li>
											<span>剩余可投</span> <strong>0</strong>元
										</li>
									</ul>
								</div>
								<div class="cn-nav-img"></div>
							</li>
							<li class="mod-list">
								<div class="cn-nav-lt">
									<ul>
										<li>
											<span>如意宝</span>17E14(14/19)
										</li>
										<li>
											<span>11.00</span> 
											<span   class="sub-sup">
												+0.6
												<em>%</em>
											</span>
										</li>
										<li>
											历史年化收益率
										</li>
									</ul>
								</div>
								<div class="cn-nav-rt">
									<ul>
										<li>
											<span>项目周期</span><strong>360</strong>天
										</li>
										<li>
											<span>剩余可投</span> <strong>0</strong>元
										</li>
									</ul>
								</div>
								<div class="cn-nav-img"></div>
							</li>
							<li class="mod-list">
								<div class="cn-nav-lt">
									<ul>
										<li>
											<span>如意宝</span>17E14(14/19)
										</li>
										<li>
											<span>11.00</span> 
											<span   class="sub-sup">
												+0.6
												<em>%</em>
											</span>
										</li>
										<li>
											历史年化收益率
										</li>
									</ul>
								</div>
								<div class="cn-nav-rt">
									<ul>
										<li>
											<span>项目周期</span><strong>360</strong>天
										</li>
										<li>
											<span>剩余可投</span> <strong>0</strong>元
										</li>
									</ul>
								</div>
								<div class="cn-nav-img"></div>
							</li>
							<li class="mod-list">
								<div class="cn-nav-lt">
									<ul>
										<li>
											<span>如意宝</span>17E14(14/19)
										</li>
										<li>
											<span>11.00</span> 
											<span   class="sub-sup">
												+0.6
												<em>%</em>
											</span>
										</li>
										<li>
											历史年化收益率
										</li>
									</ul>
								</div>
								<div class="cn-nav-rt">
									<ul>
										<li>
											<span>项目周期</span><strong>360</strong>天
										</li>
										<li>
											<span>剩余可投</span> <strong>0</strong>元
										</li>
									</ul>
								</div>
								<div class="cn-nav-img"></div>
							</li>
						</ul>
					</div>
		        </div>
		        <div class="swiper-slide">
		        	<div class="mod">
						<ul>
							<li class="mod-list">
								<div class="cn-nav-lt">
									<ul>
										<li>
											<span>如意宝</span>17E14(14/19)
										</li>
										<li>
											<span>11.00</span> 
											<span   class="sub-sup">
												+0.6
												<em>%</em>
											</span>
										</li>
										<li>
											历史年化收益率
										</li>
									</ul>
								</div>
								<div class="cn-nav-rt">
									<ul>
										<li>
											<span>项目周期</span><strong>360</strong>天
										</li>
										<li>
											<span>剩余可投</span> <strong>0</strong>元
										</li>
									</ul>
								</div>
								<div class="cn-nav-img"></div>
							</li>
							<li class="mod-list">
								<div class="cn-nav-lt">
									<ul>
										<li>
											<span>如意宝</span>17E14(14/19)
										</li>
										<li>
											<span>11.00</span> 
											<span   class="sub-sup">
												+0.6
												<em>%</em>
											</span>
										</li>
										<li>
											历史年化收益率
										</li>
									</ul>
								</div>
								<div class="cn-nav-rt">
									<ul>
										<li>
											<span>项目周期</span><strong>360</strong>天
										</li>
										<li>
											<span>剩余可投</span> <strong>0</strong>元
										</li>
									</ul>
								</div>
								<div class="cn-nav-img"></div>
							</li>
							<li class="mod-list">
								<div class="cn-nav-lt">
									<ul>
										<li>
											<span>如意宝</span>17E14(14/19)
										</li>
										<li>
											<span>11.00</span> 
											<span   class="sub-sup">
												+0.6
												<em>%</em>
											</span>
										</li>
										<li>
											历史年化收益率
										</li>
									</ul>
								</div>
								<div class="cn-nav-rt">
									<ul>
										<li>
											<span>项目周期</span><strong>360</strong>天
										</li>
										<li>
											<span>剩余可投</span> <strong>0</strong>元
										</li>
									</ul>
								</div>
								<div class="cn-nav-img"></div>
							</li>
							<li class="mod-list">
								<div class="cn-nav-lt">
									<ul>
										<li>
											<span>如意宝</span>17E14(14/19)
										</li>
										<li>
											<span>11.00</span> 
											<span   class="sub-sup">
												+0.6
												<em>%</em>
											</span>
										</li>
										<li>
											历史年化收益率
										</li>
									</ul>
								</div>
								<div class="cn-nav-rt">
									<ul>
										<li>
											<span>项目周期</span><strong>360</strong>天
										</li>
										<li>
											<span>剩余可投</span> <strong>0</strong>元
										</li>
									</ul>
								</div>
								<div class="cn-nav-img"></div>
							</li>
						</ul>
					</div>
		        </div>
		    </div>
		</div>
	</div>
</div>