<link rel="stylesheet" href="../../less/buy-end.css" />
<div class="wap-more-bkse" ng-controller="controllerhdjl">
	<header class="common-header" ng-if="isHeader">
	     <i></i>
	     <h3>活动奖励</h3>
    </header>
    <div class="g-hotqt">
		<div class="g-nav-ct">
			<div class="section-a">
				<div class="click-part g-nav-mer" ng-click="changeToggle($event)">
					<p class="g-module-p">如何邀请好友?</p>
					<i></i>
				</div>
				<main style="display: none;">
					<div class="input-item">
						打开APP点击【首页】-【邀请好友】，【发现】-【邀请好友】，【我的】-【邀请好友】，好友通过邀请链接注册成功即视为邀请成功。
					</div>
				</main>
			</div>
			<div class="section-b">
				<div class="click-part g-nav-bkcg" ng-click="changeToggle($event)">
					<p class="g-module-p">积分有什么用?</p>
					<i></i>
				</div>
				<main style="display: none;">
					<div class="input-item">
						积分可在积分商城中兑换礼品。
					</div>
				</main>
			</div>
			<div class="section-c">
				<div class="click-part g-nav-bkcg" ng-click="changeToggle($event)">
					<p class="g-paymoy g-module-p" >体验金怎么计息?</p>
					<i></i>
				</div>
				<main style="display: none;">
					<div class="input-item">
						体验金的利息根据爱家宝的实时收益进行计算。<br />
                                                                        利息=体验金×体检标实时收益÷365×实际持有天数。
					</div>
				</main>
			</div>
			<div class="section-d">
				<div class="click-part g-nav-bkcg" ng-click="changeToggle($event)" style="border-top:none;">
					<p class="g-module-p">红包哪里查看以及如何使用使用?</p>
					<i></i>
				</div>
				<main style="display: none;">
					<div class="input-item">
						打开APP，点击“爱家-券包-理财红包”查看红包具体金额及使用规则。
					</div>
				</main>
			</div>
			
			
		</div>
	</div>
</div>