<link rel="stylesheet" href="../../less/buy-end.css" />
<div class="wap-more-bkse" ng-controller="controllerbkcq">
	<header class="common-header" ng-if="isHeader">
	     <i></i>
	     <h3>银行存管</h3>
    </header>
    <div class="g-hotqt">
		<div class="g-nav-ct">
			<div class="section-a">
				<div class="click-part g-nav-mer" ng-click="changeToggle($event)">
					<p class="g-module-p">信用卡可以充值吗?</p>
					<i></i>
				</div>
				<main style="display: none;">
					<div class="input-item">
						不可以，后台充值只支持储蓄卡（城商行和农信社等不支持）。
					</div>
				</main>
			</div>
			<div class="section-b">
				<div class="click-part g-nav-bkcg" ng-click="changeToggle($event)">
					<p class="g-module-p">提现规则与费用是什么?</p>
					<i></i>
				</div>
				<main style="display: none;">
					<div class="input-item">
						目前受存管银行限制，用户单次提现金额不能超过5万元，每天有2次提现机会。 如您有大额资金需求，建议提前做好安排。我们也将与存管银行进行沟通，争取早日恢复无限额提现。
					</div>
				</main>
			</div>
			<div class="section-c">
				<div class="click-part g-nav-bkcg" ng-click="changeToggle($event)">
					<p class="g-paymoy g-module-p" >如何更换银行卡?</p>
					<i></i>
				</div>
				<main style="display: none;">
					<div class="input-item">
						联系“******”微信客服，并提供注册手机号、本人手持身份证正反面照片可更改银行卡。 工作人员将在2个工作日内处理完毕，并将旧卡资金转移至新卡，如遇节假日则顺延。
					</div>
				</main>
			</div>
			<div class="section-d">
				<div class="click-part g-nav-bkcg" ng-click="changeToggle($event)" style="border-top:none;">
					<p class="g-module-p">为什么会充值失败?</p>
					<i></i>
				</div>
				<main style="display: none;">
					<div class="input-item">
						1、银行卡余额不足以支付充值金额；<br />
						2、交易密码输入有误；<br />
						3、银行卡出现挂失、注销或信息变更等状况；<br />
						如以上无法解决您的问题，请联系客服咨询：400-667-0571。
					</div>
				</main>
			</div>
			<div class="section-d">
				<div class="click-part g-nav-bkcg" ng-click="changeToggle($event)" style="border-top:none;">
					<p class="g-module-p">可以使用非本人的银行卡充值吗?</p>
					<i></i>
				</div>
				<main style="display: none;">
					<div class="input-item">
						暂不支持。
					</div>
				</main>
			</div>
			<div class="section-d">
				<div class="click-part g-nav-bkcg" ng-click="changeToggle($event)" style="border-top:none;">
					<p class="g-module-p">可以撤销提现吗?</p>
					<i></i>
				</div>
				<main style="display: none;">
					<div class="input-item">
						不能。
					</div>
				</main>
			</div>
			<div class="section-d">
				<div class="click-part g-nav-bkcg" ng-click="changeToggle($event)" style="border-top:none;">
					<p class="g-module-p">为什么会提现失败?</p>
					<i></i>
				</div>
				<main style="display: none;">
					<div class="input-item">
						1、银行卡出现挂失、注销或信息变更等状况；<br />
                                                                        如您无法解决，请联系客服咨询：400-667-0571。
					</div>
				</main>
			</div>
			<div class="section-d">
				<div class="click-part g-nav-bkcg" ng-click="changeToggle($event)" style="border-top:none;">
					<p class="g-module-p">银行卡已扣款,但是账户并未增加金额,怎么办?</p>
					<i></i>
				</div>
				<main style="display: none;">
					<div class="input-item">
						因不同银行作划账时间不同，可能导致实际到账时间有延迟。如果没有到账，建议您在半小时后进行查看。 如半小时后仍未到账，请在9:00-21:00期间联系客服（400-667-0571）并提供订单号或手机号，我们将为您核实原因。
					</div>
				</main>
			</div>
			<div class="section-d">
				<div class="click-part g-nav-bkcg" ng-click="changeToggle($event)" style="border-top:none;">
					<p class="g-module-p">银行限额如何提升?</p>
					<i></i>
				</div>
				<main style="display: none;">
					<div class="input-item">
						由支付渠道决定，请参考充值页面的限额列表，以及留意公告。
					</div>
				</main>
			</div>
		</div>
	</div>
</div>