<link rel="stylesheet" href="../../less/buy-end.css" />
<div class="wap-more-bkse" ng-controller="controllertzcp">
	<header class="common-header" ng-if="isHeader">
	     <i></i>
	     <h3>银行存管</h3>
    </header>
    <div class="g-hotqt">
		<div class="g-nav-ct">
			<div class="section-a">
				<div class="click-part g-nav-mer" ng-click="changeToggle($event)">
					<p class="g-module-p">借款人逾期了怎么办?投资人资金安全如何保障?</p>
					<i></i>
				</div>
				<main style="display: none;">
					<div class="input-item">
						***金融与具有担保资格的第三方机构达成战略合作。由第三方机构设立风险准备金，全面保障投资者的本息安全。当借款方出现逾期时，第三方机构先行计提风险准备金并垫付投资者的本息，确保投资者本息安全，并由第三方机构追偿借款人本息。 此外，***金融在恒丰银行开设独立的“服务质保金”存管账户，专项用于完善和提升平台的风控体系建设，强化对投资者的服务保障。截止2017年6月底，“服务质保金”账户余额为人民币****万余元。
					</div>
				</main>
			</div>
			<div class="section-b">
				<div class="click-part g-nav-bkcg" ng-click="changeToggle($event)">
					<p class="g-module-p">投资回款有邮件等通知吗?怎么设置?</p>
					<i></i>
				</div>
				<main style="display: none;">
					<div class="input-item">
						无需设置，有短信提醒，app也会有推送通知，请勿退订106开头的平台短信。
					</div>
				</main>
			</div>
			<div class="section-c">
				<div class="click-part g-nav-bkcg" ng-click="changeToggle($event)">
					<p class="g-paymoy g-module-p" >投资后能不能提前收款?</p>
					<i></i>
				</div>
				<main style="display: none;">
					<div class="input-item">
						暂不支持，转让功能开发中，敬请期待。
					</div>
				</main>
			</div>
			<div class="section-d">
				<div class="click-part g-nav-bkcg" ng-click="changeToggle($event)" style="border-top:none;">
					<p class="g-module-p">如何查看电子合同?</p>
					<i></i>
				</div>
				<main style="display: none;">
					<div class="input-item">
						每笔投资交易均会签订电子合同，可在购买的产品详情页查看。
					</div>
				</main>
			</div>
			<div class="section-d">
				<div class="click-part g-nav-bkcg" ng-click="changeToggle($event)" style="border-top:none;">
					<p class="g-module-p">***的收益为什么比银行或余额宝高这么多?</p>
					<i></i>
				</div>
				<main style="display: none;">
					<div class="input-item">
						***金融平台的产品和银行或余额宝的理财产品投资方向和投资项目不同，所以收益也不同。 资金主要分散投资于供应链金融、严选企业信贷、政府信用基建、国际贸易融资等优质项目。
					</div>
				</main>
			</div>
			<div class="section-d">
				<div class="click-part g-nav-bkcg" ng-click="changeToggle($event)" style="border-top:none;">
					<p class="g-module-p">对投资者的年龄是否有限制?</p>
					<i></i>
				</div>
				<main style="display: none;">
					<div class="input-item">
						由于不同支付渠道对用户年龄要求不同，请以实际支付页面提示为准。
					</div>
				</main>
			</div>
			<div class="section-d">
				<div class="click-part g-nav-bkcg" ng-click="changeToggle($event)" style="border-top:none;">
					<p class="g-module-p">节假日项目到期是否正常还款?</p>
					<i></i>
				</div>
				<main style="display: none;">
					<div class="input-item">
						是的。由于借贷撮合业务调整，平台每天14:00开始按批次还款（具体还款时间以银行结算时间为准），当天24:00前回到账户余额。
					</div>
				</main>
			</div>
			<div class="section-d">
				<div class="click-part g-nav-bkcg" ng-click="changeToggle($event)" style="border-top:none;">
					<p class="g-module-p">投资有哪些安全保障?</p>
					<i></i>
				</div>
				<main style="display: none;">
					<div class="input-item">
						1、银行存管；<br />
						2、风险准备金保障；<br />
						3、银行级数据安全；<br />
						4、法律合规；<br />
						5、全面风险控制体系；<br />
					</div>
				</main>
			</div>
			
		</div>
	</div>
</div>