<div class="newhand-wrapper cp-wrapper " style="padding:0;margin-bottom:1rem;">
    <div class="common-head" ng-click="toback()"><p>{{title}}</p><span class="right" ui-sref="main.myaccountHome">关闭</span></div>
    <div class="investSuccess">
        <div class="investSuccess-info">
            <img src="images/newhand/right.png" />
            <h2>投资成功</h2>
            <dl>
                <dt>{{data.info.fullName}}</dt>
                <dd>投资金额<span>{{data.investAmount}}元</span></dd>
                <dd>投资期限<span>{{data.info.deadline}}天</span></dd>
                <dd>历史年化收益率
                    <span>{{data.info.rate}}%
                        <span ng-if="data.isOldUser==true && (data.info.activityRate>0||data.specialRate>0)">
                            +{{data.info.activityRate + data.specialRate}}%
                        </span>
                        <span ng-if="data.isOldUser==false && data.info.activityRate>0">
                            +{{data.info.activityRate}}%
                        </span>
                    </span>
                </dd>
                <dd>待收收益<span>{{data.shouyi}}元</span></dd>
                <dd>已用红包
                    <span ng-if="!data.coupon||!data.coupon.type||!data.coupon.id">未使用</span>
                    <span ng-if="data.coupon">{{couponText}}</span>
                </dd>
            </dl>
        </div>
        <div class="success-info" ng-if="data.info.type!=1">
            <img src="images/newhand/investsuccess.png" />
            <ul>
                <li>购买成功<br />{{data.investTime|date:"yyyy.MM.dd"}}</li>
                <li>产品成立<br />{{data.info.establish|date:"yyyy.MM.dd"}}</li>
                <li>产品到期<br />{{data.info.expireDate|date:"yyyy.MM.dd"}}</li>
            </ul>
        </div>
    </div>
</div>