<link rel="stylesheet" type="text/css" href="../../less/invest-orderDetailMy.css"/>
<div class="invest-orderDtail wrap" ng-controller="controllerOrderDtail">
	<!--顶部-->
    <header class="common-header">
	    <i></i>
	    <h3>订单详情</h3>
	    <span class="project-detail">项目详情</span>
    </header>
    <div class="invest-orderDtail-content">
    	<!--顶部信息-->
    	<div class="content-top-msg">
    		<h4>巨金宝17F49(15/35)</h4>
    		<p>
    			<span>年化收益率 13.00%</span>
    			<em>封闭期 90天</em>
    		</p>
    	</div>
    	
    	<!--订单金额-->
    	<div class="order-amount">
    		<dl>
    			<dt>订单金额</dt>
    			<dd class="color-grey">
    				<p>实付金额</p>
    				<span>10000</span>
    			</dd>
    			<dd>
    				<p>账户余额</p>
    				<span class="count-amount">0</span>
    			</dd>
    			<dd class="color-grey">
    				<p>预计合计本息</p>
    				<span>0</span>
    			</dd>
    			<dd>
    				<p>优惠</p>
    				<span>返现券<i>+118</i></span>
    			</dd>
    			<dd class="color-grey">
    				<span>加息券<i>+3%</i></span>
    			</dd>
    		</dl>
    	</div>
    	<!--其他-->
    	<div class="others">
    		<dl>
    			<dt>其他</dt>
    			<dd>
    				<p>118元返现红包</p>
    				<span class="userd">已使用</span>
    			</dd>
    			<dd class="color-grey">
    				<p>3%加息券</p>
    				<span class="userd">已使用</span>
    			</dd>
    			
    		</dl>
    	</div>
    	<!--按钮-->
    	<div class="btn-check">
    		<button>余额不足,去充值</button>
    	</div>
    </div>
</div>
