<!--conttrollers/controllerCplist.js-->
<div class="wrap list-wrapper" ng-controller="controllerCpList">
	<!--tab类型切换-->
	<div class="tab-header">
		<ul>
			<li class="tab-cpnox-newfish">
				<h4 class="active">新手理财</h4>
				<div class="red-line"></div>
			</li>
			<li class="tab-cpnox-common">
				<h4 ng-class="{'active':!isShowNewFish}">常规产品</h4>
				<div ng-class="{'red-line':!isShowNewFish}"></div>
			</li>
			<li>
				<h4>限时活动</h4>
				<div></div>
			</li>
		</ul>
	</div>
	<!--投资列表内容-->
	<div class="swiper-container">
	    <div class="swiper-wrapper">
	        <div class="swiper-slide cpnox-newfish">
	        	<!--新手理财-->
				<div class="cpnox-newfish-content">
					<ul>
						
						<li>
							<div class="cpbox-newfish-title">
				        		新手理财
				        		<span>17E14(14/19)</span>
				        	</div>
				        	<div class="li-newfish-content">
				        		<div class="li-content-left">
				        			<p><span>11.00%</span></p>
				        			<span>历史年化收益率</span>
				        		</div>
				        		
				        		<div class="line-wrap">
				        			<div class="li-content-line"></div>
					        		<div class="li-content-right">
					        			<p>项目周期<em>7天</em></p>
					        			<span>剩余可投<i>1,000</i>元</span>
					        		</div>
				        		</div>
				        		
				        	</div>
						</li>
						<li>
							<div class="cpbox-newfish-title">
				        		新手理财
				        		<span>17E14(14/19)</span>
				        	</div>
				        	<div class="li-newfish-content">
				        		<div class="li-content-left">
				        			<p><span>11.00%</span></p>
				        			<span>历史年化收益率</span>
				        		</div>
				        		
				        		<div class="line-wrap">
				        			<div class="li-content-line"></div>
					        		<div class="li-content-right">
					        			<p>项目周期<em>7天</em></p>
					        			<span>剩余可投<i>1,000</i>元</span>
					        		</div>
				        		</div>
				        		
				        	</div>
						</li>
					</ul>
				</div>
	        </div>
	        <div class="swiper-slide">
	        	<!--常规产品-->
				<div class="cpnox-common-content">
					<ul>
						<li>
							<div class="cpbox-common-title">
				        		常规产品
				        		<span>17E14(14/19)</span>
				        	</div>
				        	<div class="li-common-content">
				        		<div class="li-content-left">
				        			<p><span>11.00%</span></p>
				        			<span>历史年化收益率</span>
				        		</div>
				        		
				        		<div class="line-wrap">
				        			<div class="li-content-line"></div>
					        		<div class="li-content-right">
					        			<p>项目周期<em>7天</em></p>
					        			<span>剩余可投<i>1,000</i>元</span>
					        		</div>
				        		</div>
				        		
				        	</div>
						</li>
						
					</ul>
				</div>
	        </div>
	        <div class="swiper-slide">
	        	<!--限时活动-->
				<div class="cpnox-activity-content">
					<ul>
						<li>
							<div class="cpbox-activity-title">
				        		限时活动
				        		<span>17E14(14/19)</span>
				        	</div>
				        	<div class="li-activity-content">
				        		<div class="li-content-left">
				        			<p><span>11.00%</span></p>
				        			<span>历史年化收益率</span>
				        		</div>
				        		
				        		<div class="line-wrap">
				        			<div class="li-content-line"></div>
					        		<div class="li-content-right">
					        			<p>项目周期<em>7天</em></p>
					        			<span>剩余可投<i>1,000</i>元</span>
					        		</div>
				        		</div>
				        		
				        	</div>
						</li>
						<li>
							<div class="cpbox-activity-title">
				        		限时活动
				        		<span>17E14(14/19)</span>
				        	</div>
				        	<div class="li-activity-content">
				        		<div class="li-content-left">
				        			<p><span>11.00%</span></p>
				        			<span>历史年化收益率</span>
				        		</div>
				        		
				        		<div class="line-wrap">
				        			<div class="li-content-line"></div>
					        		<div class="li-content-right">
					        			<p>项目周期<em>7天</em></p>
					        			<span>剩余可投<i>1,000</i>元</span>
					        		</div>
				        		</div>
				        		
				        	</div>
						</li>
					</ul>
				</div>
	        </div>
	    </div>	    
	</div>		
</div>
