
		<div class="wrapper-pj">
			<header class="common-header">
				<i></i>
				<h3>巨金宝</h3>
				<span>协议</span>
			</header>
			<div class="g-container-tp">
				
				<div class="g-container-profit">
					<div class="g-container-main">
						<p>预期收益(元)</p>
						<p>562.00</p>
						<p>投资中</p>
					</div>
				</div>
				<div class="g-container-detail">
					<ul>
						<li>投资金额</li>
						<li>历史年华收益率</li>
						<li>基础预期收益(元)</li>
						<li>优惠合计</li>
					</ul>
					<ul>
						<li>10.000.00</li>
						<li>9.60%</li>
						<li>696.00</li>
						<li>236.00</li>
					</ul>
				</div>
				<div class="g-container-inst">
					<ul>
						<li class="discount">返现劵</li>
						<li class="discount">加息劵</li>
						<li>募集期平台贴息</li>
						<li>活动贴息</li>
					</ul>
					<ul>
						<li>200.00</li>
						<li>33.00</li>
						<li>20.00</li>
						<li>10.00</li>
					</ul>
				</div>
			</div>
			<div class="g-container-nav">
				<div class="g-nav-dse">
					<div class="g-nav-con">
						<p>距离还款(天)</p>
						<p>32</p>
					</div>
				</div>
				<div class="g-nav-date">
					<ul>
						<li>项目周期(天)</li>
						<li>实际还款日期</li>
						<li>投资日期</li>
						<li>计息日期</li>
						<li>项目成立日期</li>
						<li>还款方式</li>
					</ul>
					<ul>
						<li>30</li>
						<li>2018-03-02</li>
						<li>2018-03-02</li>
						<li>2018-03-02</li>
						<li>2018-03-02</li>
						<li>一次性还本利息</li>
					</ul>
				</div>
			</div>
			<div class="cn-nav-ft">
				<a ng-click="goto('公司介绍')"><div><i class="gywm-txt txt">走进巨和宝</i><p><span></span></p></div></a>
				<a ng-click="goto('管理团队')"><div class="cn-nav-div"><i class="gywm-txt txt">管理团队</i><p><span></span></p></div></a>
			</div>
		</div>

