<!--tyjdetailController.js?-->
<div class="newhand-wrapper cp-wrapper tyjdetail">
    <div class="common-head" ng-click="toback()"><i></i><p>{{title}}</p></div>
    <main class="main">
        <h2>体验金专享</h2>
        <h3>体验理财乐趣，享受投资收益</h3>
        <div class="center-box">
            <div>
                <h4>历史年化</h4>
                <p>{{data.Info.rate}}%<span ng-if="data.Info.activityRate>0">+{{data.Info.activityRate}}%</span></p>

            </div>
            <div>
                <h4>投资期限</h4>
                <p>1<i>天</i></p>
            </div>
            <footer></footer>
        </div>
        <p class="message">已有{{data.investCount}}人赚到了钱</p>
    </main>
    <div class="rule-box">
        <header>
            <p>计算收益：</p>
            <p>小明有50000元体验金，那么他的到期收益为</p>
            <p>50000*{{data.Info.rate}}%/360*1=<span>{{50000*(data.Info.rate)/100/360 | number:2}}元</span></p>
        </header>
        <div class="rule">
            <p><img src="images/activity/tyj/rule-icon.png"> 体验标说明</p>
            <ul>
                <li>仅限使用巨和宝理财体验金进行投资，标的为虚拟体验，可产生投资收益；</li>
                <li>投资体验标无需实名认证，投资次日计息；</li>
                <li>体验标投资到期后，所得收益以现金形式存入用户的平台账户，归用户所有，可提现；</li>
                <li>体验金收益需完成一次真实投资后才可提现；</li>
                <li>投资后体验金本金会由平台收回。 本规则解释权归巨和宝理财所有；</li>
                <li>如有疑问请拨打客服热线：400-111-0866</li>
            </ul>
        </div>
    </div>
    <button ng-click="confirm=true;canInvest=true;" class="tyj-button">立即投资</button>
    <div ng-if="confirm==true" class="confirm-box">
        <main>
            <h3>确认支付</h3>
            <div ng-click="changeSelect()" class="quan-box">
                <div class="quan">
                    <img src="images/activity/tyj/quan.png">
                    <div>
                        <p>使用体验金支付</p>
                        <p>共计{{data.experienceAmount.experAmount || 0}}元</p>
                    </div>
                </div>
                <div class="correct">
                    <img ng-if="canInvest==true" src="images/activity/tyj/correct.png">
                </div>
            </div>
            <p class="info">* 体验金不可与其他优惠同时使用，支付后扣除</p>
            <button ng-click="investment()" ng-disabled="!canInvest" class="confirm-button">确认</button>
            <img ng-click="close()" class="close" src="images/activity/tyj/close-icon.png">
        </main>
    </div>
</div>