<!--公司资质-->
<link rel="stylesheet" type="text/css" href="../../less/infor-mege.css"/>
<div class="a-apde-wrap">
	<header class="common-header" ng-if="false">
		<i></i>
		<h3>公司资质</h3>
	</header>
	<div class="a-apde-main">
		<p>巨如意（www.juruyi168.com）是巨和投资管理（上海）有限公司的一款线上理财平台，是微金融行业里的诚信示范平台。</p>
		<p>巨和投资管理（上海）有限公司成立于2008年，是上海金融信息行业协会副会长单位。公司致力于提供信息交互、资产配置咨询、财富规划咨询、资信评估等多层次中介服务。2016年初经资产重组成立嘉善巨和金融外包有限公司和境外控股公司JUHE CAPITAL HOLDINGS LIMITED(巨和资本控股有限公司或简称“巨和资本”)，
			同年在澳大利亚国家证券交易所(NSX)挂牌上市交易(股票代码：JCL)。目前，巨和资本现已正式启动美国纳斯达克上市计划。</p>
		<p>巨如意秉承着诚信、进取、共享的运营理念，以专业的互联网技术为用户提供低风险、低门槛、高性价比的投资理财服务。平台通过第三方支付机构实现账户分离、专款专用，并积极对接四川天府银行进行银行存管。只为投资者提供公开、透明、合规、专业的金融信息服务和稳定、便捷、安全的理财产品。</p>
		<p>自始自终，巨如意不忘初心，积极响应国家对行业发展的指导意见，严格遵守法律法规，坚持合规化运营，以严苛的风控审查和控制流程，对每一个项目进行考察筛选，多途径多交叉验证审核，降低投资风险保障投资人利益，为投资者打造一个值得信赖的互联网金融服务平台。</p>
		<div class="a-apde-cfe">
			<div class="a-apde-img">
				<div class="apde-img1" style="width: 8.53rem;margin: 0 auto;"></div>
				<div class="apde-img2"></div>
			</div>
		</div>
		<p>2016年04月   巨和荣获：“中国国际电子商务中心重点信用认证企业”</p>
		<p>2015年08月   巨和受聘为：“上海金融信息行业协会副会长单位”</p>
	</div>
</div>
