<!--js/conttrollers/aqbzCtrl.js-->
<div class="wap-more-box" ng-controller="aqbzCtrl">
    <div class="common-head" ng-click="toback()" ng-if="wap"><i></i>
        <p>{{title}}</p>
    </div>
    <div class="aqbz-wrap">
        <img src="images/newaqbz/banner.png" alt="" class="banner">
        <div>
            <h1>国企全资控股</h1>
            <div class="img-box"><img style="width:9rem;" src="images/newaqbz/icon-a.png" alt=""></div>
            <p>上海高溪金融信息服务有限公司（巨和宝理财）是由上海犇序实业有限公司独立投资的互联网金融信息平台，实缴注册资金5000万元人民币。上海犇序实业有限公司及其母公司国际中富达实业总公司是由中国扶贫开发协会全资的全民所有制企业，是完整国资背景的公司。</p>
        </div>
        <div>
            <h1>真实的借款项目</h1>
            <div class="img-box"><img src="images/newaqbz/icon-b.png" alt=""></div>
            <p>巨和宝理财推荐的每一款产品均有相对应的资产，对借款企业信息进行详细的披露，同时对借款企业进行贷前、贷中、贷后管理。</p>
        </div>
        <div>
            <h1>顶级律师合规支持</h1>
            <div class="img-box"><img style="width:9rem;" src="images/newaqbz/icon-c.png" alt=""></div>
            <p>巨和宝理财特聘国内顶级律所北京长安（上海）律师事务所，为巨和宝理财商业模式的合法性、交易模式的合规性提供法律支持。</p>
        </div>
        <div>
            <h1>六重还款来源，保证资金安全</h1>
            <div class="img-box"><img style="width:10rem;" src="images/newaqbz/icon-d.png" alt=""></div>
            <ul>
                <li>一、原始债务企业为第一还款人，负有还款责任。</li>
                <li>二、当原始债务企业出现还款逾期时，原始债务企业的实际控制人承担无限连带保证责任，为第二还款人，负有还款责任。</li>
                <li>三、当第一、第二还款人出现还款逾期时，签订过商业保理协议业务的商业保理公司为第三还款人，负有还款责任。</li>
                <li>四、当以上还款人出现还款逾期时，签订过担保协议的担保公司为第四还款人，负有还款责任。</li>
                <li>五、当以上还款人出现还款逾期时，平台追索基于应收账款、票据融资的交易对手企业为第五还款人。</li>
                <li>六、银行账户千万级存款保障，逾期先行垫付，为平台用户提供最贴心和安全的服务。</li>
            </ul>
        </div>
        <div>
            <h1>银行级别风控</h1>
            <div class="img-box"><img src="images/newaqbz/icon-e.png" alt=""></div>
            <p>成熟的风控系统，风控团队对融资企业进行尽职调查，通过国企央企等核心企业确认其上下游供应商的应收账款的真实性及企业经营状况，对融资企业进行严格审核评级。</p>
        </div>
        <div>
            <h1>技术安全保障</h1>
            <div class="img-box"><img style="width:11rem;" src="images/newaqbz/icon-f.png" alt=""></div>
            <p>应用防火墙和入侵检测系统，系统之间隔离部署、多机房数据备份和容灾，保障系统数据安全；敏感数据采用银行级技术加密，保障用户数据安全；架设多层防火墙，并采用安全套接字（SSL/TLS）技术，切实保障网络传输信道安全高效。</p>
        </div>
        <div>
            <h1>隐私安全保障</h1>
            <div class="img-box"><img src="images/newaqbz/icon-g.png" alt=""></div>
            <p>设有严格的安全系统以防止未经授权的任何人包括本公司的职员获取客户信息。</p>
        </div>
    </div>
</div>
