

<link rel="stylesheet" href="../../less/discount-rule.css"/>
<div class="wrap-rule">
	<header class="common-header" ng-if="false">
		<i></i>
		<h3>优惠券</h3>
	</header>
	<div class="r-rule-header"></div>
	<div class="r-rule-content">
		<h3>使用规则</h3>
		<p>1.返现红包需要用户投资满足相应条件且在投资时"优惠券"里勾选使用返现红包,用户投资后,该返现红包将直接发送到"我的-我的卷包",用户点击后可立即到账；</p>
		<p>2.加息劵在满足相应条件且在投资时"优惠券"里勾选,用户在投资后将自动加息；</p>
		<p>3.不同类型的优惠券可以叠加使用；</p>
		<p>4.体验标,活动标,新手标不用使用优惠券；</p>
		<p>5.各类优惠券必须在有效期内使用,过期即失效；</p>
		<p>6.优惠券使用规则的最终解释权归巨如意平台所有。</p>
	</div>
</div>
