<!--controllerSign.js-->

<div class="wap-more-box" ng-controller="GLTDCtrl">
	<div class="common-head" ng-click="toback()" ng-if="wap=='true'"><i></i><p>管理团队</p></div>
	<div class="gltd-content">
        <div class="banner">
             <img src="images/more/gltd-banner.png">             
        </div>
         <img src="images/more/gltda.png"> 
         <img src="images/more/gltdb.png"> 
         <img src="images/more/gltdc.png"> 
         <img src="images/more/gltdd.png"> 
         <img src="images/more/gltde.png"> 
    </div>
</div>