<!--走进巨和-->
<link rel="stylesheet" type="text/css" href="../../less/infor-mege.css"/>
<div class="goto-juhe-wrap">
	<header class="common-header" ng-if="false">
		<i></i>
		<h3>公司资质</h3>
	</header>
	<div class="goto-content">
		<h3 class="title">巨和资本</h3>
		<p class="goto-inner">
			巨如集团成员之一，上海金融信息行业协会副会长单位。巨和投资管理(上海)有限公司成立于2008年，2016年初经资产重组成立嘉善巨和金融外包有限公司和境外控股公司JUHE CAPITAL HOLDINGS LIMITED(巨和资本控股有限公司或简称“巨和资本”)，同年在澳大利亚国家证券交易所(NSX)挂牌上市交易(股票代码：JCL)。巨和资本通过严苛的信用审查和风险控制流程，全方位提供公开、透明、合规、专业的金融信息中介服务平台。公司致力于提供信息交互、资产配置咨询、财富规划咨询、资信评估等多层次中介服务。公司历经九年发展，拥有专业的核心运营团队，为每一位投资者量身定制理财方案，为投资人资金有效升值保驾护航。
		</p>
		<p class="goto-adress">地址：上海市浦东新区浦东大道720号国际航运金融大厦7楼H座。</p>
	</div>
</div>