<!--controllerSign.js-->
<div class="wap-more-box" ng-controller="GSJSCtrl">
	<div class="common-head" ng-click="toback()" ng-if="wap=='true'"><i></i><p>{{title}}</p></div>
	<div class="zjjs-content">
        <img src="/images/more/qiantai.jpg" alt="">
        <div class="gsjj-box">
            <h2>公司简介</h2>
            <p>巨和宝理财（www.bocailicai.cn）是一家由国资全资（上海犇序实业有限公司）控股的互联网金融信息中介平台。平台隶属于上海高溪金融信息服务有限公司，公司成立于2015年，实缴注册资金5000万人民币。</p>
            <br>
            <p>作为国资控股平台，巨和宝理财旨在通过互联网技术为中小微企业及个人提供专业、透明、高效的金融信息服务，从而提升社会闲散资金的流通效率。帮助中小微企业实现更为高效、低成本的融资，同时为投资者提供低风险、低门槛、性价比高的投资理财服务。</p>
            <br>
            <p>巨和宝理财具有完整的借贷项目开发、风控审核体系、产品合规、研发、运营市场、财务及客服等职能体系。以严格的风控机制和审核流程，对每个项目进行线下考察、评估和审核，确保风险可控，同时在成立之初即与北京长安（上海）律师事务所合作，所有产品均由律师事务所鉴证和会计师事务所进行审计，确保资产真实，并由第三方机构为用户投资提供担保，以保证投资者权益。</p>
        	<br>
            <p>平台通过第三方支付机构“富友”实现账户分离、专款专用，同时积极响应银监会对行业发展的指导意见，积极对接银行存管，致力于打造一个值得信赖的、高效的互联网金融服务平台，坚持风险控制为核心，创造价值为理念，诚信合规为己任，以赢得广大投资客户的良好口碑，为普惠金融贡献一份力量！</p>
        </div>
        <div class="ywms-box">
            <h2>业务模式</h2>
            <img src="/images/more/ywms.png" alt="">
        </div>
    </div>
</div>