<!--controllerSign.js-->

<div class="wap-more-box" ng-controller="GSZZCtrl" ng-init="isYY=false">
	<div class="common-head" ng-click="toback()" ng-if="wap=='true'"><i></i><p>公司资质</p></div>
	<div class="gszz-content">
        <div class="content" ng-show="!isYY">
            <!-- <img src="images/more/zzhao.png"> -->
            <img src="/images/more/app-3.jpg" alt="">
            <img src="/images/more/app-1.jpg" alt="">
            <img src="/images/more/app-2.jpg" alt="">
            <p>国资控股，企业信用信息查询系统可查询详情</p>
        </div>
    </div>
</div>