<!--controllerSign.js-->

<div class="wrap wap-more-box" ng-controller="GYWMCtrl">
	<div class="common-head" ng-click="toback()" ng-if="wap=='true'"><i></i><p>{{title}}</p></div>
	<div class="more-bg">
		<a ng-click="goto('公司介绍')"><div><i class="gywm-txt txt">走进巨和宝</i><p><span>></span></p></div></a>
		<a ng-click="goto('管理团队')"><div><i class="gywm-txt txt">管理团队</i><p><span>></span></p></div></a>
		<a ng-click="goto('公司资质')"><div><i class="gywm-txt txt">公司资质</i><p><span>></span></p></div></a>
		<!-- <a ng-click="goto('多重保障')"><div><i class="gywm-txt txt">多重保障</i><p><span>></span></p></div></a> -->
		<a ng-click="goto('网站公告')"><div><i class="gywm-txt txt">网站公告</i><p><span>></span></p></div></a>
	</div>
	<!--<div class="banner"><img style="width: 100%;" src="images/more/ico_aboutus.png"></div>-->
</div>
