<!--moreCtrl.js-->
<div class="wrap wap-more-box" ng-controller="moreController">
	<div class="more-bg">
		<a href="/GYWM?wap=true"><div><i class="txt">信息披露</i><p><span>></span></p></div></a>
		<div style="height:auto;overflow: hidden;"><a>客服热线</a><p class="time">400-111-0866</br><font>工作日：9:00 - 21:00<br />周末及节假日：9:00 - 18:00</font></p></div>
		<div ui-sref="YJFK"><a>意见反馈</a><p><span>></span></p></div>
		<div><a>版本号</a><p>v {{version}}</p></div>
		<div ng-click="out('out')">
	             <a>   退出</a>
	    </div>
	</div>
</div>