<!--借款协议-->
<div class="protocol-invest" ng-controller="protolController">
	<!--顶部-->
    <header class="common-header">
	    <i></i>
	    <h3>借款协议</h3>	    
    </header>   	    
    <div class="protocol-content">
    	<h3 class="protocol-title">债权转让协议</h3>
    	<div class="user-jy">
    		<div class="user-j">
    			<h5>甲方（债权转让人）: 夏**</h5>
    			<p>身 份 证 号 码: 310************035</p>
    		</div>
    		<div class="user-y">
    			<h5>乙方（债权受让人）:</h5>
    			<p>身 份 证 号 码:</p>
    		</div>
    	</div>
    	<div class="protocol-content-inner">
    		<p class="inner-tips">鉴于甲方在巨和投资管理(上海)有限公司运营管理的巨如意平台（“巨如意”www.juheinvest.cn以下简称平台）上对债务人拥有合法债权，现甲方将其债权通过平台转让给乙方。双方达成如下协议：</p>
    	    <div class="inner-content">
    	    	<ul>
    	    		<li>
    	    			<h5>第一条  标的债权</h5>
    	    			<table border="1" cellspacing="0" cellpadding="0">    	    				
    	    				<tr>
    	    					<td>借款协议编号</td>
    	    					<td>20180120000000006549</td>
    	    				</tr>
    	    				<tr>
    	    					<td>项目名称</td>
    	    					<td>巨金宝17F50(16/22)</td>
    	    				</tr>
    	    				<tr>
    	    					<td>转让债权金额</td>
    	    					<td>100.00元</td>
    	    				</tr>
    	    				<tr>
    	    					<td>债权年化利率</td>
    	    					<td>13.00%</td>
    	    				</tr>
    	    				<tr>
    	    					<td>还款方式</td>
    	    					<td>按日计息,到期还本还息</td>
    	    				</tr>
    	    				<tr>
    	    					<td>债权到期日</td>
    	    					<td>借款还款完成日</td>
    	    				</tr>
    	    				<tr>
    	    					<td>债权金额</td>
    	    					<td>100,000.00元</td>
    	    				</tr>
    	    				<tr>
    	    					<td>标的债权收益起算日</td>
    	    					<td>募集成功次日计息</td>
    	    				</tr>
    	    			</table>
    	    		</li>
    	    		<li>
    	    			<h5>第二条 债权转让</h5>
    	    			<div class="word-inner">
    	    				<p>1、标的债权转让日为本协议生效之日，即甲方将标的债权转让给乙方，且乙方向甲方支付标的债权全部转让价款之日。</p>
    	    				<p>2、除本协议另有约定外，自标的债权转让日起（包括该转让日），甲方基于标的债权所享有的标的债权及其附属的一切权利、利益均转让给乙方。</p>
    	    				<p>3、甲乙双方一致确认，乙方根据本协议约定受让债权文件项下的标的债权，债权文件项下的与标的债权有关的任何义务和责任（如有）由甲方承担，乙方对此不承担任何责任。</p>
    	    				<p>4、标的债权转让通过巨如意平台站内消息的方式通知债务人，站内消息一经发出即视为送达。</p>
    	    				<p>5、乙方应于标的债权转让日一次性向甲方支付转让价款。乙方在此不可撤销地授权巨和投资管理(上海)有限公司委托其指定的第三方支付机构或监管银行于本协议成立时将标的债权转让价款全部划转至甲方第三方支付平台账户中，划转完毕即视为标的债权转让完毕。</p>
    	    			    <!--<p></p>-->
    	    			</div>
    	    		</li>
    	    		<li>
    	    			<h5>第三条 权利与义务</h5>
    	    			<div class="word-inner">
    	    				<p>1、甲方已就签署并履行本协议不违反对其有约束力或有影响的法律法规或协议的限制；本协议签署后，即构成对其合法、有效和有约束力的义务。</p>
    	    				<p>2、乙方保证其支付受让标的债权的资金来源合法，乙方是该资金的合法所有人，如果第三方对资金归属、合法性问题发生争议，由乙方自行负责解决。</p>
    	    				<p>3、乙方保证其用于受让标的债权的投标资金为其合法所有或享有支配权的财产，前述投标资金与与其他任何个人、法人及其他组织不存在法律上的任何纠纷。</p>
    	    				
    	    			</div>
    	    		</li>
    	    		<li>
    	    			<h5>第四条 相关费用承担</h5>
    	    			<div class="word-inner">
    	    				<p>1、除各方签署的其他协议另有约定外，各方应按照现行有效的中国法律法规的规定各自承担其因签署和履行本协议而产生的相应税费。</p>
    	    				
    	    			</div>
    	    		</li>
    	    		<li>
    	    			<h5>第五条 协议变更</h5>
    	    			<div class="word-inner">
    	    				<p>1、本协议的任何修改、补充均须以巨如意平台电子文本形式作出。</p>
    	    				<p>2、变更后的内容或补充协议与本协议具有同等法律效力，如果变更后的内容或补充协议与本协议发生冲突，以变更后的内容或补充协议为准。</p>
    	    				<p>本协议的签署、生效、履行、解释、修改和终止等事项均适用中华人民共和国现行法律法规。</p>
    	    				<p>如果本协议中的任何一条或多条违反适用的法律法规，则该条将被视为无效，但该无效条款并不影响本协议其他条款的效力。</p>
    	    				<p style="text-indent: 2em;">各方因履行本协议或与本协议有关的所有争议均应当以友好协商的方式解决，协商不成的，任何一方均可向巨和投资管理(上海)有限公司所在地人民法院提起诉讼。</p>
    	    			</div>
    	    		</li>
    	    	</ul>
    	    </div>
    	</div>
    </div>
</div>
