<!--管理团队-->
<link rel="stylesheet" href="../../less/team-intro.css"/>
<div class="wrap-teamIntro">
	<header class="common-header" ng-if="false">
		<i></i>
		<h3>团队介绍</h3>
	</header>
	<div class="t-tmInt-header">
		<div class="tmint-main">
			<p>巨如意理财凝聚了一批行业精英</p>
			<p>让您的理财与专业,安全,权威相伴</p>
		</div>
	</div>
	<div class="t-tmInt t-section1">
		<div class="tmInt-fr-lt tmint"></div>
		<div class="tmInt-fr-rt">
			<h4>马海湧</h4>
			<p class="level">上海信息服务业行业名誉会长</p>
			<p>上海信息服务业行业名誉会长兼党委书记，上海金融信息行业协会名誉会长，上海市工业经济联合会副会长，上海市互联网文化协会副会长，上海市数字内容产业促进中心副理事长，上海市数字健康信息中心理事长，上海市信息服务业人才培训中心理事长，上海市高薪技术产业知识产权联盟副主席，上海市政府采购评审专家，中国扶贫基金会信息扶贫专项基金会理事长等职务。</p>
		</div>
	</div>
	<div class="t-tmInt t-section1">
		<div class="tmInt-sc-lt tmint"></div>
		<div class="tmInt-fr-rt">
			<h4>张永才</h4>
			<p class="level">高级总裁</p>
			<p>巨如集团高级总裁（老一代革命家王稼祥夫人朱仲丽助理）世界华商中小型企业协会首席常务副主席。（辽宁省政协常委）巨如集团高级总裁、首席顾问。</p>
		</div>
	</div>
	<div class="t-tmInt t-section1">
		<div class="tmInt-td-lt tmint"></div>
		<div class="tmInt-fr-rt">
			<h4>江南春</h4>
			<p class="level">分众传媒CEO</p>
			<p>分众传媒的创始人 2011年4月，"2011中国户外传播领军人物" 2011年4月， 分众传媒CEO江南春被《亚洲户外》评为："2011中国户外传播领军人物" 2011年3月，"影响中国广告30年人物荣誉大奖</p>
		</div>
	</div>
	<div class="t-tmInt t-section1">
		<div class="tmInt-fo-lt tmint"></div>
		<div class="tmInt-fr-rt">
			<h4>程天锡</h4>
			<p class="level">资深副局长</p>
			<p>联合国经济及社会理事会（ECOSOC）授权I类咨询商地位国际信息发展组织DEVNET委员资深副主席协调局资深副局长。</p>
		</div>
	</div>
	<div class="t-tmInt t-section1">
		<div class="tmInt-fv-lt tmint"></div>
		<div class="tmInt-fr-rt">
			<h4>陈玉书</h4>
			<p class="level">巨如集团荣誉顾问</p>
			<p>香港太平绅士，全国政协委员，世界华商中小型企业协会主席，巨如集团荣誉顾问。</p>
		</div>
	</div>
	<div class="t-tmInt t-section1">
		<div class="tmInt-sx-lt tmint"></div>
		<div class="tmInt-fr-rt">
			<h4>程海民</h4>
			<p class="level">智基创投副总裁</p>
			<p>同济大学电子信息工程学士，长江商学院MBA,系统分析员，国内最早一批项目管理专家，证券从业资格二级专业水平，科技部国家创业基金评审家。2011年12月，作为智基创投副总裁，其主导了91无线的投资，并负责该项目的投后管理。91无线2013年被百度以19亿美元收购，成为中国互联网历史上最大的一次并购，为投资人取得了丰厚的回报</p>
		</div>
	</div>
	<div class="t-tmInt t-section1">
		<div class="tmInt-sn-lt tmint"></div>
		<div class="tmInt-fr-rt">
			<h4>薛祖松</h4>
			<p class="level">上海财经大学经济学硕士</p>
			<p>上海财经大学经济学硕士，投资经济专业，证券从业资格。曾就职于上海商亚咨询、申能股份、上海国际集团创投等企业，等拥有多年面管理咨询、企业管理以及投资管理。2012年12月，在上海国际集团创投公司就职期间，其投资上海索乐软件，投资后估值1.5亿。2014年6月，该公司市值已达5亿元。</p>
		</div>
	</div>
	
</div>
