
<div class="wrapper-label">
	<header class="common-header">
		<i></i>
		<h3>体验标</h3>
	</header>
	<div class="g-container-label">
		<div class="g-label-head">
			<div class="g-label-title">
				<p>新手体验标 - <span>体验理财乐趣，享受投资收益。</span></p>
			</div>
			<div class="g-newer-main">
				<div class="g-label-lt">
					<p>历史年化收益率</p>
					<p>13.00 <em>%</em></p>
				</div>
				<div class="g-label-border"></div>
				<div class="g-label-rt">
					<p>项目周期</p>
					<p>1天</p>
				</div>
			</div>
		</div>
		<div class="g-label-state">
			<div class="per-number-profit">
				已有<span>23,312</span>人赚到了
			</div>
		</div>
		<div class="g-label-section1">
			<div class="g-label-main">
				<p>计算收益</p>
				<p>小明有50.000元体验金,那么他的预期收益为:</p>
				<p><em>50,000*X/360*1=0000</em>元</p>
			</div>
		</div>
		<div class="g-label-section2">
			<p>体验标说明</p>
			<p>1,仅限于巨如意平台进行投资,标的为虚拟体验,投资可产生收益,次日开始计息</p>
			<p>2,投资体验标到期后,所得的收益以现金近视存入用户的平台账户,归用户所有,需用户投资其他理财产品后可提现;</p>
			<p>3,投资后体验金本金由平台收回,本规则最终解释归巨如意所有;</p>
			<p>4,如有疑问请拨打客服热线:***********</p>
		</div>
		<div class="quick-invest" ng-click="toSub()">
	                立即投资
	    </div> 
	</div>
</div>
