<div class="try-money">
	<header class="common-header">
		<i></i>
		<h3>体验金</h3>
	</header>
	<div class="trymoy-wrapper">
		<div class="trymoy-container">
			<p>累计获得的体验金(元)</p>
			<p>3333.0055555</p>
		</div>
	</div>
	<div class="trymoy-earn">
		<p>累计获得的体验收益(元)</p>
		<p>8.88</p>
	</div>
	<div class="trymoy-pass">
		<div class="trymoy-pass-lt">
			<span>￥</span>
			200
		</div>
		<div class="trymoy-pass-br"></div>
		<div class="trymoy-pass-rt">
			<p>体验金</p>
			<p>满20000元可用 | 期限 > 30天</p>
			<p>有效期至 2018-01-06 </p>
		</div>
	</div>
	<div class="trymoy-pass">
		<div class="trymoy-pass-lt">
			<span>￥</span>
			200
		</div>
		<div class="trymoy-pass-rt">
			<p>体验金</p>
			<p>满20000元可用 | 期限 > 30天</p>
			<p>有效期至 2018-01-06 </p>
		</div>
		<div class="trymoy-pass-used">
			<span class="trymoy-pass-expired"></span>
		</div>
	</div>
	<div class="trymoy-pass">
		<div class="trymoy-pass-lt">
			<span>￥</span>
			200
		</div>
		<div class="trymoy-pass-rt">
			<p>体验金</p>
			<p>满20000元可用 | 期限 > 30天</p>
			<p>有效期至 2018-01-06 </p>
		</div>
		<div class="trymoy-pass-used">
			<span class="trymoy-pass-expired"></span>
		</div>
	</div>
</div>
