
<link  rel="stylesheet" href="../../less/trymoy-rule.css"/>
<div class="wrap-tyrule">
	<header class="common-header" ng-if="false">
		<i></i>
		<h3>体验金使用规则</h3>
	</header>
	<div class="t-tyrule-title"></div>
	<div class="t-tyrule-contain">
		<div class="trymoy-intro">
			<h3>什么是体验金?</h3>
			<p>体验金为理财本金,可用于投资体验标,体验标到期后,体验金由平台收回,所获得收益归用户,需用户购买除体验理财产品外任意一款理财产品可提现。</p>
		</div>
		<div class="trymoy-useStep">
			<h3>如何使用体验金?</h3>
			<p>1.用户需开通存管账户后,获得88,888体验金；</p>
			<p>2.用户点击"我们-体验金",查看当前账户体验金,点击即跳转至体验标页面；</p>
			<p>3.用户点击"立即投资"按钮,即成功投资体验标.体验标到期后,平台将收回体验金,将所得利息发放至用户的账户余额中；</p>
			<p>4.用户需购买本平台除体验理财产品外任意一款产品,可提取所得利息；</p>
			<p>5.体验金的最终解释权归巨如意平台所有。</p>
		</div>
	</div>
</div>

