
<style>
    .tyj-wgx{
        width: 90%;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0 auto;
        font-size: 14px;
        color: #494848;
    }
    .tyj-wgx img{
        width: 100%;
        margin-top: 6px;
        margin-bottom: 6px;
    }
    .tyj-wgx .title{
        text-align: center;
        font-size: 16px;
        font-weight: bold;
    }
    .tyj-wgx .mt20{
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>

<div class="tyj-wgx">
    <p class="title">体验金说明</p>
    <p class="mt20"><b><span >什么是体验金？</span></b></p>
    <p>
        <span >体验金为理财本金，可用于投资体验标，体验标到期后，体验金由平台收回，所获得收益归用户，可随时提现。体验金分为</span><b>
        <span >新手体验金</span></b><span >（注册送）.</span> 
    </p>
    <p class="mt20">
        <b><span >新手体验金如何使用？</span></b><b><span > </span></b> 
    </p>
    <p>
        <b><span >第一步：</span></b><span >通过投资任意标的</span><b><span >≥2000</span></b>
        <span >元激活体验金（新手标除外）；</span> 
    </p>
    <p>
        <img src="https://www.bocailicai.cn/upload/atricle/2017-09/20170926180239_397.png" alt="" /><span ></span> 
    </p>
    <p>
        <b><span >第二步：</span></b><span >确认投资信息，投资成功后激活体验金；（投资前需完成实名绑卡）</span> 
    </p>
    <p>
        <img src="https://www.bocailicai.cn/upload/atricle/2017-09/20170926180259_277.png" alt="" /> 
    </p>
    <p >
        <b><span >第三步：</span></b><span >在</span><b><span >我的账户</span></b><b><span >></span></b><b><span >我的福利</span></b><b><span >></span></b><b><span >我的体验金</span></b><span >中查看已激活的体验金，点击右侧“立即投</span><br />
        <span > 资”跳转至体验标；</span> 
    </p>
    <p >
        <img src="https://www.bocailicai.cn/upload/atricle/2017-09/20170928133749_221.png" alt="" /> 
    </p>
    <p >
        <b><span >第四步：</span></b><span >点击“立即投资”体验标，体验金使用成功，到期收回理财本金，利息发放至账户。</span> 
    </p>
    <p >
        <img src="https://www.bocailicai.cn/upload/atricle/2017-09/20170928141815_236.png" alt="" />
    </p>
    <p  style="text-align:right;">
        <span >巨和宝理财运营中心</span> 
    </p>
</div>