<!--controllerSign.js-->
<div class="wrap wap-more-box" ng-controller="WZGGCtrl">
	<div class="common-head" ng-click="toback()" ng-if="wap=='true'"><i></i><p>网站公告</p></div>
	<ul class="wzgg-content">
        <li ng-repeat="item in ggList" ng-click="goto(item.artiId)" infinite-scroll='loadMore(item)' infinite-scroll-distance='1'>
            <div class="left">
                <h3>{{item.title}}</h3>
                <p>{{item.createTime | date:'yyyy-MM-dd'}}</p>
            </div>
            <div class="right">></div>
        </li>
    </ul>
</div>