<!--controllerSign.js-->

<div class="wap-more-box dcbz" ng-controller="YYYZCtrl">
	<div class="common-head" ng-click="toback()" ng-if="wap=='true'"><i></i><p>{{title}}</p></div>
	<div class="gszz-content">
        <!-- <header>
            <div ng-click="page=1"><span ng-class="page==1?'actived':''">三亿验资</span></div>
            <div ng-click="page=2"><span ng-class="page==2?'actived':''">保证金专户</span></div>
        </header>
        <div class="content">
            <div ng-if="page==1">
                <img class="img-border" src="/images/more/yzbg.jpg"> 原本注销的
                <p>实缴三亿验资报告</p>
            </div>
            <div style="padding-bottom:15rem;" ng-if="page==2">
                <img class="img-border" src="/images/more/bzj.png">原本注销的
                <p>银行存管保证金专户</p>
            </div>
        </div> -->

        <img class="gszz-img" src="/images/more/app-3.png" alt="">
        <img class="gszz-img" src="/images/more/app-1.png" alt="">
        <img class="gszz-img" src="/images/more/app-2.png" alt="">
        

    </div>
</div>

