
		<div class="wrap-activity">
			<header class="common-header">
				<i></i>
				<h3>活动中心</h3>
				<h2>往期活动</h2>
			</header>
			<div class="g-atyCr-content">
				<div class="g-atyCr-img">  <img src="../../images/activity/newsDt/activity-center@2x.png" alt=""/></div>
				<div class="g-atyCr-bt">
					<div class="g-atyCr-lt">
						<p>注册即送新人大礼包</p>
						<p>2017.12.10-2018.01.10</p>
					</div>
					<div class="g-atyCr-rt">
						进行中
					</div>
				</div>
			</div>
			<div class="g-atyCr-content">
				<div class="g-atyCr-img">  <img src="../../images/activity/newsDt/activity-center@2x.png" alt=""/></div>
				<div class="g-atyCr-bt">
					<div class="g-atyCr-lt">
						<p>注册即送新人大礼包</p>
						<p>2017.12.10-2018.01.10</p>
					</div>
					<div class="g-atyCr-rt">
						进行中
					</div>
				</div>
			</div>
			<div class="g-atyCr-content">
				<div class="g-atyCr-img">  <img src="../../images/activity/newsDt/activity-center@2x.png" alt=""/></div>
				<div class="g-atyCr-bt">
					<div class="g-atyCr-lt">
						<p>注册即送新人大礼包</p>
						<p>2017.12.10-2018.01.10</p>
					</div>
					<div class="g-atyCr-rt">
						进行中
					</div>
				</div>
			</div>
		</div>

