<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div class="wrap-adse">
			<header class="common-header">
				<i></i>
				<h3>平台公告</h3>
			</header>
			<div class="gContent-gg">
				<div class="g-main">
					<div class="gContent-l"><img src="../../images/activity/luckDraw/login_logo@2x.png"/></div>
					<div class="gContent-r">
						<div class="gContent-t">
							<p>民生银行支付通告</p>
							<p>20107-11-16</p>
						</div>
						<p class="gContent-p">尊敬的用户:您好！民生银行认证支付系统临时维护,维护期间民生银行认证支付业务....</p>
					</div>
					<div class="clear" style="clear:both;"></div>
				</div>
			</div>
			<div class="gContent-gg">
				<div class="g-main">
					<div class="gContent-l"><img src="../../images/activity/luckDraw/login_logo@2x.png"/></div>
					<div class="gContent-r">
						<div class="gContent-t">
							<p>民生银行支付通告</p>
							<p>20107-11-16</p>
						</div>
						<p class="gContent-p">尊敬的用户:您好！民生银行认证支付系统临时维护,维护期间民生银行认证支付业务....</p>
					</div>
					<div class="clear" style="clear:both;"></div>
				</div>
			</div>
			<div class="gContent-gg">
				<div class="g-main">
					<div class="gContent-l"><img src="../../images/activity/luckDraw/login_logo@2x.png"/></div>
					<div class="gContent-r">
						<div class="gContent-t">
							<p>民生银行支付通告</p>
							<p>20107-11-16</p>
						</div>
						<p class="gContent-p">尊敬的用户:您好！民生银行认证支付系统临时维护,维护期间民生银行认证支付业务....</p>
					</div>
					<div class="clear" style="clear:both;"></div>
				</div>
			</div>
			<div class="gContent-gg">
				<div class="g-main">
					<div class="gContent-l"><img src="../../images/activity/luckDraw/login_logo@2x.png"/></div>
					<div class="gContent-r">
						<div class="gContent-t">
							<p>民生银行支付通告</p>
							<p>20107-11-16</p>
						</div>
						<p class="gContent-p">尊敬的用户:您好！民生银行认证支付系统临时维护,维护期间民生银行认证支付业务....</p>
					</div>
					<div class="clear" style="clear:both;"></div>
				</div>
			</div>
		</div>
	</body>
</html>
