<!--提现申请失败-->
<!--cashMoneyCtr.js-->
<link rel="stylesheet" href="../../less/exact-money.css"/>
<div class="wrap" ng-controller="controller-cashMoneyFalse">
	<header class="common-header" ng-if="isHeader">
		<i></i>
		<h3>提现申请失败</h3>
	</header>
	<div class="e-Content-tx">
		<div class="gContent-title">
			<p><img src="../../images/myaccount/withdraw_fail_empty@2x.png"/></p>
			<p>提现申请已提交失败</p>
			<p>抱歉,目前无法办理提现业务,给您带来的不便。</p>
			<p>敬请谅解.详情请咨询400-032-8699</p>
		</div>
		<div class="gConten-btn">
			<a href="https://www.baidu.com?page=11">
				<div class="btn submit" onsubmit="false">完成</div>
			</a>
		</div>
	</div>
</div>