<div class="friendreg">
    <img src="images/activity/inviteFriend1/reg-banner.png" alt="" class="banner">
    <main class="extend-register-box">
        <div class="register-box">
            <form class="wap-login-box" ng-model="fromregister" name="myForm" novalidate>
                <div class="input-item">
                    <div class="input-box">
                        <input name="mobilephone" type="text" ng-pattern="/^1[3|4|5|7|8][0-9]{9}$/" placeholder="请输入手机号码" ng-model="login.mobilephone" onkeyup="this.value=this.value.replace(/[\D\.]/gi,'')" ng-blur="blurID('focusMobilephone',myForm)" minlength="11" maxlength="11" required class="input">
                    </div>
                </div>
                <div class="input-item">
                    <div class="input-box">
                        <input id="imgcode" class="input" type="text" placeholder="请输入图形验证码" ng-model="login.picCode" name="picCode" minlength="4" maxlength="4" required autocomplete="off" />
                        <span class="img-box"><img ng-click="clickInput($event)" src="/login/validateCode2.dos"></span>
                    </div>
                </div>
                <div class="input-item">
                    <div class="input-box">
                        <input ng-model="login.smsCode"  type="text"  placeholder="请输入短信验证码" maxlength="4" required class="input">
                    </div>
                    <div class="yzm-box">
                        <span ng-click="getyzm(myForm)">{{nowTimer}}</span>
                    </div>
                </div>
                <div class="input-item">
                    <div class="input-box">
                        <input autocomplete="off" type="{{(passwordText|isShowPw).type}}"  placeholder="密码为6-18位字母数字混合" ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,18}$/" ng-model="login.passWord" name="passWord" required class="input" />
                    </div>
                </div>
                <div class="input-item">
                    <h3><i class="checkbox" ng-click="agree=!agree" ng-class="{checked:agree}" ng-init="agree=true"></i>我已阅读并同意<a href="http://www.bocailicai.cn/registration">《菠菜理财注册协议》</a></h3>
                </div>
                <div class="input-item">
                    <button class="btn" ng-click="zuce(myForm)" ng-disabled="!agree">注册领豪礼</button>
                </div>
            </form>
        </div>
    </main>
</div>
