<!--controller:activity/inviteFriend1.js-->
<div class="inviteFriend">
	<!--头部-->
	<header class="common-header">
	    <i></i>
	    <h3>邀请好友</h3>
    </header>	
    <div class="invite-content">
    	<!--顶部banner-->
        <div class="top-banner"></div>
        <!--邀请简介信息-->
        <div class="invite-msg">
        	<div class="invite-acount">
        		<h4>2</h4>
        		<p>累计邀请</p>
        	</div>
        	<div class="complete-invest">
        		<h4>0</h4>
        		<p>完成投资</p>
        	</div>
        	<div class="reword">
        		<h4>0</h4>
        		<p>返现奖励</p>
        	</div>
        </div>
        <!--邀请列表-->
        <div class="invite-list">
        	<div class="list-title-wraper">
        		<div class="list-title">
	    			<span>注册手机号</span>
	    			<span>姓名</span>
	    			<span>注册时间</span>
	    			<span>投资金额(元)</span>
	    		</div>
        	</div>        	
        	<ul>        		
        		<li>
        			<span>138*****5289</span>
        			<span>-</span>
        			<span>2018-01-01</span>
        			<span class="color-money">1000</span>
        		</li>  
        		<li>
        			<span>138*****5289</span>
        			<span>-</span>
        			<span>2018-01-01</span>
        			<span class="color-money">1000</span>
        		</li>
        		<li>
        			<span>138*****5289</span>
        			<span>-</span>
        			<span>2018-01-01</span>
        			<span class="color-money">1000</span>
        		</li>
        		<li>
        			<span>138*****5289</span>
        			<span>-</span>
        			<span>2018-01-01</span>
        			<span class="color-money">1000</span>
        		</li>
        		<li>
        			<span>138*****5289</span>
        			<span>-</span>
        			<span>2018-01-01</span>
        			<span class="color-money">1000</span>
        		</li>
        	</ul>
        </div>
        <!--btn-->
        <div class="btn-invite">
        	<button>立即邀请好友</button>
        </div>
    </div>
	
    
    
    
    
</div>

