
		<div class="wrap-news" ng-controller="controllerNewsdt">
			<header class="common-header">
				<i></i>
				<h3>自媒体</h3>
			</header>
			<div class="slide2" id="slide2">
				<div class="g-content">
					<p class="g-section1" ng-bind="newsTitle"></p>
					<p class="g-section2" id="g-part">{{creatTime|date:'yyyy-MM-dd'}}</p>
					<div class="g-content-section1">
						<img src="../../images/activity/luckDraw/newsdt@2x.png"/>
						<p ng-bind="content">
							
						</p>
					</div>
				</div>
			</div>
		</div>