<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../less/newstate.css"/>
	</head>
	<body>
		<div class="wrap-news" ng-controller="controllerNewsdt">
			<header class="common-header">
				<i></i>
				<h3>自媒体</h3>
			</header>
			<div class="slide2" id="slide2">				
				<div class="g-content">
					<p class="g-section1" ng-bind="newsTitle"></p>
					<p class="g-section2" id="g-part">{{creatTime|date:'yyyy-MM-dd'}}</p>
					<div class="g-content-section1">
						<div ng-bind-html="content">
							
						</div>
					</div>
				</div>				
			</div>
		</div>
	</body>
</html>
