<!--loanProtocolCtrl-->
<div id="protocolPDF" class="protocol-box loan-protocol" ng-controller="loanProtocolCtrl">
	<h1>借款协议</h1>
	<div>
		<div><p class="bh">协议编号：<span class="tip" ng-bind="info.agreementNo"></span></p></div>
		<p>甲方（出借人）：<span class="tip" ng-bind="info.investName"></span></p>
		<p>菠菜理财会员名：<span class="tip" ng-bind="info.mobilephone"></span></p>
		<p>身份证号码：<span class="tip" ng-bind="info.idCard"></span></p>
		<br>	
		<p>乙方（借款人）：<span class="tip" ng-bind="info.borrowName"></span></p>
		<p>营业执照号码：<span class="tip" ng-bind="info.businessNum"></span></p>
		<!-- <p ng-if="info.type==1">乙方（借款人）：<span class="tip">上海术千实业有限公司</span></p>
		<p ng-if="info.type==1">营业执照号码：<span class="tip">310115002706869</span></p> -->
		<br>
		<p>丙方： 上海高溪金融信息服务有限公司</p>
		<p>营业执照号码：<span class="tip" ng-bind="info.businessNo"></span></p>
		<br>
		<p>鉴于：</p>
		<p><b>（1）</b>甲方是菠菜理财
			<!-- <a href="www.aowubao.com">www.aowubao.com</a> -->
			网站（以下简称“菠菜理财”）的注册会员，承诺对本协议涉及的借款具有完全的支配能力，是其自有合法资金，并承诺其提供给丙方的信息是完全真实的；</p>
		<p><b>（2）</b>乙方是菠菜理财的注册会员，承诺其提供给丙方的信息是完全真实的；</p>
		<p><b>（3）</b>丙方是拥有菠菜理财的经营权，为甲乙双方本次交易提供信息中介服务；</p>
		<p><b>（4）</b>乙方有借款需求，甲方亦同意借款，双方有意成立借贷关系；</p>
		<br>
		<h2>现各方经协商一致，达成如下条款：</h2>
		<h1>一、借款基本信息</h1>
		<p><b>1.1</b>产品/项目编号：<span class="tip" ng-bind="info.code"></span>；</p>
		<table>
			<tr>
				<td>产品期限</td>
				<td><span class="tip" ng-bind="info.deadline"></span>天</td>
			</tr>
			<tr>
				<td>购买日期</td>
				<td><span class="tip" ng-bind="info.investTime"></span></td>
			</tr>
			<tr>
				<td>购买金额</td>
				<td><span class="tip" ng-bind="info.factAmount"></span>元</td>
			</tr>
			<tr>
				<td>历史年化利率</td>
				<td><span class="tip" ng-bind="info.rate"></span><span style="width: auto;padding: 0;margin-left: -40px;" class="tip" ng-if="info.activityRate != undefined && info.activityRate > 0">+{{info.activityRate}}</span>%</td>
			</tr>
			<tr>
				<td>预期待收本息</td>
				<td><span class="tip" ng-bind="info.expectedBX"></span>元</td>
			</tr>
			<tr><!--  ng-if="info.period!=1" -->
				<td>预期回款期数</td>
				<td><span class="tip" ng-bind="info.period"></span>期</td>
			</tr>
		</table>
		
		<div class="assets-table" style="padding-top: 30px;">
            <table class="common-data-table" cellpadding="0" cellspacing="0" border="1" style="width: 100%">
                <tr>
                    <th>期数</th>
                    <th>还款日</th>
                    <th>应收本金（元）</th>
                    <th>应收利息（元）</th>
                    <th>应收总额（元）</th>
                    <th>剩余本金（元）</th>
                </tr>

                <!-- 有结果 -->
                <tr ng-repeat="item in list">
                    <td>{{item.index}}</td>
                    <td>{{item.date | date:'yyyy-MM-dd'}}</td>
                    <td>{{item.shouldPrincipal}}</td>
                    <td>{{item.shouldInterest}}</td>
                    <td>{{item.shouldSum}}</td>
                    <td>{{item.residualPrincipal}}</td>
                </tr>
                <tr>
                    <td>总计</td>
                    <td></td>
                    <td>{{info.factAmount}}</td>
                    <td>{{info.interest}}</td>
                    <td>{{info.shouldAmount}}</td>
                    <td></td>
                </tr>
            </table>
        </div>

		<h1>二、还款资金来源</h1>
		<p><b>2.1</b>还款资金来源：乙方自有资金及资产，并以作为最终还款保证。</p>
		<h1>三、各方权利和义务</h1>
		<p><b>3.1</b>甲方的权利和义务</p>
		<p><b>3.1.1</b>甲方应按协议约定的借款期限起始日期将借款本金通过与菠菜理财对接的银行或第三方支付平台进行支付。</p>
		<p><b>3.1.2</b>乙方要求甲方将借款通过银行或第三方支付打入乙方账户或乙方指定账户。甲方最迟在借款期限起始日期将借款的本金汇入乙方指定的下述账户即代表甲方已完成款项支付。  
		<br>乙方指定账户为：
		<br>账户名称：<span class="tip" ng-bind="info.borrowName"></span>
		<br>银行账户：<span class="tip">*****************</span>
		<br>开户银行：<span class="tip">*****************</span>
		<p><b>3.1.3</b>甲方应自行负责缴纳由借款利息所得带来的相关税费。</p>
		<p><b>3.1.4</b>甲方应确保其提供信息和资料的真实性、准确性、有效性，不得提供虚假信息或隐瞒重要事实。甲方已经充分了解乙方融资项目信贷风险，确认具有相应的风险认知和承受能力，自行承担因签订本协议而可能承担的所有风险，包括本息损失。</p>
		<p><b>3.1.5</b>在借款人（或担保人）不能按时偿还本、息的情况下，甲方即授权丙方或丙方指定的第三方对借款进行追偿，如有任何第三方自愿代其偿还应付本、息，则自该第三方支付金额至甲方时，视为甲方已经将其对于借款人的相应债权及从属权利完全转让给该第三方，各方明确不必为此另行签订债权转让协议，甲方有义务将债权转让事项通知乙方。</p>
		<p><b>3.2</b>乙方权利和义务</p>
		<p><b>3.2.1</b>乙方应在还款日将借款的本金和利息打入与菠菜理财对接的银行或第三方支付的指定账户或甲方指定账户，即代表乙方已完成还款。</p>
		<p><b>3.2.2</b>若由于乙方原因导致借款不成功，则乙方应在收到借款一个工作日内将已收到的甲方借款通过菠菜理财平台对接的银行或第三方支付无息返还至甲方对应的账户。</p>
		<p><b>3.2.3</b>乙方承诺所借款项应当严格限于本协议约定之用途，不用于任何违法目的，亦不得投资于股票、场外配资、期货合约、结构化产品及其他衍生品等。</p>
		<p><b>3.2.4</b>乙方应按约定向丙方支付信息服务费（含财务顾问费，下同）。</p>
		<p><b>3.2.5</b>乙方应提供真实、准确、完整的用户信息、融资信息以及在所有网络借贷信息中介机构未偿还借款信息，应确保其提供的信息和资料的真实性和合法性，不存在虚假信息或隐瞒重要事实。且应按照约定向甲方如实报告影响或可能影响甲方权益的重大信息。若乙方违反本协议任何约定，丙方有权根据本协议及有关条款对乙方的信息和资料予以合理的披露，并追究乙方的违约赔偿责任。</p>
		<p><b>3.2.6</b>当乙方出现危及借款安全的情况时，应最迟在事件发生之日起10日内书面通知甲方和丙方，甲方、丙方有权要求其采取相应补救措施，以保证甲方资金安全。</p>
		<p><b>3.2.7</b>乙方应如实提供有关证照、凭证、证明和其他资料，甲方、丙方有权了解其相关信息和经营情况，在有关方审查其资信材料、还款能力、借款用途、借款使用情况时予以积极配合。</p>
		<p><b>3.2.8</b>若实际还款日为借款到期日之后，此期间乙方继续按照原约定利率向甲方支付利息。</p>
		<p><b>3.3</b>丙方的权利和义务</p>
		<p><b>3.3.1</b>丙方负责菠菜理财平台的运行和维护。</p>
		<p><b>3.3.2</b>甲、乙、丙三方一致同意，甲方授权丙方在有必要时，丙方有权代甲方对乙方进行关于本协议借款的违约提醒及催收工作，包括但不限于：电话通知、上门催收提醒、发律师函、授权聘请律师对乙方提起诉讼等。甲方在此确认委托丙方为其进行以上工作，并授权丙方可以将此工作委托给本协议外的其他方进行。乙方对前述委托的提醒、催收事项已明确知晓并应积极配合。</p>
		<p><b>3.3.3</b>丙方接受甲乙双方的委托行为所产生的法律后果由相应委托方承担。如因乙方或甲方或其他方（包括但不限于技术问题）造成的延误或错误，丙方不承担任何责任。</p>
		<p><b>3.3.4</b>丙方应对甲方和乙方的信息及本协议内容保密；如任何一方违约，或因相关权力部门要求（包括但不限于法院、仲裁机构、金融监管机构等），丙方有权披露甲方和乙方的相关信息及本协议相关的内容。</p>
		<p><b>3.3.5</b>甲方、乙方在变更住所、通讯地址、联系电话等事项时，应在有关事项变更之日起3日内书面通知丙方。</p>
		<p><b>3.3.6</b>甲乙同意，丙方有权按照法律要求，将本协议项下债权债务信息向有关的主管部门报送并进行登记。</p>
		<h1>四、担保条款</h1>
		<p><b>4.1</b>乙方自有资金及资产作为还款来源，并作为最终还款保证。乙方应提供符合丙方要求的担保物和担保措施，担保范围为每个出借人的借款本金、利息、逾期利息、罚息、违约金、损害赔偿及其实现债权的全部费用，包括但不限于鉴定费、保管费、评估费、拍卖费、律师费、差旅费、税金等。若乙方出现违约，由甲方或丙方委托第三方机构将担保物或质押物进行处置后对甲方进行代偿。</p>
		<p><b>4.2</b>乙方应按丙方要求委托第三方机构向包括甲方在内的本借款协议全部出借人提供连带保证担保，保证乙方履行本协议项下的义务，并由该第三方机构向全体出借人出具《担保函》。乙方保证，甲方将债权转让给第三人的，前述第三方机构在原担保的范围内继续承担连带保证担保。</p>
		<p><b>4.3</b>在乙方向全体出借人清偿全部应付本、息及其它应付费用之前或乙方向第三方支付其垫付的全部费用之前（以两者后到者为准），乙方保证第三方机构承担《担保函》项下的连带保证担保。</p>
		<p><b>4.4</b>乙方因隐瞒担保物存在共有、争议、被查封、或已设定质押权等情况而给甲方、第三方造成经济损失的，应向甲方支付借款合同项下借款金额30％的违约金，违约金不足以弥补甲方损失的，乙方还应就不足部分予以赔偿。</p>
		<p><b>4.5</b>乙方如不能按时归还本、息，甲方有权处分担保物并优先受偿。不足受偿部分，甲方有权继续向乙方追偿。若乙方被宣布解散或破产及足以危及协议履行的其他事宜，甲方或甲方委托的第三方有权提前主张担保权或质押权。</p>
		<h1>五、违约责任</h1>
		<p><b>5.1</b>协议各方均应严格履行协议义务，非经各方协商一致，任何一方不得解除本协议。</p>
		<p><b>5.2</b>任何一方违约，违约方应承担因违约使得其他各方产生的费用和损失，包括但不限于调查、诉讼费、律师费等。</p>
		<p><b>5.3</b>若逾期还款，乙方同意除按本协议规定支付利息外，每逾期一天按逾期金额的日0.3%支付逾期利息，并赔偿甲方或丙方因催讨欠款而支付的所有费用（包括但不限于调查、诉讼费、律师费等）及损失。</p>
		<p><b>5.4</b>本协议中的甲方与乙方之间的借款均是独立的，一旦乙方逾期未归还借款本息，甲方有权向乙方追索或者提起诉讼。若乙方逾期支付信息服务费或提供虚假信息的，丙方亦可单独向乙方追索或者提起诉讼，并有追究因乙方虚假信息造成甲方、丙及其它第三方损失的权利。</p>
		<h1>六、未经丙方通知提前还款</h1>
		<p><b>6.1</b>乙方在取得甲方书面同意并提前10个工作日通知丙方，方可提前偿还剩余全部或部分借款，否则继续按本协议履行。</p>
		<p><b>6.2</b>提前偿还全部借款</p>
		<p><b>（1）</b>乙方提前清偿全部借款时，除按实际借款天数计息外还应向甲方支付提前还款补偿（补偿金额为借款本金的10%）。</p>
		<p><b>（2）</b>乙方提前清偿全部借款时，丙方无须退还已收取的信息服务费。</p>
		<p><b>6.3</b>提前偿还部分借款</p>
		<p><b>（1）</b>乙方提前偿还部分借款，仍应向甲方支付全部借款在借款期限内的借款利息。</p>
		<p><b>（2）</b>乙方提前偿还部分借款，丙方无须退还已收取的信息服务费。</p>
		<p><b>6.4</b>甲方无正当理由不得提前收回借款，如甲方确需提前收回借款的，应提前30日书面告知乙方和丙方，若乙方同意，利息按银行同期活期存款利率计，期限以实际借款天数为准；若乙方不同意,则继续按本协议履行。</p>
		<h1>七、保证条款</h1>
		<p><b>7.1</b>甲方保证其具备风险投资意识、风险识别能力、拥有非保本类金融产品投资的经历并熟悉互联网，且已完全了解借款人本融资项目的风险情况，具有与之相适应的风险承受能力，自愿利用自有合法资金出借给乙方，并自行承担投资风险。</p>
		<p><b>7.2</b>乙方保证不得有下列情形：</p>
		<p><b>7.2.1</b>通过故意变换身份、虚构融资项目、夸大融资项目收益前景等形式的欺诈借款；</p>
		<p><b>7.2.2</b>同时通过多个网络借贷信息中介机构，或者通过变换项目名称、对项目内容进行非实质性变更等方式，就同一融资项目进行重复融资；</p>
		<p><b>7.2.3</b>在网络借贷信息中介机构以外的公开场所发布同一融资项目的信息；</p>
		<p><b>7.2.4</b>法律法规和网络借贷有关监管规定禁止从事的其他活动。</p>
		<p><b>7.3</b>任何一方因违反上述保证条款而遭受损失或给其他方造成损失的，由其自行承担因此所遭受的全部损失。</p>
		<h1>八、争议解决</h1>
		<p>对于因本协议履行而发生的争议，三方可协商解决，协商不成的应向上海仲裁委员会申请仲裁，仲裁裁决为终局裁决。</p>
		<h1>九、附则</h1>
		<p><b>9.1</b>本协议及其修改或补充均采用在丙方网站点击确认形成电子文本形式制成，并保存在丙方为此设立的专用服务器上备查，各方均认可该电子合同形式的法律效力。甲方、乙方应当妥善保管其在丙方所留注册信息、密码等，若因非丙方原因导致上述信息泄露而造成甲方、乙方损失，则由甲方、乙方自行承担相应责任。</p>
		<p><b>9.2</b>本协议自完成网上签约之日成立，本协议成立后，本协议第一、三至五、八、九条即生效，其他条款自乙方足额收到所需借款本金之日生效。</p>
		<p><b>9.3</b>本协议签订之日起至借款全部清偿之日止，若甲方和乙方在菠菜理财注册的信息有变更的，应在发生变更的三日内提供更新后的信息给丙方。若因任何一方不及时提供上述变更信息而带来的损失或额外费用应由该方承担。</p>
		<p><b>9.4</b>如果本协议的任何条款因法律、法规、政策的变化而无效或不可执行时，不影响本协议的其他条款的效力。</p>
		<p><b>9.5</b>本协议适用中华人民共和国法律并据其解释。</p>
		<br>
		<p>本协议在中华人民共和国上海市<span class="tip">长宁</span>区签署并履行</p>
	</div>
</div>