.h5-aqbz-c{
	/*width: 100%;*/
	height: 1000px;
	/*height: 62.5em;*/
	/*background: #ff1;*/
	color: #b47719;
	background: -webkit-linear-gradient(#fff, #000); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#fff, #000); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#fff, #000); /* Firefox 3.6 - 15 */
    background: linear-gradient(#fff, #000); /* 标准的语法（必须放在最后） */
}
.h5-aqbz-c h1{
  	font-family: "微软雅黑";
  	font-weight: bold;
  	font-size: 1.6rem;
  	margin-left:.5rem; 
  	letter-spacing: .1rem;
}
.h5-aqbz-c div{
  	/*background:#fff; */
}
.h5-aqbz-zwbody{
  	color:#000; 
  	font-size:1rem; 
  	padding: 1rem; 
  	/*text-align: center;*/
}
.h5-aqbz-zwbody div{
  margin: 1rem;
}
.h5-aqbz-jb{
	opacity:0.5;
	filter:Alpha(opacity=50); /* IE8 以及更早的浏览器 */
}
.h5-aqbz-jb img{
	width: 10rem;
	display:box;
	box-align:end;
}