<div class="account-recharge-wrap" ng-controller="rechargeCtrl">
	<div class="account-common-title">充值</div>
	<div class="account-common-con">
		<form name="wyForm" id="wyForm" method="POST" target="_blank" style="height: 0;"></form>
		<div class="form-wrap">
			<form name="rechargeForm" ng-submit="submitForm(rechargeForm.$valid)" novalidate>
				<input style="display:none">
				<input type="password" style="display:none">
				<dl>
					<dt>充值金额：</dt>
					<dd class="input-box">
						<div class="input-mode">
							<input type="text" id="amount" class="text sum amount" name="amount" ng-model="user.amount" ng-value="user.amount" required
							 onkeyup="this.value=this.value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')" ng-blur="setAmount()" autocomplete="off"
							 placeholder="充值金额最少3元" ng-pattern="/^[0-9]+([.]{1}[0-9]+){0,1}$/" maxlength="10" ng-change="setAmountError()" ng-maxlength="13">
							<span>元</span>
						</div>
						<i ng-class="{true: '', false: 'common-form-error'}[rechargeForm.amount.$valid && amountIsTrue]" ng-show="rechargeForm.amount.$dirty || amountError"></i>
						<span class="error" ng-show="rechargeForm.amount.$error.pattern && !amountError">请输入正确的数值</span>
						<span class="error" ng-show="(rechargeForm.amount.$dirty && rechargeForm.amount.$error.required) || amountError">请输入充值金额</span>
						<span class="error" ng-show="amountIsTrue == false">{{amountMsg}}</span>
					</dd>
				</dl>

				<div class="balance-wrap">
					<div class="usable">可用余额：<b>{{user.fuiou_balance | currency:''}}</b>元</div>
					<div class="rest">充值后余额：<b id="balance">{{((user.amount||0)*1 + user.fuiou_balance*1) | currency:''}}</b>元</div>
				</div>

				<div>
					<div class="tab-trigger">
						<p ng-class="{1: 'active',2: ''}[tab]" ng-click="changeTab(1)">快捷支付</p>
						<p ng-class="{1: '',2: 'active'}[tab]" ng-click="changeTab(2)">网银支付</p>
					</div>
					<div class="tab-content" ng-class="{1: 'active-tab',2: ''}[tab]">
						<dl>
							<dt>充值银行：</dt>
							<dd>
								<div class="bank-info">
									<img src="/images/bank/{{user.bankCodeFuiou}}.jpg">
									<p class="last-num">尾号<b>{{user.bankNumFuiou}}</b></p>
								</div>
								<div class="limit" ng-if="user.quota">单笔限额<span>{{user.quota | currency:'':0}}</span>元</div>
							</dd>
						</dl>
						<dl>
							<dt>银行预留手机号：</dt>
							<dd class="get-box" ng-if="user.bankMobilePhoneFuiou!=''">
								<p>{{user.bankMobilePhoneFuiou}}</p>
								<a class="getphonecode" href="javascript:;" ng-class="{'getcode-disabled': code.isGetCode || isGetVoice}" ng-click="getPhoneCode(rechargeForm.amount.$valid, $event, code)"
								 ng-if="rechargeForm.amount.$valid && amountIsTrue">{{code.getCodeText}}</a>
								<span class="getphonecode getcode-disabled" ng-if="!rechargeForm.amount.$valid || !amountIsTrue">点击获取验证码</span>
							</dd>
							<dd class="get-box input-box" ng-if="user.bankMobilePhoneFuiou==''">
								<div class="input-mode">
									<input type="text" ng-pattern="/^1[3|4|5|7|8][0-9]{9}$/" placeholder="请输入手机号码" onkeyup="this.value=this.value.replace(/[\D\.]/gi,'') "
									 class="text" ng-model="user.bankPhoneFuiou" name="bankphone" required minlength="11" maxlength="11" autocomplete="off"
									/>
								</div>

								<a class="getphonecode" href="javascript:;" ng-class="{'getcode-disabled': code.isGetCode || isGetVoice}" ng-click="getPhoneCode(rechargeForm.amount.$valid, $event, code,rechargeForm.bankphone.$valid)"
								 ng-if="rechargeForm.amount.$valid && amountIsTrue && rechargeForm.bankphone.$valid">{{code.getCodeText}}</a>
								<span class="getphonecode getcode-disabled" ng-if="!rechargeForm.amount.$valid || !amountIsTrue || rechargeForm.bankphone.$invalid">点击获取验证码</span>

								<i ng-show="rechargeForm.bankphone.$dirty" ng-class="{true: '', false: 'common-form-error'}[rechargeForm.bankphone.$valid]"
								 style="margin-right: 0;"></i>
								<span ng-show="rechargeForm.bankphone.$error.pattern" ng-cloak class="error">请输入正确的手机号码</span>
								<span class="error" ng-show="rechargeForm.bankphone.$dirty && rechargeForm.bankphone.$error.required">请输入银行预留手机号</span>
							</dd>
						</dl>
						<dl>
							<dt>短信验证码：</dt>
							<dd class="input-box">
								<div class="input-mode">
									<input type="text" class="text" placeholder="请输入短信验证码" required name="phonecode" ng-model="user.phonecode" autocomplete="off"
									 onkeyup="this.value=this.value.replace(/[\D\.]/gi,'')" maxlength="8">
								</div>
								<i class="common-form-error" ng-show="rechargeForm.phonecode.$dirty && (bankPhoneCodeError || rechargeForm.phonecode.$invalid)"></i>
								<span
								 class="error" ng-show="rechargeForm.phonecode.$dirty && rechargeForm.phonecode.$error.required">请输入短信验证码</span><span class="error" ng-show="bankPhoneCodeError">验证码错误</span>
							</dd>
						</dl>
						<div class="sub-box"><input type="submit" value="确认充值" class="sub-btn sub" ng-disabled="rechargeForm.$invalid || !amountIsTrue" disabled="disabled"></div>
					</div>
					<div class="tab-content" ng-class="{1: '',2: 'active-tab'}[tab]">
						<div class="online-tip">确保已经在银行柜台开通了网上支付功能，为了方便您支付请使用IE8及以上版本浏览器！</div>
						<div class="bank-mode">
							<div class="bank" ng-repeat="item in user.bankList" ng-click="chooseBank(item.bankCode)">
								<i ng-class="{true: 'active-bank', false: ''}[item.bankCode == bankCode]"></i>
								<div class="img"><img src="/images/bankimg/{{item.id}}.jpg"></div>
							</div>
						</div>
						<table class="banktable" ng-if="bankCode == '0801020000'">
							<tr>
								<th>满足条件</th>
								<th>单笔限额</th>
								<th>单日限额</th>
							</tr>
							<tr class="none">
								<td> </td>
								<td> </td>
								<td> </td>
							</tr>
							<tr>
								<td>存量静态支付密码用户</td>
								<td>300元</td>
								<td>300元</td>
							</tr>
							<tr>
								<td>电子银行口令卡用户</td>
								<td>500元</td>
								<td>1000元</td>
							</tr>
							<tr>
								<td>电子密码器/数字证书用户</td>
								<td>5万元</td>
								<td>5万元</td>
							</tr>
							<tr>
								<td>一代UKEY用户</td>
								<td>50万元</td>
								<td>100万元</td>
							</tr>
							<tr>
								<td>二代UKEY用户</td>
								<td>100万元</td>
								<td>500万元</td>
							</tr>
							<tr class="none">
								<td> </td>
								<td> </td>
								<td> </td>
							</tr>
						</table>
						<table class="banktable" ng-if="bankCode == '0801030000'">
							<tr>
								<th>满足条件</th>
								<th>单笔限额</th>
								<th>单日限额</th>
							</tr>
							<tr class="none">
								<td> </td>
								<td> </td>
								<td> </td>
							</tr>
							<tr>
								<td>一代UKEY用户</td>
								<td>50万元</td>
								<td>100万元</td>
							</tr>
							<tr>
								<td>二代UKEY用户</td>
								<td>100万元</td>
								<td>500万元</td>
							</tr>
							<tr class="none">
								<td> </td>
								<td> </td>
								<td> </td>
							</tr>
						</table>
						<table class="banktable" ng-if="bankCode == '0801050000'">
							<tr>
								<th>满足条件</th>
								<th>单笔限额</th>
								<th>单日限额</th>
							</tr>
							<tr class="none">
								<td> </td>
								<td> </td>
								<td> </td>
							</tr>
							<tr>
								<td>存量静态支付密码用户</td>
								<td>500元</td>
								<td>500元</td>
							</tr>
							<tr>
								<td>电子银行口令卡用户</td>
								<td>5000元</td>
								<td>5000元</td>
							</tr>
							<tr>
								<td>一代UKEY用户</td>
								<td>5万元</td>
								<td>10万元</td>
							</tr>
							<tr>
								<td>二代UKEY用户</td>
								<td>50万元</td>
								<td>50万元</td>
							</tr>
							<tr class="none">
								<td> </td>
								<td> </td>
								<td> </td>
							</tr>
						</table>
						<table class="banktable" ng-if="bankCode == '0801040000'">
							<tr>
								<th>满足条件</th>
								<th>单笔限额</th>
								<th>单日限额</th>
							</tr>
							<tr class="none">
								<td> </td>
								<td> </td>
								<td> </td>
							</tr>
							<tr>
								<td>存量静态支付密码用户</td>
								<td>5万元</td>
								<td>5万元</td>
							</tr>
							<tr>
								<td>电子银行口令卡用户</td>
								<td>5万元</td>
								<td>5万元</td>
							</tr>
							<tr>
								<td>电子密码器/数字证书用户</td>
								<td>5万元</td>
								<td>5万元</td>
							</tr>
							<tr>
								<td>一代UKEY用户</td>
								<td>5万元</td>
								<td>5万元</td>
							</tr>
							<tr>
								<td>二代UKEY用户</td>
								<td>5万元</td>
								<td>5万元</td>
							</tr>
							<tr>
								<td>短信动态密码用户</td>
								<td>5万元</td>
								<td>5万元</td>
							</tr>
							<tr class="none">
								<td> </td>
								<td> </td>
								<td> </td>
							</tr>
						</table>
						<table class="banktable" ng-if="bankCode == '0801000000'">
							<tr>
								<th>满足条件</th>
								<th>单笔限额</th>
								<th>单日限额</th>
							</tr>
							<tr class="none">
								<td> </td>
								<td> </td>
								<td> </td>
							</tr>
							<tr>
								<td>电子银行口令卡用户</td>
								<td>20万元</td>
								<td>20万元</td>
							</tr>
							<tr>
								<td>一代UKEY用户</td>
								<td>200万元</td>
								<td>200万元</td>
							</tr>
							<tr>
								<td>短信动态密码用户</td>
								<td>2万元</td>
								<td>2万元</td>
							</tr>
							<tr class="none">
								<td> </td>
								<td> </td>
								<td> </td>
							</tr>
						</table>
						<table class="banktable" ng-if="bankCode == '0803080000'">
							<tr>
								<th>满足条件</th>
								<th>单笔限额</th>
								<th>单日限额</th>
							</tr>
							<tr class="none">
								<td> </td>
								<td> </td>
								<td> </td>
							</tr>
							<tr>
								<td>存量静态支付密码用户</td>
								<td>5000元</td>
								<td>5000元</td>
							</tr>
							<tr>
								<td>一代UKEY用户</td>
								<td>无限额</td>
								<td>无限额</td>
							</tr>
							<tr class="none">
								<td> </td>
								<td> </td>
								<td> </td>
							</tr>
						</table>
						<table class="banktable" ng-if="bankCode == '0803090000'">
							<tr>
								<th>满足条件</th>
								<th>单笔限额</th>
								<th>单日限额</th>
							</tr>
							<tr class="none">
								<td> </td>
								<td> </td>
								<td> </td>
							</tr>
							<tr>
								<td>电子银行口令卡用户</td>
								<td>5000元</td>
								<td>5000元</td>
							</tr>
							<tr>
								<td>一代UKEY用户</td>
								<td>100万元</td>
								<td>100万元</td>
							</tr>
							<tr>
								<td>二代UKEY用户</td>
								<td>100万元</td>
								<td>100万元</td>
							</tr>
							<tr>
								<td>短信动态密码用户</td>
								<td>5000元</td>
								<td>5000元</td>
							</tr>
							<tr class="none">
								<td> </td>
								<td> </td>
								<td> </td>
							</tr>
						</table>
						<table class="banktable" ng-if="bankCode == '0803030000'">
							<tr>
								<th>满足条件</th>
								<th>单笔限额</th>
								<th>单日限额</th>
							</tr>
							<tr class="none">
								<td> </td>
								<td> </td>
								<td> </td>
							</tr>
							<tr>
								<td>电子密码器/数字证书用户</td>
								<td>50万元</td>
								<td>100万元</td>
							</tr>
							<tr>
								<td>一代UKEY用户</td>
								<td>50万元</td>
								<td>50万元</td>
							</tr>
							<tr>
								<td>短信动态密码用户</td>
								<td>2万元</td>
								<td>2万元</td>
							</tr>
							<tr class="none">
								<td> </td>
								<td> </td>
								<td> </td>
							</tr>
						</table>
						<table class="banktable" ng-if="bankCode == '0803060000'">
							<tr>
								<th>满足条件</th>
								<th>单笔限额</th>
								<th>单日限额</th>
							</tr>
							<tr class="none">
								<td> </td>
								<td> </td>
								<td> </td>
							</tr>
							<tr>
								<td>电子银行口令卡用户</td>
								<td>5万元</td>
								<td>5万元</td>
							</tr>
							<tr>
								<td>一代UKEY用户</td>
								<td>100万元</td>
								<td>100万元</td>
							</tr>
							<tr class="none">
								<td> </td>
								<td> </td>
								<td> </td>
							</tr>
						</table>
						<table class="banktable" ng-if="bankCode == '0803050000'">
							<tr>
								<th>满足条件</th>
								<th>单笔限额</th>
								<th>单日限额</th>
							</tr>
							<tr class="none">
								<td> </td>
								<td> </td>
								<td> </td>
							</tr>
							<tr>
								<td>一代UKEY用户</td>
								<td>50万元</td>
								<td>50万元</td>
							</tr>
							<tr>
								<td>短信动态密码用户</td>
								<td>5000元</td>
								<td>5000元</td>
							</tr>
							<tr class="none">
								<td> </td>
								<td> </td>
								<td> </td>
							</tr>
						</table>
						<table class="banktable" ng-if="bankCode == '0803100000'">
							<tr>
								<th>满足条件</th>
								<th>单笔限额</th>
								<th>单日限额</th>
							</tr>
							<tr class="none">
								<td> </td>
								<td> </td>
								<td> </td>
							</tr>
							<tr>
								<td>电子银行口令卡用户</td>
								<td>1万元</td>
								<td>20万元</td>
							</tr>
							<tr>
								<td>一代UKEY用户</td>
								<td>无限额</td>
								<td>无限额</td>
							</tr>
							<tr class="none">
								<td> </td>
								<td> </td>
								<td> </td>
							</tr>
						</table>
						<table class="banktable" ng-if="bankCode == '0803020000'">
							<tr>
								<th>满足条件</th>
								<th>单笔限额</th>
								<th>单日限额</th>
							</tr>
							<tr class="none">
								<td> </td>
								<td> </td>
								<td> </td>
							</tr>
							<tr>
								<td>电子银行口令卡用户</td>
								<td>1000元</td>
								<td>5000元</td>
							</tr>
							<tr>
								<td>一代UKEY用户</td>
								<td>无限额</td>
								<td>无限额</td>
							</tr>
							<tr class="none">
								<td> </td>
								<td> </td>
								<td> </td>
							</tr>
						</table>
						<table class="banktable" ng-if="bankCode == '0803040000'">
							<tr>
								<th>满足条件</th>
								<th>单笔限额</th>
								<th>单日限额</th>
							</tr>
							<tr class="none">
								<td> </td>
								<td> </td>
								<td> </td>
							</tr>
							<tr>
								<td>一代UKEY用户</td>
								<td>50万元</td>
								<td>50万元</td>
							</tr>
							<tr class="none">
								<td> </td>
								<td> </td>
								<td> </td>
							</tr>
						</table>
						<table class="banktable" ng-if="bankCode == '0804031000'">
							<tr>
								<th>满足条件</th>
								<th>单笔限额</th>
								<th>单日限额</th>
							</tr>
							<tr class="none">
								<td> </td>
								<td> </td>
								<td> </td>
							</tr>
							<tr>
								<td>电子银行口令卡用户</td>
								<td>1000元</td>
								<td>5000元</td>
							</tr>
							<tr>
								<td>一代UKEY用户</td>
								<td>100万元</td>
								<td>100万元</td>
							</tr>
							<tr class="none">
								<td> </td>
								<td> </td>
								<td> </td>
							</tr>
						</table>
						<div class="sub-box"><input type="button" value="登录网银支付" class="sub-btn sub" ng-disabled="rechargeForm.amount.$invalid || !amountIsTrue"
							 ng-click="goWYPay()"></div>
					</div>
				</div>

				<div class="newtips">
					<p>友情提示：</p>
					<p>1. 充值为即时到账，具体到账时间取决于银行。</p>
					<p>2. 菠菜理财以严格的风控机制和审核流程，银行账户千万级存款保障，保证您的资金安全。</p>
				</div>

				<p style="margin-top: -37px;" ng-if="user.bankCode==3">建行支付服务时间 00:00 至 22:00</p>
			</form>
		</div>
	</div>
</div>