<!--myAccountmyInvestCtrl.js-->
<div class="account-myinvest-wrap" ng-controller="myAccountmyInvestCtrl">
	<div class="account-common-title">我的投资</div>
	<div class="account-common-con">
		<table class="invest-table">
			<tr>
				<th width="25%">投资总额</th>
				<th width="25%">已收收益</th>
				<th width="25%">待收本金总额</th>
				<th width="25%">待收收益总额</th>
			</tr>
			<tr>
				<td><b>{{userInvest.investAmount}}</b>元</td>
				<td><b>{{userInvest.profit}}</b>元</td>
				<td><b>{{userInvest.wprincipal}}</b>元</td>
                <td><b>{{(userInvest.collectAmount - userInvest.wprincipal)|isNumber2}}</b>元</td>
			</tr>
		</table>

		<div class="invest-search">
        	<div class="trigger">
                <p ng-click="isActive=0;goPG();" ng-class="{3:'',1:'',0:'active'}[isActive]">募集中的产品<t ng-if="isActive==0">（{{total}}）</t></p><span>|</span>
            	<p ng-click="isActive=1;goPG();" ng-class="{1:'active',0:'',3:''}[isActive]">收益中的产品<t ng-if="isActive==1">（{{total}}）</t></p><span>|</span>
                <p ng-click="isActive=3;goPG();" ng-class="{3:'active',1:'',0:''}[isActive]">已到期的产品<t ng-if="isActive==3">（{{total}}）</t></p>
            </div>
            <div class="invest-list">

                <!-- 募集中的产品 -->
                <div ng-class="{0:'invest-list-mod active-mod',3:'invest-list-mod',1:'invest-list-mod'}[isActive]">
                    
                    <!-- 投资 -->
                    <div class="search-box">
                        <div class="search-mod active-mod">
                            <form action="" class="nice-validator n-default" novalidate="novalidate">
                                <div class="input-box" >
                                    <p class="tou">投资类型：</p>
                                    <select ng-model="page.type">
                                        <option ng-repeat="item in types" value="{{item.code}}">{{item.cnvalue}}</option>
                                    </select>
                                </div>
                                <div class="input-box calendar-wrapper">
                                    <div class="ebcs-calendar">
                                        <p class="input-group tou">
                                          <input type="text"  cs-date-to-iso  class="form-control" current-text="今天" clear-text="清空" close-text="关闭" uib-datepicker-popup="{{format}}" ng-model="page.startDate" is-open="popup1.opened" min-date="minDate" max-date="page.endDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
                                          <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                          </span>
                                        </p>
                                    </div>
                                    <div class="to">至</div>
                                    <div class="ebcs-calendar">
                                        <p class="input-group tou">
                                          <input type="text"  cs-date-to-iso  class="form-control" current-text="今天" clear-text="清空" close-text="关闭" uib-datepicker-popup ng-model="page.endDate" is-open="popup2.opened" min-date="page.startDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                          <span class="input-group-btn">
                                             <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                          </span>
                                        </p>
                                    </div>
                                </div>
                                <input class="search-btn" type="button" ng-click="onClick('收益中查询')" value="查询">
                           </form>
                        </div>
                    </div>
                    
                    <div class="table-list">
                        <table class="data-table">
                            <tr>
                                <th class="first" width="20%"><div class="title">产品名称</div></th>
                                <th width="10%">购买日期</th>
                                <th width="14%">购买金额</th>
                                <th width="14%">预期收益</th>
                                <th width="14%">优惠券</th>
                                <th width="18%">回款方式</th>
                                <th width="10%">投资状态</th>
                            </tr>
                            <tr ng-repeat="item in inProfitProductList">
                                <td ng-if="item.type!=5" class="first next" ui-sref="main.billDetail({ id: item.pid })">{{item.fullName}}<i class="tip" ng-if="item.continuePeriod != undefined">到期续投{{item.continuePeriod}}天标</i></td>
                                <td ng-if="item.type==5" class="first next" ui-sref="main.financeDetail">{{item.fullName}}<i class="tip" ng-if="item.continuePeriod != undefined">到期续投{{item.continuePeriod}}天标</i></td>
                                <td>{{item.investTime | date:'yyyy-MM-dd'}}</td>
                                <td>{{item.amount}}元</td>
                                <td ng-if="item.status==0"><b>{{item.interest | isNumber2}}</b>元</td>
                                <td ng-if="item.status!=0"><b>{{item.factInterest | isNumber2}}</b>元</td>
                                <td>{{item.coupon}}</td>
                                <td>{{(item.repayType | isRepayType).cnvalue}}</td>
                                <td>{{item.investTime | isInvestTime}}</td>
                            </tr>
                        </table>
                    </div>

                    <!-- 页码 -->
                    <div class="page-wrap" ng-if="page.totalPage > 0">
                        <div class="page-box">
                            <a ng-if="page.pageOn != 1" href ng-click="onClick('beforePage',page.pageOn)" class="prev">上一页</a>
                            <ul>
                                <li ng-if="page.pageOn != 1" ng-click="onClick('currentPage',1)"><a href="">1</a></li>
                                <li ng-if="page.totalPage > 5 && page.pageOn > 3"><span>...</span></li>
                                <li ng-if="page.pageOn == page.totalPage && page.totalPage > 4" ng-click="onClick('currentPage',page.pageOn-3)"><a href="">{{page.pageOn-3}}</a></li>
                                <li ng-if="(page.pageOn == page.totalPage || page.pageOn == page.totalPage - 1) && page.totalPage>3 && page.pageOn!=3"
                                    ng-click="onClick('currentPage',page.pageOn-2)"><a href="">{{page.pageOn-2}}</a></li>
                                <li ng-if="page.pageOn-1 > 1" ng-click="onClick('currentPage',page.pageOn-1)"><a href="">{{page.pageOn-1}}</a></li>
                                <li ng-click="onClick('currentPage',page.pageOn)"><a href="" class="cur">{{page.pageOn}}</a></li>
                                <li ng-if="page.pageOn+1 < page.totalPage" ng-click="onClick('currentPage',page.pageOn+1)"><a href="">{{page.pageOn+1}}</a></li>
                                <li ng-if="page.pageOn == 1 && page.totalPage>3" ng-click="onClick('currentPage',3)"><a href="">3</a></li>
                                <li ng-if="(page.pageOn == 1 || page.pageOn == 2) && page.totalPage>4" ng-click="onClick('currentPage',4)"><a href="">4</a></li>
                                <li ng-if="page.totalPage > 5 && (page.pageOn < (page.totalPage - 2))"><span>...</span></li>
                                <li ng-if="page.pageOn != page.totalPage" ng-click="onClick('currentPage',page.totalPage)"><a href="">{{page.totalPage}}</a></li>
                            </ul>
                            <a ng-if="page.pageOn != page.totalPage" href class="next" ng-click="onClick('nextPage',page.pageOn)">下一页</a>
                        </div>
                    </div>
                </div>

            	<!-- 收益中的项目 -->
            	<div ng-class="{1:'invest-list-mod active-mod',0:'invest-list-mod',3:'invest-list-mod'}[isActive]">
                	
                    <!-- 投资 -->
                	<div class="search-box">
                        <div class="search-mod active-mod">
                            <form action="" class="nice-validator n-default" novalidate="novalidate">
                                <div class="input-box" >
                                    <p class="tou">投资类型：</p>
                                    <select ng-model="page.type">
                                        <option ng-repeat="item in types" value="{{item.code}}">{{item.cnvalue}}</option>
                                    </select>
                                </div>
                                <div class="input-box calendar-wrapper">
                                    <div class="ebcs-calendar">
                                        <p class="input-group tou">
                                          <input type="text"  cs-date-to-iso  class="form-control" current-text="今天" clear-text="清空" close-text="关闭" uib-datepicker-popup="{{format}}" ng-model="page.startDate" is-open="popup1.opened" min-date="minDate" max-date="page.endDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" /><span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                          </span>
                                        </p>
                                    </div>
                                    <div class="to">至</div>
                                    <div class="ebcs-calendar">
                                        <p class="input-group tou">
                                          <input type="text"  cs-date-to-iso  class="form-control" current-text="今天" clear-text="清空" close-text="关闭" uib-datepicker-popup ng-model="page.endDate" is-open="popup2.opened" min-date="page.startDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" /><span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                          </span>
                                        </p>
                                    </div>
                                </div>
                                <input class="search-btn" type="button" ng-click="onClick('收益中查询')" value="查询">
                           </form>
                        </div>
                    </div>
                    
                    <div class="table-list">
                        <table class="data-table">
                            <tr>
                                <th class="first" width="25%"><div class="title">产品名称</div></th>
                                <th width="11%">购买日期</th>
                                <th width="11%">购买金额</th>
                                <th width="12%">待收本息</th>
                                <th width="12%">优惠券</th>
                                <th width="11%">下次回款日期</th>
                                <th width="18%">操作</th>
                            </tr>
                            <tr ng-repeat="item in inProfitProductList">
                                <td class="first next" ui-sref="main.myAccount.investDetail({id: item.id,idx: $index})">{{item.fullName}}<i class="tip" ng-if="item.continuePeriod != undefined">到期续投{{item.continuePeriod}}天标</i></td>
                                <td>{{item.investTime | date:'yyyy-MM-dd'}}</td>
                                <td>{{item.factAmount}}元</td>
                                <td>{{item.collectAmount}}元</td>
                                <td>{{item.coupon}}</td>
                                <td>{{item.expireDate | date:'yyyy-MM-dd'}}</td>
                                <td><a href="" ui-sref="main.myAccount.investDetail({id: item.id,idx: $index})">查看明细</a></td>
                            </tr>
                        </table>
                    </div>

                    <!-- 页码 -->
                    <div class="page-wrap" ng-if="page.totalPage > 0">
                        <div class="page-box">
                            <a ng-if="page.pageOn != 1" href ng-click="onClick('beforePage',page.pageOn)" class="prev">上一页</a>
                            <ul>
                                <li ng-if="page.pageOn != 1" ng-click="onClick('currentPage',1)"><a href="">1</a></li>
                                <li ng-if="page.totalPage > 5 && page.pageOn > 3"><span>...</span></li>
                                <li ng-if="page.pageOn == page.totalPage && page.totalPage > 4" ng-click="onClick('currentPage',page.pageOn-3)"><a href="">{{page.pageOn-3}}</a></li>
                                <li ng-if="(page.pageOn == page.totalPage || page.pageOn == page.totalPage - 1) && page.totalPage>3 && page.pageOn!=3"
                                    ng-click="onClick('currentPage',page.pageOn-2)"><a href="">{{page.pageOn-2}}</a></li>
                                <li ng-if="page.pageOn-1 > 1" ng-click="onClick('currentPage',page.pageOn-1)"><a href="">{{page.pageOn-1}}</a></li>
                                <li ng-click="onClick('currentPage',page.pageOn)"><a href="" class="cur">{{page.pageOn}}</a></li>
                                <li ng-if="page.pageOn+1 < page.totalPage" ng-click="onClick('currentPage',page.pageOn+1)"><a href="">{{page.pageOn+1}}</a></li>
                                <li ng-if="page.pageOn == 1 && page.totalPage>3" ng-click="onClick('currentPage',3)"><a href="">3</a></li>
                                <li ng-if="(page.pageOn == 1 || page.pageOn == 2) && page.totalPage>4" ng-click="onClick('currentPage',4)"><a href="">4</a></li>
                                <li ng-if="page.totalPage > 5 && (page.pageOn < (page.totalPage - 2))"><span>...</span></li>
                                <li ng-if="page.pageOn != page.totalPage" ng-click="onClick('currentPage',page.totalPage)"><a href="">{{page.totalPage}}</a></li>
                            </ul>
                            <a ng-if="page.pageOn != page.totalPage" href class="next" ng-click="onClick('nextPage',page.pageOn)">下一页</a>
                        </div>
                    </div>
                </div>
                
                <!-- 已到期的项目 -->
                <div  ng-class="{3:'invest-list-mod active-mod',1:'invest-list-mod',0:'invest-list-mod'}[isActive]">
                	
                    <!-- 投资 -->
                    <div class="search-box">
                        <div class="search-mod active-mod">
                            <form action="" class="nice-validator n-default" novalidate="novalidate">
                                <div class="input-box" >
                                    <p class="tou">投资类型：</p>
                                    <select ng-model="page.type">
                                        <option ng-repeat="item in types" value="{{item.code}}">{{item.cnvalue}}</option>
                                    </select>
                                </div>
                                <div class="input-box calendar-wrapper">
                                    <div class="ebcs-calendar">
                                        <p class="input-group tou">
                                          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="page.startDate" is-open="popup1.opened" min-date="minDate" max-date="page.endDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"  /><span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                          </span>
                                        </p>
                                    </div>
                                    <div class="to">至</div>
                                    <div class="ebcs-calendar">
                                        <p class="input-group tou">
                                          <input type="text" class="form-control" uib-datepicker-popup ng-model="page.endDate" is-open="popup2.opened" min-date="page.startDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" /><span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                          </span>
                                        </p>
                                    </div>
                                </div>
                                <input class="search-btn" type="button" ng-click="onClick('收益中查询')" value="查询">
                           </form>
                        </div>
                    </div>
                    
                    <div class="table-list">
                        <table class="data-table">
                            <tr>
                                <th class="first" width="26%"><div class="title">产品名称</div></th>
                                <th width="14%">购买日期</th>
                                <th width="14%">购买金额</th>
                                <th width="14%">已收本息</th>
                                <th width="14%">优惠券</th>
                                <th width="18%">回款方式</th>
                            </tr>
                            <tr ng-repeat="item in inProfitProductList">
                                <td class="first next" ui-sref="main.myAccount.investDetail({id: item.id,idx: $index})">{{item.fullName}}<i class="tip" ng-if="item.continuePeriod != undefined">到期续投{{item.continuePeriod}}天标</i></td>
                                <td>{{item.investTime | date:'yyyy-MM-dd'}}</td>
                                <td>{{item.factAmount}}元</td>
                                <td>{{item.receivedAmount}}元</td>
                                <td>{{item.coupon}}</td>
                                <!-- <td><a ng-if="item.deadline != 1" target="_blank" ng-click="gotoPage({pid: item.pid,uid: item.uid,investId: item.id},$index,true,item)" href="">查看合同</a><b ng-if="item.deadline != 1" class=""> | </b><a target="_blank" ng-if="item.deadline != 1" ng-click="gotoPage({pid: item.pid,uid: item.uid,investId: item.id},$index,false)" href="" class="">下载合同</a></td> -->
                                <td>{{(item.repayType | isRepayType).cnvalue}}</td>

                            </tr>
                        </table>
                    </div>

                    <!-- 页码 -->
                    <div class="page-wrap" ng-if="page.totalPage > 0">
                        <div class="page-box">
                            <a ng-if="page.pageOn != 1" href ng-click="onClick('beforePage',page.pageOn)" class="prev">上一页</a>
                            <ul>
                                <li ng-if="page.pageOn != 1" ng-click="onClick('currentPage',1)"><a href="">1</a></li>
                                <li ng-if="page.totalPage > 5 && page.pageOn > 3"><span>...</span></li>
                                <li ng-if="page.pageOn == page.totalPage && page.totalPage > 4" ng-click="onClick('currentPage',page.pageOn-3)"><a href="">{{page.pageOn-3}}</a></li>
                                <li ng-if="(page.pageOn == page.totalPage || page.pageOn == page.totalPage - 1) && page.totalPage>3 && page.pageOn!=3"
                                    ng-click="onClick('currentPage',page.pageOn-2)"><a href="">{{page.pageOn-2}}</a></li>
                                <li ng-if="page.pageOn-1 > 1" ng-click="onClick('currentPage',page.pageOn-1)"><a href="">{{page.pageOn-1}}</a></li>
                                <li ng-click="onClick('currentPage',page.pageOn)"><a href="" class="cur">{{page.pageOn}}</a></li>
                                <li ng-if="page.pageOn+1 < page.totalPage" ng-click="onClick('currentPage',page.pageOn+1)"><a href="">{{page.pageOn+1}}</a></li>
                                <li ng-if="page.pageOn == 1 && page.totalPage>3" ng-click="onClick('currentPage',3)"><a href="">3</a></li>
                                <li ng-if="(page.pageOn == 1 || page.pageOn == 2) && page.totalPage>4" ng-click="onClick('currentPage',4)"><a href="">4</a></li>
                                <li ng-if="page.totalPage > 5 && (page.pageOn < (page.totalPage - 2))"><span>...</span></li>
                                <li ng-if="page.pageOn != page.totalPage" ng-click="onClick('currentPage',page.totalPage)"><a href="">{{page.totalPage}}</a></li>
                            </ul>
                            <a ng-if="page.pageOn != page.totalPage" href class="next" ng-click="onClick('nextPage',page.pageOn)">下一页</a>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
	</div>
</div>