$finance-sprite-dimensions: true;
@import "finance/*.png";
@include all-finance-sprites();
.finance-detail-wrapper{
	.bill-detail-wrap{
		.newhand-detail-info .newhand-new-wrap{
			margin-top: 38px;
			.newwrap-title{
				height: 60px;
				margin: -1px;
				padding-left: 73px;
				line-height: 60px;
				background: #fe8d3b;
				position: relative;
			}
			.newhand-mode{
				height: auto !important;
			}
			.finance-con{
				padding: 60px 0 55px 70px;
				position: relative;
				.finance-detailicon{
					position: absolute;
					right: 172px;
					top: 33px;
				}
				.top{
					line-height: 40px;
					font-size: 20px;
					color: #999;
					b{
						display: block;
					}
					p{
						font-size: 24px;
						color: #333;
						margin-top: -7px;
						span{
							color: #ff6400;
						}
					}
				}
				.bot{
					padding-top: 49px;
					font-size: 20px;
					color: #999;
					line-height: 36px;
					.title{
						color: #333;
						padding-left: 31px;
						position: relative;
						i{
							position: absolute;
							left: 0;
							top: 10px;
						}
					}
					li{
						position: relative;
						padding-left: 31px;
						i{
							position: absolute;
							left: 6px;
							top: 17px;
						}
					}
				}
			}
		}
	}
}

.finance-success-wrapper{
	padding: 27px 0 29px;
	background: #f1f1f1;
	.finance-success-wrap{
		width: 1178px;
		height: 656px;
		margin: 0 auto;
		border: 1px solid #dedede;
		background: #fff;
		text-align: center;
		.title{
			padding-top: 75px;
			height: 54px;
			line-height: 54px;
			font-size: 32px;
			color: #333;
			i{
				display: inline-block;
				vertical-align: top;
				margin-right: 32px;
			}
		}
		.center{
			margin: 53px auto 99px;
			font-size: 24px;
			color: #000;
			width: 786px;
			height: 68px;
			line-height: 68px;
			text-align: center;
			background: #f5fcff;
			border: 1px solid #d3e6ec;
			span{
				color: #ff6400;
				font-size: 30px;
			}
		}
		.bot{
			a{
				display: block;
				width: 330px;
				height: 48px;
				margin: 0 auto;
				text-align: center;
				line-height: 48px;
				color: #fff;
				border-radius: 5px;
				background: #FFC800;
				font-size: 20px;
				&:hover{
					background: darken(#FFC800,5%);
					text-decoration: none;
				}
			}
			p{
				padding-top: 18px;
				font-size: 16px;
				color: #666;
				span{
					color: #ff6400;
				}
			}
		}
	}
	.common-storage-tip{
		margin: 168px auto -100px;
	}
}

.finnace-dialog{
	width: 479px;
	height: 238px;
	background: #fff;
	border-radius: 4px;
	overflow: hidden;
	.title{
		padding-top: 38px;
		height: 32px;
		line-height: 32px;
		font-size: 24px;
		color: #7a7a7a;
		i{
			display: inline-block;
			vertical-align: top;
			margin-right: 11px;
		}
	}
	p{
		color: #7a7a7a;
		font-size: 18px;
		padding: 25px 0 22px;
	}
	.btn{
		a{
			display: inline-block;
			width: 158px;
			height: 52px;
			line-height: 52px;
			text-align: center;
			border-radius: 2px;
			border: 1px solid #d20000;
			font-size: 19px;
			color: #d20000;
			&.go{
				width: 160px;
				height: 54px;
				line-height: 54px;
				background: #ee3536;
				color: #fff;
				margin-left: 38px;
			}
		}
	}
}

.finance-invest-dialog.next-invest-dialog{
	height: 360px;
	.success-text.tear-success-text{
		padding-top: 72px !important;
	}
	.bot{
		text-align: left;
		padding-left: 34px;
		font-size: 16px;
		color: #7a7a7a;
		a{
			color: #00abea;
			float: right;
			margin-right: 32px;
		}
	}
	.close{
		font-size: 34px;
		position: absolute;
		right: 11px;
		top: -4px;
		color: #bbb;
		z-index: 10;
		&:hover{
			color: #777;
			text-decoration: none;
		}
	}	
}