<!--getCashCtr.js-->
<div ng-view class="recharge-wrapper cash-wrapper" ng-controller="getcashCtrl">
    <header class="common-header">
    	<i></i>
    	<h3>提现</h3>
    	<span>提现记录</span>
    </header>
    <!--用户存管余额-->
    <div class="cash-userful">
    	<h4>存管账户余额（元）</h4>
    	<p>100000.00</p>
    </div>
    <!--已帮银行卡-->
    <div class="bind-card">
    	<div class="bind-cardW">
    		已关联绑定银行卡
    	</div>
    	<div class="bind-card-detail">
    		<!--绑定银行卡的图标-->
    		<div class="card-img"></div>
    		<div class="card-img-msg">
    			<p>招商银行</p>
    			<span>尾号 2333</span>
    		</div>
    		<div style="clear: both;"></div>
    	</div>
    </div>
    <!--友情提示-->
    <div class="friendly-tips">
    	<p>友情提示：该卡最多可提现10,000.00元</p>
    </div>
    <!--输入金额-->
    <div class="input-cashNum">
    	<input type="text" value="" placeholder="请输出提现金额" onkeyup="this.value=this.value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')" required ng-pattern="/^[0-9]+([.]{1}[0-9]+){0,1}$/" maxlength="10" />
    	<p>金额</p>
    </div>
    <!--说明-->
    <div class="explain">
    	<p>将从您的个人账户发起提现，手续费<em> 0.00 </em>元</p>
    	<span>(T+1个工作日到账)</span>
    </div>
    <!--提现按钮-->
    <div class="get-btn" ng-click="ClickTxBtn()">
    	提现
    </div>
    
    <!--弹窗遮挡层-->
    <div class="mask-layer"></div>
    <!--安全键盘弹窗-->
    <div class="safety-keyborad">
    	<!--提示信息-->
    	<h4 class="worning-msg" ng-if="isShowTopWorn">连续输入错误3次,账户将被锁定一小时,期间不可投资和提现</h4>
    	<!--顶部-->
    	<div class="keyborad-header">
    		<h4>请输入交易密码</h4>
    		<span class="close-keyborad" ng-click="closeKeyboard()">x</span>
    	</div>
    	<!--数字显示区域-->
    	<div class="number-show">
    		<!--输入有误的边框颜色class：table-error-->
    		<table border="1px" cellspacing="0" cellpadding="0" ng-class="{'table-error':isredBord}">
    			<tr>
    				<td ng-bind="keyboardArr[0]"></td>
    				<td ng-bind="keyboardArr[1]"></td>
    				<td ng-bind="keyboardArr[2]"></td>
    				<td ng-bind="keyboardArr[3]"></td>
    				<td ng-bind="keyboardArr[4]"></td>
    				<td ng-bind="keyboardArr[5]"></td>
    			</tr>
    		</table>
    	</div>
    	<!--安全键盘提示-->
    	<div class="safe-msg">
    		<div class="msg-left">
    			<span class="msg-normal" ng-if="isShowPsw">巨如意安全键盘</span>
    			<span class="worning-psw" ng-if="!isShowPsw">已输错<i> 1 </i>次，您还有<i> 2 </i>次机会</span>
    		</div>
    		<p class="msg-right">忘记密码？</p>
    	</div>
    	<!--安全键盘-->
    	<div class="safe-keyboard-content">
    		<table border="1px" cellspacing="0" cellpadding="0">
    			<tr>
    				<td ng-click="Click1($event)">1</td>
    				<td ng-click="Click1($event)">3</td>
    				<td ng-click="Click1($event)">5</td>    				
    			</tr>
    			<tr>
    				<td ng-click="Click1($event)">7</td>
    				<td ng-click="Click1($event)">8</td>
    				<td ng-click="Click1($event)">0</td>    				
    			</tr>
    			<tr>
    				<td ng-click="Click1($event)">9</td>
    				<td ng-click="Click1($event)">2</td>
    				<td ng-click="Click1($event)">4</td>    				
    			</tr>
    			<tr>
    				<td class="cell-none"></td>
    				<td ng-click="Click1($event)">6</td>
    				<td class="delet-cell" ng-click="deletNum()">
    					<div class="delet-img"></div>
    				</td>    				
    			</tr>
    		</table>
    	</div>
    </div>
    
    <!--输错3次账户被锁定弹窗-->
    
</div>


