<!--rechargeConfirmCtrl.js-->
<div class="wrap recharge-wrapper" ng-controller="rechargeConfirmController">
    <div class="common-head" ng-click="toback()"><i></i><p>{{title}}</p></div>
    <div class="recharge-wrap2">
        <div>
            <ul>
                <li>
                    <span>充值金额</span>
                    <span>{{amt | isNumber}}</span>
                </li>
                <li>
                    <span>银行名称</span>
                    <span>{{recharge.bankNameFuiou}}</span>
                </li>
                <li>
                    <span>卡号</span>
                    <span>{{recharge.bankNoFuiou}}</span>
                </li>
                <li>
                    <span>姓名</span>
                    <span>{{recharge.realName}}</span>
                </li>
                <li>
                    <span>身份证号</span>
                    <span>{{recharge.idCards}}</span>
                </li>
            </ul>
        </div>
        <form name="rechargeForm" ng-submit="submitForm(rechargeForm.$valid)" novalidate>
            <div>
                <div class="input-box">
                    <img src="images/recharge/mobile-icon.png">
                    <!-- <input disabled name="mobilephone" type="text" ng-model="recharge.mobilePhone"> -->
                    <input name="mobilephone" type="text" placeholder="请输入银行预留手机号" ng-model="userForm.bank_mobile" minlength="11" maxlength="11" required>
                </div>
                <div class="input-box">
                    <img src="images/recharge/yzm-icon.png">
                    <input ng-model="userForm.yzm" type="text" placeholder="请输入短信验证码" ng-minlength="4" maxlength="8" required>
                    <span ng-click="getyzm(rechargeForm)">{{nowTimer}}</span>
                </div>
            </div>
            <input type="submit" value="确定" class="sub-btn sub" ng-disabled="rechargeForm.$invalid">
        </form>
    </div>
</div>