.detail_aqbz {
  background: #f4f4f4;
}
.detail_aqbz > div {
  background: #fff;
  padding: 1.3rem 1rem;
  margin-bottom: 0.8rem;
}
.detail_aqbz > div h1 {
  text-align: center;
  font-size: 1.3rem;
  color: #42aaf0;
}
.detail_aqbz > div .img-box {
  text-align: center;
  margin: 1rem 0 0;
}
.detail_aqbz > div .img-box img {
  height: 8rem;
}
.detail_aqbz > div .img-box img.special {
  width: 100%;
  display: block;
  height: auto;
}
.detail_aqbz > div p {
  color: #3c3c3c;
  font-size: 0.9rem;
  line-height: 1.5rem;
}
.aqbzcheck-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.aqbzcheck-box {
  width: 100%;
  height: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.aqbzcheck-box img {
  max-width: 100%;
  max-height: 100%;
}
.aqbz-wrap .banner {
  display: block;
  width: 100%;
}
.aqbz-wrap > div {
  background: #fff;
  padding: 1.5rem 1rem;
}
.aqbz-wrap > div:nth-of-type(2n) {
  background: #f4f4f4;
}
.aqbz-wrap > div h1 {
  text-align: center;
  font-size: 1.3rem;
  color: #3c86e8;
}
.aqbz-wrap > div .img-box {
  text-align: center;
  margin: 1rem 0;
}
.aqbz-wrap > div .img-box img {
  width: 8rem;
}
.aqbz-wrap > div p {
  color: #3c3c3c;
  font-size: 0.9rem;
  line-height: 1.5rem;
}
.aqbz-wrap > div ul li {
  color: #3c3c3c;
  font-size: 0.9rem;
  line-height: 1.5rem;
}
p {
  word-wrap: break-word;
}
