.h5-coupon {
  padding-top: 0.52288rem;
}
.h5-coupon .coupon-card {
  margin: 0.62745rem auto 0;
  position: relative;
  width: 25.40741rem;
  height: 9.92593rem;
  background-position: 0 0;
}
.h5-coupon .coupon-card .used {
  position: absolute;
  right: 0.76543rem;
  bottom: 0.44444rem;
  width: 5.62963rem;
  height: 5.62963rem;
  background-position: 0 100%;
}
.h5-coupon .coupon-card .invalid {
  position: absolute;
  right: 0.76543rem;
  bottom: 0.44444rem;
  width: 5.62963rem;
  height: 5.62963rem;
  background-position: 0 28.01664%;
}
.h5-coupon .coupon-card .card-name {
  width: 6.96296rem;
  float: left;
  padding: 1.7284rem 0 0 0.22222rem;
  text-align: center;
}
.h5-coupon .coupon-card .card-name b {
  font-size: 1.48148rem;
  display: block;
  font-weight: normal;
}
.h5-coupon .coupon-card .card-name b span {
  font-size: 0.98765rem;
}
.h5-coupon .coupon-card .card-name p {
  font-size: 0.98765rem;
  color: #666;
  padding-top: 1.23457rem;
}
.h5-coupon .coupon-card .info {
  padding: 1.23457rem 0 0 1.82716rem;
  float: left;
  width: 15.55556rem;
  position: relative;
}
.h5-coupon .coupon-card .info.tyj-info {
  padding-top: 0.74074rem;
}
.h5-coupon .coupon-card .info.tyj-info .showa {
  top: 0.79012rem;
}
.h5-coupon .coupon-card .info .type1-tip {
  font-size: 0.7rem;
  line-height: 1.23457rem;
  font-weight: initial;
}
.h5-coupon .coupon-card .info a {
  position: absolute;
  width: 100%;
  height: 100%;
  width: 16.04938rem;
  height: 8.04938rem;
  left: 0.96296rem;
  top: 0.8642rem;
  z-index: 5;
}
.h5-coupon .coupon-card .info .showa {
  position: absolute;
  right: 0.81481rem;
  top: 1.38272rem;
  width: 4.39506rem;
  height: 1.53086rem;
  color: #fff;
  font-size: 0.79012rem;
  line-height: 1.53086rem;
  text-align: center;
  z-index: 1;
}
.h5-coupon .coupon-card .info p {
  font-size: 1rem;
  color: #333;
  padding-bottom: 0.49383rem;
  font-weight: bold;
}
.h5-coupon .coupon-card .info p.fanxian {
  padding: 0;
}
.h5-coupon .coupon-card .info ul li {
  color: #666;
  font-size: 0.7rem;
  line-height: 1.23457rem;
}
.h5-coupon .coupon-card .info ul li i {
  float: left;
  width: 0.22222rem;
  height: 0.22222rem;
  background: #666;
  border-radius: 0.74074rem;
  margin: 0.49383rem 0.24691rem 0 0;
}
.h5-coupon .coupon-card .info ul li span {
  margin: 0 0.22222rem;
}
.h5-coupon.new-coupon .coupon-card {
  width: 25.40741rem;
  height: 9.92593rem;
  background-position: 0 81.8612%;
}
.h5-coupon.new-coupon .coupon-card .card-name p {
  color: #fff;
}
.h5-coupon.new-coupon .coupon-card .card-name b {
  color: #fff;
}
.h5-coupon.new-coupon .coupon-card .info p {
  color: #ff6400;
}
.h5-coupon.new-coupon .coupon-card .info ul li {
  color: #666666;
}
.h5-coupon.new-coupon .coupon-card .info .showa {
  color: #fff;
  background: #ff6400;
  border-radius: 0.1rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.4);
}
.h5-coupon.myTyj-coupon .coupon-card {
  width: 25.40741rem;
  height: 9.92593rem;
  background-position: 0 50%;
}
.h5-coupon.myTyj-coupon .coupon-card .card-name p {
  color: #fff;
}
.h5-coupon.myTyj-coupon .coupon-card .card-name b {
  color: #fff;
}
.h5-coupon.myTyj-coupon .coupon-card .info {
  padding-left: 0.98765rem;
}
.h5-coupon.myTyj-coupon .coupon-card .info p {
  color: #a12921;
}
.h5-coupon.myTyj-coupon .coupon-card .info ul li {
  color: #fff;
  line-height: 1.60494rem;
}
.h5-coupon.myTyj-coupon .coupon-card .info .showa {
  color: #a12921;
}
.h5-coupon .coupon-card,
.h5-coupon .coupon-card .used,
.h5-coupon .coupon-card .invalid,
.h5-coupon.new-coupon .coupon-card,
.h5-coupon.myTyj-coupon .coupon-card {
  background: url('../images/coupon-sf06fc509b4.png');
  background-size: 25.40741rem 41.23457rem;
  background-repeat: no-repeat;
}
.h5-coupon.used-coupon b,
.h5-coupon.used-coupon p,
.h5-coupon.used-coupon a,
.h5-coupon.used-coupon li,
.h5-coupon.used-coupon span,
.h5-coupon.invalid-coupon b,
.h5-coupon.invalid-coupon p,
.h5-coupon.invalid-coupon a,
.h5-coupon.invalid-coupon li,
.h5-coupon.invalid-coupon span {
  color: #a0a0a0 !important;
  border-color: #a0a0a0 !important;
}
.h5-coupon.used-coupon i,
.h5-coupon.invalid-coupon i {
  background: #a0a0a0 !important;
}
.wap-error-dl {
  background: #fff;
  color: #000;
  padding: 1em;
  width: 14.81481rem;
  border-radius: 0.25rem;
}
.wap-error-dl h1 {
  padding: 0.34568rem;
  font-size: 1.23457rem;
  color: #00a8a8;
}
.wap-error-dl a {
  color: #999;
}
.wap-error-dl div {
  background: #00a8a8;
  padding: 0.34568rem;
  font-size: 1.23457rem;
  color: #fff;
  text-align: center;
  margin-top: 0.34568rem;
}
.wap-error-dl p {
  font-size: 0.98765rem;
}
