@charset "utf-8";
.home-wrapper {
  background: #f2f2f2;
  padding-bottom: 4rem;
}
.home-wrapper .home-banner {
  border-bottom: 1px solid #d2d2d2;
  width: 100%;
  overflow: hidden;
}
.home-wrapper .home-banner img {
  width: 100%;
  display: block;
}
.home-wrapper .home-banner .banner-img {
  position: relative;
  height: 13.54667rem;
}
.home-wrapper .home-banner .trigger-wrap {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 12.41975rem;
  background: none;
  border: none;
  margin: 0 auto;
}
.home-wrapper .home-banner .trigger-wrap .trigger-box {
  margin-right: -0.83951rem;
}
.home-wrapper .home-banner .trigger-wrap i {
  width: 0.49383rem;
  height: 0.49383rem;
  border-radius: 0.49383rem;
  margin-right: 0.83951rem;
  display: inline-block;
  text-indent: -999em;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.6);
}
.home-wrapper .home-banner .trigger-wrap i.active {
  background: #fff;
}
.home-wrapper .notice-box {
  height: 2rem;
  overflow: hidden;
  position: relative;
  padding-left: 2.5rem;
  padding: 0.3rem 0.8rem 0.3rem 2.5rem;
}
.home-wrapper .notice-box img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1rem;
  width: 1rem;
  margin: auto;
}
.home-wrapper .notice-box > div {
  width: 100%;
  height: 2rem;
  overflow: hidden;
}
.home-wrapper .notice-box > div ul li {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 2rem;
  color: #666666;
}
.home-wrapper .middle-tab {
  background: #ffffff;
  margin-bottom: 0.8rem;
  overflow: hidden;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
.home-wrapper .middle-tab > div {
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding: 1rem 0;
  text-align: center;
}
.home-wrapper .middle-tab > div:nth-of-type(1) {
  border-right: 1px solid #eaeaea;
}
.home-wrapper .middle-tab > div > div {
  display: inline-block;
  overflow: hidden;
}
.home-wrapper .middle-tab > div > div img {
  float: left;
  width: 2.5rem;
  margin-right: 0.8rem;
}
.home-wrapper .middle-tab > div > div > div {
  float: left;
  text-align: left;
}
.home-wrapper .middle-tab > div > div > div h3 {
  color: red;
  font-size: 0.9rem;
}
.home-wrapper .middle-tab > div > div > div p {
  color: #999999;
  font-size: 0.8rem;
}
.home-wrapper .logo {
  padding: 0.61728rem 0;
}
.home-wrapper .logo img {
  width: 32%;
  display: block;
  padding-left: 5%;
}
.home-wrapper .logo p {
  float: right;
  padding-right: 1.48148rem;
  font-size: 1.1rem;
  color: #666;
  line-height: 2.5rem;
}
.home-wrapper .logo p span {
  margin: 0 0.98765rem;
}
.home-wrapper .home-cplist .home-cpbox-b {
  width: 100%;
  max-width: 750px;
  margin-bottom: 0.7rem;
  background-color: #ffffff;
}
.home-wrapper .home-cplist .home-cpbox-b.home-cpbox-newhand main .part-a p {
  font-size: 2.5rem;
  color: #ff6300;
}
.home-wrapper .home-cplist .home-cpbox-b.home-cpbox-newhand main .part-a p > span {
  font-size: 1.2rem;
}
.home-wrapper .home-cplist .home-cpbox-b.home-cpbox-newhand main .part-a p sup {
  font-size: 1.2rem;
}
.home-wrapper .home-cplist .home-cpbox-b.home-cpbox-newhand main .part-a p sup span {
  font-size: 0.9rem;
}
.home-wrapper .home-cplist .home-cpbox-b.home-cpbox-newhand main .part-c {
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  position: relative;
  border-radius: initial;
  border: none;
  line-height: initial;
  box-sizing: initial;
  text-align: initial;
  color: initial;
  font-size: initial;
}
.home-wrapper .home-cplist .home-cpbox-b.home-cpbox-newhand main .part-c p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  height: 5rem;
  line-height: 5rem;
  color: #666666;
  font-size: 0.9rem;
}
.home-wrapper .home-cplist .home-cpbox-b header {
  border-bottom: 1px solid #dcdcdc;
  height: 3.45679rem;
  line-height: 3.45679rem;
  color: #333333;
  font-size: 1.1rem;
  padding-left: 3.08642rem;
  position: relative;
}
.home-wrapper .home-cplist .home-cpbox-b header img {
  width: 1.3rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1.23457rem;
  margin: auto;
}
.home-wrapper .home-cplist .home-cpbox-b header span {
  color: #ff6400;
  border: 1px solid #ff6400;
  font-size: 0.8rem;
  padding: 0.09877rem 0.37037rem;
  border-radius: 0.15rem;
  margin-left: 0.74074rem;
}
.home-wrapper .home-cplist .home-cpbox-b main {
  padding: 1.48148rem 1.23457rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-wrapper .home-cplist .home-cpbox-b main > div.part-a {
  font-size: 2.5rem;
  color: #ff6400;
}
.home-wrapper .home-cplist .home-cpbox-b main > div.part-a > span {
  font-size: 1.2rem;
}
.home-wrapper .home-cplist .home-cpbox-b main > div.part-b {
  font-size: 1.8rem;
  color: #666666;
  text-align: center;
}
.home-wrapper .home-cplist .home-cpbox-b main > div.part-b span {
  font-size: 1.1rem;
}
.home-wrapper .home-cplist .home-cpbox-b main > div.part-c {
  width: 4.44444rem;
  height: 4.44444rem;
  border-radius: 2.22222rem;
  border: 0.2963rem solid #00cdb3;
  line-height: 3.85185rem;
  box-sizing: border-box;
  text-align: center;
  color: #00cdb3;
  font-size: 0.9rem;
}
.home-wrapper .home-cplist .home-cpbox-b main footer {
  clear: both;
}
.home-wrapper .footer-adv {
  height: 2.96296rem;
  padding: 0 1.7284rem 0.74074rem;
  box-sizing: border-box;
}
.home-wrapper .footer-adv > div {
  float: left;
  width: 32%;
  height: 2.22222rem;
  position: relative;
}
.home-wrapper .footer-adv > div img {
  position: absolute;
  width: 1.48148rem;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.home-wrapper .footer-adv > div > div {
  padding-left: 1.97531rem;
}
.home-wrapper .footer-adv > div > div p {
  line-height: 1.11111rem;
  height: 1.11111rem;
  color: #a8a8a8;
}
.home-wrapper .logo p span,
.home-wrapper .logo p a {
  color: #00a8a8;
}
.home-modal {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 999;
}
.home-modal .home-modal-mask {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.home-modal .luckEnter {
  width: 95%;
  min-height: 24rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background: url("/images/activity/luckDraw/luckEnter-bg.png") top center no-repeat;
  background-size: 100% auto;
  padding-top: 1px;
}
.home-modal .luckEnter .close-mask {
  position: absolute;
  top: 0px;
  right: 10%;
  display: block;
  height: 2rem;
  width: 2rem;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 2rem;
  color: #fff;
}
.home-modal .luckEnter .close-mask i {
  display: block;
  transform: scaleX(1.4);
  -webkit-transform: scaleX(1.4);
}
.home-modal .luckEnter > p {
  height: 2rem;
  color: #fff;
  text-align: center;
  margin-top: 48%;
  font-size: 1.13rem;
}
.home-modal .luckEnter > p span i {
  font-size: 1.5rem;
  vertical-align: middle;
  position: relative;
  top: -3px;
}
.home-modal .luckEnter .btn-group {
  width: 80%;
  margin: 3.6rem auto 0;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.home-modal .luckEnter .btn-group.btn-center {
  justify-content: center;
  -webkit-justify-content: center;
}
.home-modal .luckEnter .btn-group button {
  height: 2.8rem;
  line-height: 2.8rem;
  width: 9rem;
  text-align: center;
  background: #f50738;
  color: #fff;
  font-size: 1.3rem;
  border-radius: 1.4rem;
}
.home-wrapper {
  background: #f2f2f2;
  padding-bottom: 1.4rem;
}
.home-wrapper .header-home {
  width: 100%;
  height: 0.65rem;
  padding: 0.26rem 0;
  background: white;
  position: relative;
}
.home-wrapper .header-home .header-home-title {
  width: 1.6rem;
  height: 0.48rem;
  background-image: url('../images/index2/juruyi_nav@2x.png');
  background-size: cover;
  margin: 0 auto;
  margin-top: 0.085rem;
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .home-wrapper .header-home .header-home-title {
    background-image: url('../images/index2/juruyi_nav@3x.png');
    background-size: cover;
  }
}
.home-wrapper .header-home .header-home-msg {
  width: 0.48rem;
  height: 0.53rem;
  background-image: url('../images/index2/news_icon@2x.png');
  background-size: cover;
  position: absolute;
  top: 50%;
  margin-top: -0.32rem;
  margin-left: 0.4rem;
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .home-wrapper .header-home .header-home-msg {
    background-image: url('../images/index2/news_icon@3x.png');
    background-size: cover;
  }
}
.home-wrapper .header-home .header-home-msgPoint {
  width: 0.49rem;
  height: 0.57rem;
  background-image: url('../images/index2/nwes_icon_point@2x.png');
  background-size: cover;
  position: absolute;
  top: 50%;
  margin-top: -0.285rem;
  margin-left: 0.4rem;
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .home-wrapper .header-home .header-home-msgPoint {
    background-image: url('../images/index2/nwes_icon_point@3x.png');
    background-size: cover;
  }
}
.home-wrapper .header-home .header-home-sign {
  width: 0.64rem;
  height: 0.64rem;
  background-image: url('../images/index2/att_icon@2x.png');
  background-size: cover;
  position: absolute;
  top: 50%;
  right: 0.4rem;
  margin-top: -0.32rem;
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .home-wrapper .header-home .header-home-sign {
    background-image: url('../images/index2/att_icon@3x.png');
    background-size: cover;
  }
}
.home-wrapper .home-banner {
  height: 5.06rem;
  border: none;
}
.home-wrapper .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: auto;
  top: 4.4rem;
}
.home-wrapper .swiper-pagination-bullet {
  width: 0.16rem;
  height: 0.16rem;
  border-radius: 0.08rem;
  background-color: white;
  opacity: 0.6;
}
.home-wrapper .swiper-pagination-bullet-active {
  background: white;
  width: 0.64rem;
  background-color: red;
  opacity: 1;
}
.home-wrapper .moreMsg-show {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  background-color: white;
  justify-content: space-around;
}
.home-wrapper .moreMsg-show .moreMsg-aqbz .imgaqbz {
  width: 1.2rem;
  height: 1.2rem;
  background-image: url('../images/index2/protection_icon@2x.png');
  background-size: cover;
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .home-wrapper .moreMsg-show .moreMsg-aqbz .imgaqbz {
    background-image: url('../images/index2/protection_icon@3x.png');
    background-size: cover;
  }
}
.home-wrapper .moreMsg-show .moreMsg-aqbz h3 {
  margin-top: 0.13rem;
  color: #5c5c66;
  font-size: 12px;
}
[data-dpr="2"] .home-wrapper .moreMsg-show .moreMsg-aqbz h3 {
  font-size: 24px;
}
[data-dpr="3"] .home-wrapper .moreMsg-show .moreMsg-aqbz h3 {
  font-size: 36px;
}
[data-dpr="4"] .home-wrapper .moreMsg-show .moreMsg-aqbz h3 {
  font-size: 48px;
}
.home-wrapper .moreMsg-show .moreMsg-yybg .imgyybg {
  width: 1.2rem;
  height: 1.2rem;
  background-image: url('../images/index2/report_icon@2x.png');
  background-size: cover;
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .home-wrapper .moreMsg-show .moreMsg-yybg .imgyybg {
    background-image: url('../images/index2/report_icon@3x.png');
    background-size: cover;
  }
}
.home-wrapper .moreMsg-show .moreMsg-yybg h3 {
  margin-top: 0.13rem;
  color: #5c5c66;
  font-size: 12px;
}
[data-dpr="2"] .home-wrapper .moreMsg-show .moreMsg-yybg h3 {
  font-size: 24px;
}
[data-dpr="3"] .home-wrapper .moreMsg-show .moreMsg-yybg h3 {
  font-size: 36px;
}
[data-dpr="4"] .home-wrapper .moreMsg-show .moreMsg-yybg h3 {
  font-size: 48px;
}
.home-wrapper .moreMsg-show .moreMsg-xxpl .imgxxpl {
  width: 1.2rem;
  height: 1.2rem;
  background-image: url('../images/index2/disclosure_icon@2x.png');
  background-size: cover;
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .home-wrapper .moreMsg-show .moreMsg-xxpl .imgxxpl {
    background-image: url('../images/index2/disclosure_icon@3x.png');
    background-size: cover;
  }
}
.home-wrapper .moreMsg-show .moreMsg-xxpl h3 {
  margin-top: 0.13rem;
  color: #5c5c66;
  font-size: 12px;
}
[data-dpr="2"] .home-wrapper .moreMsg-show .moreMsg-xxpl h3 {
  font-size: 24px;
}
[data-dpr="3"] .home-wrapper .moreMsg-show .moreMsg-xxpl h3 {
  font-size: 36px;
}
[data-dpr="4"] .home-wrapper .moreMsg-show .moreMsg-xxpl h3 {
  font-size: 48px;
}
.home-wrapper .moreMsg-show .moreMsg-yqhy .imgyqhy {
  width: 1.2rem;
  height: 1.2rem;
  background-image: url('../images/index2/invite_icon@2x.png');
  background-size: cover;
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .home-wrapper .moreMsg-show .moreMsg-yqhy .imgyqhy {
    background-image: url('../images/index2/invite_icon@3x.png');
    background-size: cover;
  }
}
.home-wrapper .moreMsg-show .moreMsg-yqhy h3 {
  margin-top: 0.13rem;
  color: #5c5c66;
  font-size: 12px;
}
[data-dpr="2"] .home-wrapper .moreMsg-show .moreMsg-yqhy h3 {
  font-size: 24px;
}
[data-dpr="3"] .home-wrapper .moreMsg-show .moreMsg-yqhy h3 {
  font-size: 36px;
}
[data-dpr="4"] .home-wrapper .moreMsg-show .moreMsg-yqhy h3 {
  font-size: 48px;
}
.home-wrapper .newfish-gift {
  background-color: white;
  height: 7.2rem;
}
.home-wrapper .newfish-gift .newfish-title {
  padding: 0.4rem 0;
  text-align: center;
  background-color: white;
  display: flex;
  justify-content: center;
}
.home-wrapper .newfish-gift .newfish-title span {
  border-bottom: 0.05rem solid #3d3f4c;
  width: 0.35rem;
  margin: 0 0.1rem;
  align-self: center;
}
.home-wrapper .newfish-gift .newfish-title em {
  font-size: 18px;
  color: #3d3f4c;
  font-weight: 600;
}
[data-dpr="2"] .home-wrapper .newfish-gift .newfish-title em {
  font-size: 36px;
}
[data-dpr="3"] .home-wrapper .newfish-gift .newfish-title em {
  font-size: 54px;
}
[data-dpr="4"] .home-wrapper .newfish-gift .newfish-title em {
  font-size: 72px;
}
.home-wrapper .newfish-gift .newfish-content {
  width: 9.2rem;
  height: 4.695rem;
  background-image: url('../images/index2/novice_tp@2x.png');
  background-size: cover;
  margin: 0 auto;
  position: relative;
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .home-wrapper .newfish-gift .newfish-content {
    background-image: url('../images/index2/novice_tp@3x.png');
    background-size: cover;
  }
}
.home-wrapper .newfish-gift .newfish-content .newfish-btn {
  width: 4.42rem;
  height: 1.33rem;
  background-image: url('../images/index2/registered_btn@2x.png');
  background-size: cover;
  position: absolute;
  left: 50%;
  margin-left: -2.21rem;
  bottom: -0.73rem;
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .home-wrapper .newfish-gift .newfish-content .newfish-btn {
    background-image: url('../images/index2/registered_btn@3x.png');
    background-size: cover;
  }
}
.home-wrapper .newfish-gift .newfish-content .newfish-btn2 {
  width: 4.42rem;
  height: 1.33rem;
  background-image: url('../images/index2/depository_btn@2x.png');
  background-size: cover;
  position: absolute;
  left: 50%;
  margin-left: -2.21rem;
  bottom: -0.73rem;
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .home-wrapper .newfish-gift .newfish-content .newfish-btn2 {
    background-image: url('../images/index2/depository_btn@3x.png');
    background-size: cover;
  }
}
.home-wrapper .newfish-gift .newfish-content .newfish-btn3 {
  width: 4.42rem;
  height: 1.33rem;
  background-image: url('../images/index2/investment_btn@2x.png');
  background-size: cover;
  position: absolute;
  left: 50%;
  margin-left: -2.21rem;
  bottom: -0.73rem;
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .home-wrapper .newfish-gift .newfish-content .newfish-btn3 {
    background-image: url('../images/index2/investment_btn@3x.png');
    background-size: cover;
  }
}
.home-wrapper .home-cpbox-newfish {
  border-top: 2px solid #f2f2f2;
  padding-left: 0.4rem;
  background-color: white;
  padding-bottom: 0.4rem;
}
.home-wrapper .home-cpbox-newfish .cpbox-newfish-title {
  padding-top: 0.4rem;
  color: #5c5c66;
  font-size: 16px;
  font-weight: bold;
}
[data-dpr="2"] .home-wrapper .home-cpbox-newfish .cpbox-newfish-title {
  font-size: 32px;
}
[data-dpr="3"] .home-wrapper .home-cpbox-newfish .cpbox-newfish-title {
  font-size: 48px;
}
[data-dpr="4"] .home-wrapper .home-cpbox-newfish .cpbox-newfish-title {
  font-size: 64px;
}
.home-wrapper .home-cpbox-newfish .cpbox-newfish-title span {
  color: #5c5c66;
  font-size: 16px;
  font-weight: normal;
}
[data-dpr="2"] .home-wrapper .home-cpbox-newfish .cpbox-newfish-title span {
  font-size: 32px;
}
[data-dpr="3"] .home-wrapper .home-cpbox-newfish .cpbox-newfish-title span {
  font-size: 48px;
}
[data-dpr="4"] .home-wrapper .home-cpbox-newfish .cpbox-newfish-title span {
  font-size: 64px;
}
.home-wrapper .home-cpbox-newfish .cpbox-newfish-content {
  margin-top: 0.53rem;
  overflow: hidden;
}
.home-wrapper .home-cpbox-newfish .cpbox-newfish-content .newfish-content-left {
  float: left;
}
.home-wrapper .home-cpbox-newfish .cpbox-newfish-content .newfish-content-left p {
  color: #ff4b3b;
  font-size: 32px;
  margin-bottom: 0.24rem;
}
[data-dpr="2"] .home-wrapper .home-cpbox-newfish .cpbox-newfish-content .newfish-content-left p {
  font-size: 64px;
}
[data-dpr="3"] .home-wrapper .home-cpbox-newfish .cpbox-newfish-content .newfish-content-left p {
  font-size: 96px;
}
[data-dpr="4"] .home-wrapper .home-cpbox-newfish .cpbox-newfish-content .newfish-content-left p {
  font-size: 128px;
}
.home-wrapper .home-cpbox-newfish .cpbox-newfish-content .newfish-content-left span {
  color: #9c9dae;
  font-size: 12px;
}
[data-dpr="2"] .home-wrapper .home-cpbox-newfish .cpbox-newfish-content .newfish-content-left span {
  font-size: 24px;
}
[data-dpr="3"] .home-wrapper .home-cpbox-newfish .cpbox-newfish-content .newfish-content-left span {
  font-size: 36px;
}
[data-dpr="4"] .home-wrapper .home-cpbox-newfish .cpbox-newfish-content .newfish-content-left span {
  font-size: 48px;
}
.home-wrapper .home-cpbox-newfish .cpbox-newfish-content .line-wrap {
  float: right;
  margin-right: 0.3rem;
  overflow: hidden;
}
.home-wrapper .home-cpbox-newfish .cpbox-newfish-content .newfish-content-line {
  height: 1.33rem;
  border-left: 1px solid #f2f2f2;
  margin-top: 0.16rem;
  float: left;
}
.home-wrapper .home-cpbox-newfish .cpbox-newfish-content .newfish-content-right {
  float: left;
  margin-left: 0.26rem;
}
.home-wrapper .home-cpbox-newfish .cpbox-newfish-content .newfish-content-right p {
  color: #5c5c66;
  font-size: 14px;
  margin-bottom: 0.57rem;
}
[data-dpr="2"] .home-wrapper .home-cpbox-newfish .cpbox-newfish-content .newfish-content-right p {
  font-size: 28px;
}
[data-dpr="3"] .home-wrapper .home-cpbox-newfish .cpbox-newfish-content .newfish-content-right p {
  font-size: 42px;
}
[data-dpr="4"] .home-wrapper .home-cpbox-newfish .cpbox-newfish-content .newfish-content-right p {
  font-size: 56px;
}
.home-wrapper .home-cpbox-newfish .cpbox-newfish-content .newfish-content-right p em {
  color: #5c5c66;
  font-size: 14px;
  font-weight: bold;
}
[data-dpr="2"] .home-wrapper .home-cpbox-newfish .cpbox-newfish-content .newfish-content-right p em {
  font-size: 28px;
}
[data-dpr="3"] .home-wrapper .home-cpbox-newfish .cpbox-newfish-content .newfish-content-right p em {
  font-size: 42px;
}
[data-dpr="4"] .home-wrapper .home-cpbox-newfish .cpbox-newfish-content .newfish-content-right p em {
  font-size: 56px;
}
.home-wrapper .home-cpbox-newfish .cpbox-newfish-content .newfish-content-right span {
  color: #5c5c66;
  font-size: 14px;
}
[data-dpr="2"] .home-wrapper .home-cpbox-newfish .cpbox-newfish-content .newfish-content-right span {
  font-size: 28px;
}
[data-dpr="3"] .home-wrapper .home-cpbox-newfish .cpbox-newfish-content .newfish-content-right span {
  font-size: 42px;
}
[data-dpr="4"] .home-wrapper .home-cpbox-newfish .cpbox-newfish-content .newfish-content-right span {
  font-size: 56px;
}
.home-wrapper .home-cpbox-newfish .cpbox-newfish-content .newfish-content-right span i {
  color: #5c5c66;
  font-size: 14px;
  font-weight: bold;
}
[data-dpr="2"] .home-wrapper .home-cpbox-newfish .cpbox-newfish-content .newfish-content-right span i {
  font-size: 28px;
}
[data-dpr="3"] .home-wrapper .home-cpbox-newfish .cpbox-newfish-content .newfish-content-right span i {
  font-size: 42px;
}
[data-dpr="4"] .home-wrapper .home-cpbox-newfish .cpbox-newfish-content .newfish-content-right span i {
  font-size: 56px;
}
.home-wrapper .cpnox-recommend {
  margin-top: 0.4rem;
  background-color: white;
}
.home-wrapper .cpnox-recommend .cpnox-recommend-title {
  padding-left: 0.4rem;
  padding-top: 0.24rem;
  padding-bottom: 0.26rem;
}
.home-wrapper .cpnox-recommend .cpnox-recommend-title h4 {
  color: #5C5C66;
  font-size: 18px;
  margin-bottom: 0.13rem;
  font-weight: bold;
}
[data-dpr="2"] .home-wrapper .cpnox-recommend .cpnox-recommend-title h4 {
  font-size: 36px;
}
[data-dpr="3"] .home-wrapper .cpnox-recommend .cpnox-recommend-title h4 {
  font-size: 54px;
}
[data-dpr="4"] .home-wrapper .cpnox-recommend .cpnox-recommend-title h4 {
  font-size: 72px;
}
.home-wrapper .cpnox-recommend .cpnox-recommend-title p {
  font-size: 12px;
  color: #9c9dae;
}
[data-dpr="2"] .home-wrapper .cpnox-recommend .cpnox-recommend-title p {
  font-size: 24px;
}
[data-dpr="3"] .home-wrapper .cpnox-recommend .cpnox-recommend-title p {
  font-size: 36px;
}
[data-dpr="4"] .home-wrapper .cpnox-recommend .cpnox-recommend-title p {
  font-size: 48px;
}
.home-wrapper .cpnox-recommend .cpnox-recommend-content ul li {
  padding: 0.4rem 0;
  border-top: 1px solid #f2f2f2;
}
.home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .cpbox-recommend-title {
  padding-left: 0.4rem;
  color: #5c5c66;
  font-size: 16px;
  font-weight: bold;
}
[data-dpr="2"] .home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .cpbox-recommend-title {
  font-size: 32px;
}
[data-dpr="3"] .home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .cpbox-recommend-title {
  font-size: 48px;
}
[data-dpr="4"] .home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .cpbox-recommend-title {
  font-size: 64px;
}
.home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .cpbox-recommend-title span {
  color: #5c5c66;
  font-size: 16px;
  font-weight: normal;
}
[data-dpr="2"] .home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .cpbox-recommend-title span {
  font-size: 32px;
}
[data-dpr="3"] .home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .cpbox-recommend-title span {
  font-size: 48px;
}
[data-dpr="4"] .home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .cpbox-recommend-title span {
  font-size: 64px;
}
.home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .li-recommend-content {
  padding-left: 0.4rem;
  margin-top: 0.53rem;
  overflow: hidden;
}
.home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .li-recommend-content .li-content-left {
  float: left;
}
.home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .li-recommend-content .li-content-left p {
  margin-bottom: 0.24rem;
  overflow: hidden;
}
.home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .li-recommend-content .li-content-left p span {
  float: left;
  color: #ff4b3b;
  font-size: 32px;
}
[data-dpr="2"] .home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .li-recommend-content .li-content-left p span {
  font-size: 64px;
}
[data-dpr="3"] .home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .li-recommend-content .li-content-left p span {
  font-size: 96px;
}
[data-dpr="4"] .home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .li-recommend-content .li-content-left p span {
  font-size: 128px;
}
.home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .li-recommend-content .li-content-left p em {
  float: left;
  color: #ff4b3b;
  font-size: 12px;
  margin-top: 0.1rem;
}
[data-dpr="2"] .home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .li-recommend-content .li-content-left p em {
  font-size: 24px;
}
[data-dpr="3"] .home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .li-recommend-content .li-content-left p em {
  font-size: 36px;
}
[data-dpr="4"] .home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .li-recommend-content .li-content-left p em {
  font-size: 48px;
}
.home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .li-recommend-content .li-content-left span {
  color: #9c9dae;
  font-size: 12px;
}
[data-dpr="2"] .home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .li-recommend-content .li-content-left span {
  font-size: 24px;
}
[data-dpr="3"] .home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .li-recommend-content .li-content-left span {
  font-size: 36px;
}
[data-dpr="4"] .home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .li-recommend-content .li-content-left span {
  font-size: 48px;
}
.home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .li-recommend-content .line-wrap {
  float: right;
  margin-right: 0.3rem;
  overflow: hidden;
}
.home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .li-recommend-content .li-content-line {
  height: 1.33rem;
  border-left: 1px solid #f2f2f2;
  float: left;
  margin-top: 0.16rem;
}
.home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .li-recommend-content .li-content-right {
  float: left;
  margin-left: 0.26rem;
}
.home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .li-recommend-content .li-content-right p {
  color: #5c5c66;
  font-size: 14px;
  margin-bottom: 0.57rem;
}
[data-dpr="2"] .home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .li-recommend-content .li-content-right p {
  font-size: 28px;
}
[data-dpr="3"] .home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .li-recommend-content .li-content-right p {
  font-size: 42px;
}
[data-dpr="4"] .home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .li-recommend-content .li-content-right p {
  font-size: 56px;
}
.home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .li-recommend-content .li-content-right p em {
  color: #5c5c66;
  font-size: 14px;
  font-weight: bold;
}
[data-dpr="2"] .home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .li-recommend-content .li-content-right p em {
  font-size: 28px;
}
[data-dpr="3"] .home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .li-recommend-content .li-content-right p em {
  font-size: 42px;
}
[data-dpr="4"] .home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .li-recommend-content .li-content-right p em {
  font-size: 56px;
}
.home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .li-recommend-content .li-content-right span {
  color: #5c5c66;
  font-size: 14px;
}
[data-dpr="2"] .home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .li-recommend-content .li-content-right span {
  font-size: 28px;
}
[data-dpr="3"] .home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .li-recommend-content .li-content-right span {
  font-size: 42px;
}
[data-dpr="4"] .home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .li-recommend-content .li-content-right span {
  font-size: 56px;
}
.home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .li-recommend-content .li-content-right span i {
  color: #5c5c66;
  font-size: 14px;
  font-weight: bold;
}
[data-dpr="2"] .home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .li-recommend-content .li-content-right span i {
  font-size: 28px;
}
[data-dpr="3"] .home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .li-recommend-content .li-content-right span i {
  font-size: 42px;
}
[data-dpr="4"] .home-wrapper .cpnox-recommend .cpnox-recommend-content ul li .li-recommend-content .li-content-right span i {
  font-size: 56px;
}
.home-wrapper .cpnox-selectyx {
  margin-top: 0.4rem;
  background-color: white;
}
.home-wrapper .cpnox-selectyx .cpnox-selectyx-title {
  padding-left: 0.4rem;
  padding-top: 0.24rem;
  padding-bottom: 0.26rem;
}
.home-wrapper .cpnox-selectyx .cpnox-selectyx-title h4 {
  color: #5C5C66;
  font-size: 18px;
  margin-bottom: 0.13rem;
  font-weight: bold;
}
[data-dpr="2"] .home-wrapper .cpnox-selectyx .cpnox-selectyx-title h4 {
  font-size: 36px;
}
[data-dpr="3"] .home-wrapper .cpnox-selectyx .cpnox-selectyx-title h4 {
  font-size: 54px;
}
[data-dpr="4"] .home-wrapper .cpnox-selectyx .cpnox-selectyx-title h4 {
  font-size: 72px;
}
.home-wrapper .cpnox-selectyx .cpnox-selectyx-title p {
  font-size: 12px;
  color: #9c9dae;
}
[data-dpr="2"] .home-wrapper .cpnox-selectyx .cpnox-selectyx-title p {
  font-size: 24px;
}
[data-dpr="3"] .home-wrapper .cpnox-selectyx .cpnox-selectyx-title p {
  font-size: 36px;
}
[data-dpr="4"] .home-wrapper .cpnox-selectyx .cpnox-selectyx-title p {
  font-size: 48px;
}
.home-wrapper .cpnox-selectyx .cpnox-selectyx-content ul li {
  padding: 0.4rem 0 0.53rem 0;
  border-top: 1px solid #f2f2f2;
}
.home-wrapper .cpnox-selectyx .cpnox-selectyx-content ul li .li-selectyx-content {
  padding-left: 0.4rem;
  overflow: hidden;
}
.home-wrapper .cpnox-selectyx .cpnox-selectyx-content ul li .li-selectyx-content .li-content-left {
  float: left;
}
.home-wrapper .cpnox-selectyx .cpnox-selectyx-content ul li .li-selectyx-content .li-content-left p {
  margin-bottom: 0.24rem;
  overflow: hidden;
}
.home-wrapper .cpnox-selectyx .cpnox-selectyx-content ul li .li-selectyx-content .li-content-left p span {
  float: left;
  color: #ff4b3b;
  font-size: 28px;
}
[data-dpr="2"] .home-wrapper .cpnox-selectyx .cpnox-selectyx-content ul li .li-selectyx-content .li-content-left p span {
  font-size: 56px;
}
[data-dpr="3"] .home-wrapper .cpnox-selectyx .cpnox-selectyx-content ul li .li-selectyx-content .li-content-left p span {
  font-size: 84px;
}
[data-dpr="4"] .home-wrapper .cpnox-selectyx .cpnox-selectyx-content ul li .li-selectyx-content .li-content-left p span {
  font-size: 112px;
}
.home-wrapper .cpnox-selectyx .cpnox-selectyx-content ul li .li-selectyx-content .li-content-left p em {
  float: left;
  color: #ff4b3b;
  font-size: 12px;
  margin-top: 0.1rem;
}
[data-dpr="2"] .home-wrapper .cpnox-selectyx .cpnox-selectyx-content ul li .li-selectyx-content .li-content-left p em {
  font-size: 24px;
}
[data-dpr="3"] .home-wrapper .cpnox-selectyx .cpnox-selectyx-content ul li .li-selectyx-content .li-content-left p em {
  font-size: 36px;
}
[data-dpr="4"] .home-wrapper .cpnox-selectyx .cpnox-selectyx-content ul li .li-selectyx-content .li-content-left p em {
  font-size: 48px;
}
.home-wrapper .cpnox-selectyx .cpnox-selectyx-content ul li .li-selectyx-content .li-content-left span {
  color: #9c9dae;
  font-size: 12px;
}
[data-dpr="2"] .home-wrapper .cpnox-selectyx .cpnox-selectyx-content ul li .li-selectyx-content .li-content-left span {
  font-size: 24px;
}
[data-dpr="3"] .home-wrapper .cpnox-selectyx .cpnox-selectyx-content ul li .li-selectyx-content .li-content-left span {
  font-size: 36px;
}
[data-dpr="4"] .home-wrapper .cpnox-selectyx .cpnox-selectyx-content ul li .li-selectyx-content .li-content-left span {
  font-size: 48px;
}
.home-wrapper .cpnox-selectyx .cpnox-selectyx-content ul li .li-selectyx-content .li-content-left span em {
  font-weight: bold;
  color: #000000;
}
.home-wrapper .cpnox-selectyx .cpnox-selectyx-content ul li .li-selectyx-content .li-content-left span i {
  font-weight: bold;
  color: #000000;
}
.home-wrapper .cpnox-selectyx .cpnox-selectyx-content ul li .li-selectyx-content .line-wrap {
  float: right;
  margin-right: 0.26rem;
}
.home-wrapper .cpnox-selectyx .cpnox-selectyx-content ul li .li-selectyx-content .line-wrap button {
  display: block;
  width: 2.45rem;
  height: 0.93rem;
  background-image: url('../images/index2/Buy_btn_bot@2x.png');
  background-size: cover;
  text-align: center;
  font-size: 16px;
  color: #ff4b3b;
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .home-wrapper .cpnox-selectyx .cpnox-selectyx-content ul li .li-selectyx-content .line-wrap button {
    background-image: url('../images/index2/Buy_btn_bot@3x.png');
    background-size: cover;
  }
}
[data-dpr="2"] .home-wrapper .cpnox-selectyx .cpnox-selectyx-content ul li .li-selectyx-content .line-wrap button {
  font-size: 32px;
}
[data-dpr="3"] .home-wrapper .cpnox-selectyx .cpnox-selectyx-content ul li .li-selectyx-content .line-wrap button {
  font-size: 48px;
}
[data-dpr="4"] .home-wrapper .cpnox-selectyx .cpnox-selectyx-content ul li .li-selectyx-content .line-wrap button {
  font-size: 64px;
}
.home-wrapper .footer-safeshow {
  width: 100%;
  height: 2.93rem;
  background-image: url('../images/index2/tup@2x.png');
  background-size: cover;
  margin-top: 0.4rem;
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .home-wrapper .footer-safeshow {
    background-image: url('../images/index2/tup@3x.png');
    background-size: cover;
  }
}
