 @charset "utf-8";
@min: '@2x.png';
@max: '@3x.png';
.ml(@n){
  margin-left: @n;
}
.mr(@n){
  margin-right: @n;
}
.mt(@n){
  margin-top:@n;
}
.mb(@n){
  margin-bottom:@n;
}
.pl(@n){
  padding-left: @n;
}
.pr(@n){
  padding-right: @n;
}
.pt(@n){
  padding-top:@n;
}
.pb(@n){
  padding-bottom:@n;
}
.bg-c(@c){
  background-color: @c;
}
.br(@deg){
  border-radius: @deg;
}
.bg-image(@url){
@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3){
    background-image:url('@{url}@{max}');
    background-size:cover; 
}
background-image:url('@{url}@{min}');
background-size:cover; 
}

.font-size(@val){
    font-size: @val;
    [data-dpr="2"] &{
        font-size: 2*@val
    }

    [data-dpr="3"] &{
        font-size: 3*@val
    }

    [data-dpr="4"] &{
        font-size: 4*@val
    }
}  
body{
    background-color: white;
}
//公司资质
.a-apde-wrap{
    padding-bottom:2rem;
    background-color: white;
   .a-apde-main{
        font-size:0.4rem;
        color:#3d3f4c;
        width:90%;
        margin:0 auto;
        text-indent:0.93rem;
        padding-top:0.4rem;
        p{
            margin-bottom:0.25rem;
        }      
         .a-apde-cfe{
             .a-apde-img{
                .apde-img1{
                    width: 8.53rem;
                    height: 6.64rem;
                    margin: 0 auto;
                    margin-top: 0.4rem;
                    background-image:url(../images/more/compy-zz2.png);
                    background-size:cover;
                } 
                .apde-img2{
                    width: 8.53rem;
                    height: 11rem;
                    margin: 0 auto;
                    margin-top: 0.4rem;
                    background-image:url(../images/more/compy-zz1.png);
                    background-size:cover;
                    margin-bottom: 0.4rem;
                }
             }
         }
    } 
}

//走进巨和
.goto-juhe-wrap{
    padding-top: 0.26rem;
    .goto-content{
        width: 90%;
        margin: 0 auto;
        .title{
            color:#3d3f4c;
            text-indent: 2em;
            font-size:0.4rem;
        }
        .goto-inner{
            color:#3d3f4c;
            text-indent: 2em;
            font-size:0.4rem;
            margin-top: 0.26rem;
            line-height: 0.6rem;
        }
        .goto-adress{
            margin-top: 0.26rem;
            color:#3d3f4c;
            text-indent: 2em;
            font-size:0.4rem;
            line-height: 0.6rem;
        }
    }
}

