@charset "utf-8";
body {
  background-color: white;
}
.a-apde-wrap {
  padding-bottom: 2rem;
  background-color: white;
}
.a-apde-wrap .a-apde-main {
  font-size: 0.4rem;
  color: #3d3f4c;
  width: 90%;
  margin: 0 auto;
  text-indent: 0.93rem;
  padding-top: 0.4rem;
}
.a-apde-wrap .a-apde-main p {
  margin-bottom: 0.25rem;
}
.a-apde-wrap .a-apde-main .a-apde-cfe .a-apde-img .apde-img1 {
  width: 8.53rem;
  height: 6.64rem;
  margin: 0 auto;
  margin-top: 0.4rem;
  background-image: url(../images/more/compy-zz2.png);
  background-size: cover;
}
.a-apde-wrap .a-apde-main .a-apde-cfe .a-apde-img .apde-img2 {
  width: 8.53rem;
  height: 11rem;
  margin: 0 auto;
  margin-top: 0.4rem;
  background-image: url(../images/more/compy-zz1.png);
  background-size: cover;
  margin-bottom: 0.4rem;
}
.goto-juhe-wrap {
  padding-top: 0.26rem;
}
.goto-juhe-wrap .goto-content {
  width: 90%;
  margin: 0 auto;
}
.goto-juhe-wrap .goto-content .title {
  color: #3d3f4c;
  text-indent: 2em;
  font-size: 0.4rem;
}
.goto-juhe-wrap .goto-content .goto-inner {
  color: #3d3f4c;
  text-indent: 2em;
  font-size: 0.4rem;
  margin-top: 0.26rem;
  line-height: 0.6rem;
}
.goto-juhe-wrap .goto-content .goto-adress {
  margin-top: 0.26rem;
  color: #3d3f4c;
  text-indent: 2em;
  font-size: 0.4rem;
  line-height: 0.6rem;
}
