@charset "utf-8";
.login-wrapper {
  overflow: hidden;
}
.login-wrapper .nav-h img {
  width: 100%;
  height: 5.92593rem;
}
.login-wrapper .no-record-zc {
  font-size: 14px;
  text-align: center;
  margin-top: 0.8rem;
}
[data-dpr="2"] .login-wrapper .no-record-zc {
  font-size: 28px;
}
[data-dpr="3"] .login-wrapper .no-record-zc {
  font-size: 42px;
}
[data-dpr="4"] .login-wrapper .no-record-zc {
  font-size: 56px;
}
.login-wrapper .no-record-zc span {
  color: #5665F5;
}
.login-wrapper .reg-footer {
  position: fixed;
  bottom: 1.48148rem;
  left: 0;
  width: 100%;
  z-index: 1;
  text-align: center;
  font-size: 0.8rem;
  color: #1e3751;
}
.login-wrapper .reg-footer span {
  vertical-align: middle;
  display: inline-block;
}
.login-wrapper .reg-footer img {
  width: 1rem;
  vertical-align: middle;
  display: inline-block;
}
.login-wrapper .dl-footer {
  position: fixed;
  bottom: 3.54167rem;
  left: 0;
  width: 100%;
  z-index: 0;
  text-align: center;
  font-size: 0.8rem;
  color: #1e3751;
  background-color: #f2f2f2;
  padding-bottom: 1rem;
}
.login-wrapper .dl-footer span {
  vertical-align: middle;
  display: inline-block;
}
.login-wrapper .dl-footer img {
  width: 1rem;
  vertical-align: middle;
  display: inline-block;
}
.container {
  width: 100%;
  font-size: 1.18519rem;
}
.container.register-con {
  margin-top: 0.74074rem;
  position: relative;
  z-index: 50;
  background-color: #f2f2f2;
}
.container.register-con > p {
  font-size: 1rem;
  text-align: center;
  margin-top: 1.5rem;
}
.container.register-con > p span {
  color: #ff6400;
}
.container .gotodl {
  padding: 0.98765rem 0 0 0.98765rem;
  float: left;
}
.container .reg-btn {
  height: 3rem;
  width: 90%;
  display: block;
  margin: 0 auto;
  background-color: #00a8a8;
  text-align: center;
  line-height: 3rem;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 0.3rem;
  margin-top: 2.46914rem;
}
.container .reg-btn:disabled {
  background-color: #b3b3b3;
}
.container .wap-login-box div {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 0.74074rem;
  border: 1px solid #d2d2d2;
  border-radius: 7px;
  overflow: hidden;
  background: #fff;
}
.container .wap-login-box div input {
  height: 3.16049rem;
  width: 13.58025rem;
  float: left;
  display: block;
  padding-left: 1.38272rem;
  background: #fff;
  font-size: 1.06173rem;
  color: #333;
}
.container .wap-login-box div.tel-box input {
  width: 100%;
}
.container .wap-login-box div span {
  float: right;
  width: 8.39506rem;
  height: 3.16049rem;
  background: #fff;
  line-height: 3.16049rem;
  font-size: 1.18519rem;
  text-align: center;
}
.container .wap-login-box div span img {
  width: 8.39506rem;
  height: 3.16049rem;
  display: block;
}
.container .wap-login-box div > p {
  font-size: 1rem;
  color: #4e4e4e;
  padding-left: 1.38272rem;
}
.container .wap-login-box div > p a {
  color: #00cdb3;
}
.container .wap-login-box div > p .checkbox {
  width: 1rem;
  height: 1rem;
  float: left;
  margin-top: 0.3rem;
  margin-right: 0.5rem;
  background: url("/images/login/check.png");
  background-size: 100% 100%;
}
.container .wap-login-box div > p .checkbox.checked {
  background: url("/images/login/checked.png");
  background-size: 100% 100%;
}
.container .wap-login-box > p {
  padding-left: 1.38272rem;
  margin-top: 0.74074rem;
  font-size: 1rem;
}
.container .wap-login-box > p span {
  transform: rotate(-90deg);
  display: inline-block;
}
.container .wap-login-box > p span.active {
  transform: rotate(0);
}
.maskError {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
}
.maskError .maskError-box {
  width: 17.28395rem;
  background: #fff;
  color: #000;
  position: absolute;
  left: 50%;
  top: 20%;
  margin-left: -8.64198rem;
  font-size: 1.18519rem;
  text-align: center;
  padding: 0.24691rem 0 0.24691rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  border-radius: 0.34568rem;
}
.maskError .maskError-box .luckText {
  font-size: 1.18519rem;
  line-height: 2.46914rem;
}
.maskError .maskError-box .luckText font {
  font-size: 1.18519rem;
}
.maskErrorDl {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
}
.maskErrorDl .maskErrorDl-box {
  width: 14.81481rem;
  height: 7.40741rem;
  background: #f2f2f2;
  color: #090909;
  overflow: hidden;
  margin: 27%;
  font-size: 1.18519rem;
  text-align: center;
  padding: 0.24691rem 0 1.48148rem;
  border-radius: 0.24691rem;
}
.maskErrorDl .maskErrorDl-box p {
  margin: 2rem auto;
}
.maskErrorDl .maskErrorDl-box a {
  width: 14.81481rem;
  height: 2.22222rem;
  text-align: center;
  line-height: 2.22222rem;
  background: #ffa200;
  font-size: 1.23457rem;
  color: #fff5dc;
  display: block;
  margin: 2.9rem auto;
  border-radius: 0.24691rem;
}
.maskErrorBB {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
}
.maskErrorBB .maskErrorBB-box {
  width: 15.30864rem;
  height: 7.65432rem;
  background: #f2f2f2;
  color: #090909;
  overflow: hidden;
  margin: 27%;
  font-size: 1.18519rem;
  text-align: center;
  border-radius: 0.24691rem;
  position: relative;
}
.maskErrorBB .maskErrorBB-box p {
  margin: .85rem auto;
}
.maskErrorBB .maskErrorBB-box a {
  width: 50%;
  height: 2.22222rem;
  text-align: center;
  line-height: 2.22222rem;
  background: #ffa200;
  font-size: 1.23457rem;
  color: #fff5dc;
  display: block;
  float: left;
  position: absolute;
  bottom: 0;
}
.maskErrorBB .maskErrorBB-box a.close {
  border-top-left-radius: 0.24691rem;
  border-bottom-left-radius: 0.24691rem;
}
.maskErrorBB .maskErrorBB-box a.rule {
  right: 0;
  border-top-right-radius: 0.24691rem;
  border-bottom-right-radius: 0.24691rem;
}
.wap-login1-box {
  margin-top: 0.8rem;
}
.wap-login1-box .wap-login-title {
  font-size: 22px;
  display: flex;
  margin-left: 0.74rem;
  margin-bottom: 0.8rem;
}
[data-dpr="2"] .wap-login1-box .wap-login-title {
  font-size: 44px;
}
[data-dpr="3"] .wap-login1-box .wap-login-title {
  font-size: 66px;
}
[data-dpr="4"] .wap-login1-box .wap-login-title {
  font-size: 88px;
}
.wap-login1-box .wap-login-title div {
  width: 0.74rem;
  height: 0.74rem;
  background-image: url('../images/newlogin/login_logo@2x.png');
  background-size: cover;
  margin-right: 0.27rem;
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .wap-login1-box .wap-login-title div {
    background-image: url('../images/newlogin/login_logo@3x.png');
    background-size: cover;
  }
}
.wap-login1-box > .input-box {
  overflow: hidden;
  margin-left: 0.8rem;
  margin-bottom: 0.4rem;
}
.wap-login1-box .clear {
  display: none;
  position: absolute;
  width: 0.64rem;
  height: 0.64rem;
  margin: 0.2rem 0 0 -0.84rem;
  background-image: url('../images/newlogin/shut_down@2x.png');
  background-size: cover;
  outline: none;
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .wap-login1-box .clear {
    background-image: url('../images/newlogin/shut_down@3x.png');
    background-size: cover;
  }
}
.wap-login1-box > .error-mobile {
  width: 80%;
  margin: 0.54074rem auto;
  font-size: 18px;
}
[data-dpr="2"] .wap-login1-box > .error-mobile {
  font-size: 36px;
}
[data-dpr="3"] .wap-login1-box > .error-mobile {
  font-size: 54px;
}
[data-dpr="4"] .wap-login1-box > .error-mobile {
  font-size: 72px;
}
.wap-login1-box input {
  height: 1.17rem;
  width: 8.4rem;
  float: left;
  display: block;
  text-indent: 1.08272rem;
  background: #F2F2F2;
  font-size: 18px;
  color: #333;
  outline: none;
  border: none;
}
[data-dpr="2"] .wap-login1-box input {
  font-size: 36px;
}
[data-dpr="3"] .wap-login1-box input {
  font-size: 54px;
}
[data-dpr="4"] .wap-login1-box input {
  font-size: 72px;
}
.wap-login1-box input::-ms-clear {
  display: none;
}
.wap-login1-box input:valid + .clear {
  display: inline;
}
.wap-login1-box #demo_img {
  width: 0.64rem;
  height: 0.64rem;
  position: absolute;
  right: 0.87rem;
  margin: 0.2rem;
  cursor: pointer;
}
.wap-login1-box .wap-login1-changin {
  width: 10.9rem;
}
.wap-login1-box .wap-login1-changin div {
  float: left;
  margin-left: 1.38272rem;
}
.wap-login1-box .wap-login1-changin span {
  font-size: 14px;
  margin-right: 1.38272rem;
  color: #5665f5;
  margin-bottom: 0.4rem;
}
[data-dpr="2"] .wap-login1-box .wap-login1-changin span {
  font-size: 28px;
}
[data-dpr="3"] .wap-login1-box .wap-login1-changin span {
  font-size: 42px;
}
[data-dpr="4"] .wap-login1-box .wap-login1-changin span {
  font-size: 56px;
}
.wap-more-box {
  font-size: 1.18519rem;
}
.wap-more-box.yanzi-box {
  background: #fff;
}
.wap-more-box.gdjs-box {
  background-color: #f2f2f2;
}
.wap-more-box.dcbz {
  background: #ffffff;
}
.wap-more-box .imgcenter {
  padding: 1.97531rem 0;
  text-align: center;
}
.wap-more-box .imgcenter p {
  text-align: center;
  font-size: 0.98765rem;
  color: #0d0d0d;
  padding-top: 1.18519rem;
}
.wap-more-box .imgcenter img {
  width: 78%;
}
.wap-more-box .zjjs-content img {
  width: 100%;
  display: block;
}
.wap-more-box .zjjs-content h2 {
  height: 2.22222rem;
  background: url(../images/more/linebg.png) left bottom no-repeat;
  background-size: 100% 2px;
  margin-bottom: 0.74074rem;
}
.wap-more-box .zjjs-content div {
  margin-top: 0.49383rem;
  background-color: #ffffff;
  padding: 0.49383rem 1.7284rem 0.98765rem 1.23457rem;
}
.wap-more-box .zjjs-content div p {
  font-size: 0.88889rem;
  line-height: 1.60494rem;
}
.wap-more-box .zjjs-content .ywms-box img {
  margin: 1.97531rem 0 4.93827rem 0;
}
.wap-more-box .lchg-content img {
  width: 100%;
  display: block;
}
.wap-more-box .gltd-content img {
  width: 100%;
  margin-bottom: 0.74074rem;
}
.wap-more-box .wzgg-content {
  margin-top: 0;
  border-top: 1px solid #d2d2d2;
  background-color: #fff;
}
.wap-more-box .wzgg-content li {
  height: 5.4321rem;
  border-bottom: 1px solid #d2d2d2;
}
.wap-more-box .wzgg-content li .left {
  float: left;
  width: 85%;
  padding: 0.98765rem 0 0.74074rem 1.48148rem;
  height: 5.4321rem;
  box-sizing: border-box;
}
.wap-more-box .wzgg-content li .left h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  height: 1.75309rem;
  white-space: nowrap;
}
.wap-more-box .wzgg-content li .left p {
  color: #999999;
  font-size: 0.98765rem;
  margin-top: 0.49383rem;
}
.wap-more-box .wzgg-content li .right {
  float: left;
  color: #999999;
  width: 15%;
  font-family: '宋体';
  font-weight: bold;
  text-align: center;
  line-height: 5.4321rem;
  font-size: 1.48148rem;
  height: 5.4321rem;
  box-sizing: border-box;
}
.wap-more-box .ggxq-content {
  margin-top: 0.49383rem;
  background-color: #ffffff;
  padding: 0.98765rem 1.48148rem 4.93827rem 1.48148rem;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.wap-more-box .ggxq-content h2 {
  text-align: center;
  font-weight: bold;
  font-size: 1.48148rem;
}
.wap-more-box .ggxq-content h3 {
  text-align: center;
  font-size: 1rem;
  color: #959595;
  margin-top: 0.74074rem;
  margin-bottom: 0.98765rem;
}
.wap-more-box .ggxq-content p {
  color: #999999;
  font-size: 0.98765rem;
  line-height: 1.60494rem;
}
.wap-more-box .ggxq-content p span {
  color: #999999;
}
.wap-more-box .ggxq-content span {
  color: #999999;
}
.wap-more-box .ggxq-content div {
  width: 100%;
  font-size: 0.98765rem;
  overflow: hidden;
}
.wap-more-box .ggxq-content div img {
  max-width: 100%;
}
.wap-more-box .ggxq-content iframe {
  width: 100%;
  height: 17.28395rem;
}
.wap-more-box .hdxq-content {
  margin-top: 0.49383rem;
  background-color: #ffffff;
  padding: 0.98765rem 1.48148rem 4.93827rem 1.48148rem;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.wap-more-box .hdxq-content h2 {
  text-align: center;
  font-weight: bold;
  font-size: 1.48148rem;
}
.wap-more-box .hdxq-content h3 {
  text-align: center;
  font-size: 1rem;
  color: #959595;
  margin-top: 0.74074rem;
  margin-bottom: 0.98765rem;
}
.wap-more-box .hdxq-content div {
  color: #333333;
  line-height: 1.60494rem;
  font-size: 0.98765rem;
  overflow: hidden;
  width: 100%;
}
.wap-more-box .hdxq-content div img {
  max-width: 100%;
}
.wap-more-box .hdxq-content p {
  color: #333333;
  font-size: 0.98765rem;
  line-height: 1.60494rem;
}
.wap-more-box .hdxq-content span {
  color: #333333;
  font-size: 0.98765rem;
}
.wap-more-box .report-box {
  margin-top: 0.74074rem;
  background-color: #fff;
  padding: 1.23457rem 1.97531rem;
  font-size: 0.9rem;
  line-height: 1.60494rem;
}
.wap-more-box .report-box img {
  width: 100%;
}
.wap-more-box .report-box .video-box {
  height: 14.81481rem;
  margin-top: 1.23457rem;
}
.wap-more-box .report-box h3 {
  font-weight: bold;
  text-align: center;
  margin-top: 0.74074rem;
  margin-bottom: 2.22222rem;
}
.wap-more-box .report-box p {
  color: #666;
}
.wap-more-box .report-box p a {
  color: #007eff;
}
.wap-more-box .more-bg {
  margin-top: 0;
}
.wap-more-box .more-bg .g-bt-lv {
  border-bottom: 1px solid #d2d2d2;
}
.wap-more-box .more-bg .g-bt-lv ul .g-bt-li1 {
  display: flex;
  justify-content: space-around;
  margin-top: 0.26rem;
  margin-bottom: 0.4rem;
}
.wap-more-box .more-bg .g-bt-lv ul .g-bt-li1 .more-bg-lt .more-bg-lv {
  width: 5.61rem;
  font-size: 16px;
}
[data-dpr="2"] .wap-more-box .more-bg .g-bt-lv ul .g-bt-li1 .more-bg-lt .more-bg-lv {
  font-size: 32px;
}
[data-dpr="3"] .wap-more-box .more-bg .g-bt-lv ul .g-bt-li1 .more-bg-lt .more-bg-lv {
  font-size: 48px;
}
[data-dpr="4"] .wap-more-box .more-bg .g-bt-lv ul .g-bt-li1 .more-bg-lt .more-bg-lv {
  font-size: 64px;
}
.wap-more-box .more-bg .g-bt-lv ul .g-bt-li1 .more-bg-lt .more-bg-date {
  font-size: 12px;
  padding-top: 0.48rem;
}
[data-dpr="2"] .wap-more-box .more-bg .g-bt-lv ul .g-bt-li1 .more-bg-lt .more-bg-date {
  font-size: 24px;
}
[data-dpr="3"] .wap-more-box .more-bg .g-bt-lv ul .g-bt-li1 .more-bg-lt .more-bg-date {
  font-size: 36px;
}
[data-dpr="4"] .wap-more-box .more-bg .g-bt-lv ul .g-bt-li1 .more-bg-lt .more-bg-date {
  font-size: 48px;
}
.wap-more-box .more-bg .g-bt-lv ul .g-bt-li1 .more-bg-lt .more-bg-date ul {
  display: flex;
}
.wap-more-box .more-bg .g-bt-lv ul .g-bt-li1 .more-bg-lt .more-bg-date ul li:nth-child(1) {
  display: flex;
  padding-right: 0.4rem;
}
.wap-more-box .more-bg .g-bt-lv ul .g-bt-li1 .more-bg-lt .more-bg-date ul li:nth-child(1) .more-bg-heart {
  width: 0.42rem;
  height: 0.42rem;
  background-image: url('../images/found/like_list_icon@2x.png');
  background-size: cover;
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .wap-more-box .more-bg .g-bt-lv ul .g-bt-li1 .more-bg-lt .more-bg-date ul li:nth-child(1) .more-bg-heart {
    background-image: url('../images/found/like_list_icon@3x.png');
    background-size: cover;
  }
}
.wap-more-box .more-bg .g-bt-lv ul .g-bt-li1 .more-bg-lt .more-bg-date ul li:nth-child(2) {
  display: flex;
  padding-right: 0.4rem;
}
.wap-more-box .more-bg .g-bt-lv ul .g-bt-li1 .more-bg-lt .more-bg-date ul li:nth-child(2) .more-bg-fx {
  width: 0.42rem;
  height: 0.42rem;
  background-image: url('../images/found/share_list_icon@2x.png');
  background-size: cover;
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .wap-more-box .more-bg .g-bt-lv ul .g-bt-li1 .more-bg-lt .more-bg-date ul li:nth-child(2) .more-bg-fx {
    background-image: url('../images/found/share_list_icon@3x.png');
    background-size: cover;
  }
}
.wap-more-box .more-bg .g-bt-lv ul .g-bt-li1 .more-bt-rt {
  width: 3.2rem;
  height: 2rem;
  background-color: red;
}
.wap-more-box .more-bg .g-middle-swiper {
  height: 4.77rem;
  border-bottom: 1px solid #d2d2d2;
  overflow: hidden;
}
.wap-more-box .more-bg .g-middle-swiper .g-middle-wz {
  display: flex;
  justify-content: space-around;
  padding-top: 0.4rem;
}
.wap-more-box .more-bg .g-middle-swiper .g-middle-wz .g-wz-p1 {
  font-size: 16px;
  padding-right: 2.94rem;
}
[data-dpr="2"] .wap-more-box .more-bg .g-middle-swiper .g-middle-wz .g-wz-p1 {
  font-size: 32px;
}
[data-dpr="3"] .wap-more-box .more-bg .g-middle-swiper .g-middle-wz .g-wz-p1 {
  font-size: 48px;
}
[data-dpr="4"] .wap-more-box .more-bg .g-middle-swiper .g-middle-wz .g-wz-p1 {
  font-size: 64px;
}
.wap-more-box .more-bg .g-middle-swiper .g-middle-wz .g-wz-p2 {
  font-size: 12px;
  line-height: 0.7rem;
  color: #9c9dae;
  display: flex;
  align-items: center;
}
[data-dpr="2"] .wap-more-box .more-bg .g-middle-swiper .g-middle-wz .g-wz-p2 {
  font-size: 24px;
}
[data-dpr="3"] .wap-more-box .more-bg .g-middle-swiper .g-middle-wz .g-wz-p2 {
  font-size: 36px;
}
[data-dpr="4"] .wap-more-box .more-bg .g-middle-swiper .g-middle-wz .g-wz-p2 {
  font-size: 48px;
}
.wap-more-box .more-bg .g-middle-swiper .g-middle-wz .g-wz-p2 span {
  width: 0.2rem;
  height: 0.25rem;
  background-image: url('../images/found/m_arrow@2x.png');
  background-size: cover;
  margin-left: 0.13rem;
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .wap-more-box .more-bg .g-middle-swiper .g-middle-wz .g-wz-p2 span {
    background-image: url('../images/found/m_arrow@3x.png');
    background-size: cover;
  }
}
.wap-more-box .more-bg .more-bg-title {
  height: 1.17rem;
  border-bottom: 1px solid #d2d2d2;
}
.wap-more-box .more-bg .more-bg-title .txt {
  color: #3d3f4c;
  line-height: 1.3rem;
  font-size: 18px;
  display: inherit;
  text-align: center;
}
[data-dpr="2"] .wap-more-box .more-bg .more-bg-title .txt {
  font-size: 36px;
}
[data-dpr="3"] .wap-more-box .more-bg .more-bg-title .txt {
  font-size: 54px;
}
[data-dpr="4"] .wap-more-box .more-bg .more-bg-title .txt {
  font-size: 72px;
}
.wap-more-box .more-bg .more-bg-div {
  height: 4.14815rem;
  border-bottom: 1px solid #d2d2d2;
}
.wap-more-box .more-bg .more-bg-div .g-middle-gn {
  color: #3D3F4C;
}
.wap-more-box .more-bg .more-bg-div .g-middle-gn .g-middle-tp {
  display: flex;
  justify-content: space-around;
  margin-top: 0.4rem;
}
.wap-more-box .more-bg .more-bg-div .g-middle-gn .g-middle-tp .g-hd-div1 {
  width: 1.2rem;
  height: 1.2rem;
  background-image: url('../images/found/activity_find_icon@2x.png');
  background-size: cover;
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .wap-more-box .more-bg .more-bg-div .g-middle-gn .g-middle-tp .g-hd-div1 {
    background-image: url('../images/found/activity_find_icon@3x.png');
    background-size: cover;
  }
}
.wap-more-box .more-bg .more-bg-div .g-middle-gn .g-middle-tp .g-yq-div1 {
  width: 1.2rem;
  height: 1.2rem;
  background-image: url('../images/found/invite_find_icon@2x.png');
  background-size: cover;
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .wap-more-box .more-bg .more-bg-div .g-middle-gn .g-middle-tp .g-yq-div1 {
    background-image: url('../images/found/invite_find_icon@3x.png');
    background-size: cover;
  }
}
.wap-more-box .more-bg .more-bg-div .g-middle-gn .g-middle-tp .g-qd-div1 {
  width: 1.2rem;
  height: 1.2rem;
  background-image: url('../images/found/sign_find_icon@2x.png');
  background-size: cover;
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .wap-more-box .more-bg .more-bg-div .g-middle-gn .g-middle-tp .g-qd-div1 {
    background-image: url('../images/found/sign_find_icon@3x.png');
    background-size: cover;
  }
}
.wap-more-box .more-bg .more-bg-div .g-middle-gn .g-middle-bt {
  display: flex;
  justify-content: space-around;
  margin-top: 0.53rem;
  margin-bottom: 0.53rem;
}
.wap-more-box .more-bg .more-bg-div .g-middle-gn .g-middle-bt .g-gywm {
  width: 1.2rem;
  height: 1.2rem;
  background-image: url('../images/found/on_find_icon@2x.png');
  background-size: cover;
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .wap-more-box .more-bg .more-bg-div .g-middle-gn .g-middle-bt .g-gywm {
    background-image: url('../images/found/on_find_icon@3x.png');
    background-size: cover;
  }
}
.wap-more-box .more-bg .more-bg-div .g-middle-gn .g-middle-bt .g-xwdt {
  width: 1.2rem;
  height: 1.2rem;
  background-image: url('../images/found/news_find_icon@2x.png');
  background-size: cover;
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .wap-more-box .more-bg .more-bg-div .g-middle-gn .g-middle-bt .g-xwdt {
    background-image: url('../images/found/news_find_icon@3x.png');
    background-size: cover;
  }
}
.wap-more-box .more-bg .more-bg-div .g-middle-gn .g-middle-bt .g-expect {
  width: 1.2rem;
  height: 1.2rem;
  background-image: url('../images/found/Stay_find_icon@2x.png');
  background-size: cover;
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .wap-more-box .more-bg .more-bg-div .g-middle-gn .g-middle-bt .g-expect {
    background-image: url('../images/found/Stay_find_icon@3x.png');
    background-size: cover;
  }
}
.wap-more-box .more-bg .more-bg-div a {
  width: 6.91358rem;
  float: left;
  text-align: left;
  line-height: 4.14815rem;
  padding-left: 1.38272rem;
}
.wap-more-box .more-bg .more-bg-div p {
  font-size: 14px;
}
[data-dpr="2"] .wap-more-box .more-bg .more-bg-div p {
  font-size: 28px;
}
[data-dpr="3"] .wap-more-box .more-bg .more-bg-div p {
  font-size: 42px;
}
[data-dpr="4"] .wap-more-box .more-bg .more-bg-div p {
  font-size: 56px;
}
.wap-more-box .more-bg .more-bg-div p span {
  font-family: '宋体';
  font-weight: bold;
  color: #999999;
}
.wap-more-box .more-bg .more-bg-div p.time {
  line-height: normal;
  padding-top: 0.37037rem;
}
.wap-more-box .more-bg .more-bg-div p.time font {
  font-size: 0.98765rem;
}
.wap-more-box .more-bg .more-bg-div i.txt {
  width: 6.91358rem;
  float: left;
  text-align: left;
  line-height: 4.14815rem;
  padding-left: 1.38272rem;
}
.wap-more-box .more-bg .more-bg-div .gywm-txt {
  color: #333;
}
.wap-more-box .gqjgCont {
  margin-top: 0.74074rem;
  background-color: #fff;
  padding: 1.97531rem 1.7284rem;
  font-size: 1rem;
  color: black;
}
.wap-more-box .gqjgCont h3 {
  font-weight: bold;
  line-height: 1.97531rem;
}
.wap-more-box .gqjgCont p {
  line-height: 1.97531rem;
}
.wap-more-box .gqjgCont img {
  width: 100%;
  display: block;
  margin-top: 1.23457rem;
  box-sizing: border-box;
}
.wap-more-box .gqjgCont footer {
  color: #666;
  margin-bottom: 0.98765rem;
}
.wap-more-box .gqjgCont footer p {
  line-height: 1.48148rem;
}
.wap-more-box .gqjgCont footer a {
  text-decoration: underline;
}
.wap-more-box .gszz-content {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}
.wap-more-box .gszz-content .gszz-img {
  width: 100%;
}
.wap-more-box .gszz-content header {
  background-color: #ffffff;
  height: 3.2rem;
  line-height: 3.2rem;
  border-bottom: 1px solid #e6e6e6;
}
.wap-more-box .gszz-content header > div {
  float: left;
  width: 50%;
  text-align: center;
}
.wap-more-box .gszz-content header > div span {
  font-size: 1.1rem;
  color: #333333;
  padding: 0 0.8rem;
  display: inline-block;
}
.wap-more-box .gszz-content header > div span.actived {
  border-bottom: 3px solid #e84035;
  height: calc(0.2rem);
  color: #e84035;
}
.wap-more-box .gszz-content .content {
  text-align: center;
  padding: 1.7284rem 0 4.19753rem 0;
}
.wap-more-box .gszz-content .content img {
  width: 100%;
  margin-bottom: 15px;
}
.wap-more-box .gszz-content .content .img-border {
  border: 2px solid #e6e6e6;
}
.wap-more-box .gszz-content .content p {
  margin-top: 0.74074rem;
  font-size: 0.98765rem;
}
.wap-xxfk-box {
  font-size: 1.18519rem;
  width: 100%;
}
.wap-xxfk-box textarea {
  width: 25.18519rem;
  height: 24.69136rem;
  border: 1px solid #d2d2d2;
  margin: 0.98765rem auto 0;
  display: block;
  resize: none;
  box-sizing: border-box;
  padding: 0.4rem;
}
.wrap {
  margin-bottom: 7.40741rem;
}
.regSuccess main {
  padding-top: 13.82716rem;
  background-image: url("/images/login/regsuccess-bg.jpg");
  background-position: 0% 0%;
  background-size: 100% calc(97vh);
  background-repeat: no-repeat;
  height: calc(97vh);
  text-align: center;
  box-sizing: border-box;
  position: relative;
}
.regSuccess main p {
  font-size: 1.2rem;
}
.regSuccess main p span {
  color: #ff6400;
  font-size: 1.7rem;
}
.regSuccess main footer {
  text-align: center;
  font-size: 0.8rem;
  position: absolute;
  width: 100%;
  bottom: 3rem;
  left: 0;
  color: #1e3751;
}
.regSuccess main footer span {
  vertical-align: middle;
  display: inline-block;
}
.regSuccess main footer img {
  width: 1rem;
  vertical-align: middle;
  display: inline-block;
}
.regSuccess main .button {
  margin: 1.7284rem auto;
  text-align: center;
  background-color: #00a8a8;
  color: #fff;
  width: 84%;
  height: 3.95062rem;
  line-height: 3.95062rem;
  border-radius: 0.24691rem;
  font-size: 1.2rem;
}
.registerV1 {
  background: #f65019 url("/images/login/registerV1-bg.png") top center no-repeat;
  background-size: 100% auto;
  padding-top: 1px;
  padding-bottom: 50px;
  min-height: 110rem;
  box-sizing: border-box;
}
.registerV1 .container {
  margin-top: 20rem;
  padding-bottom: .5rem;
  background: transparent;
}
.registerV1 .container .wap-login-box > div {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 0.74074rem;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  border: none;
  border-radius: 5px;
  overflow: hidden;
}
.registerV1 .container .wap-login-box > div input {
  width: 100%;
}
.registerV1 .container .wap-login-box > div .getCode {
  width: 14.2rem;
  background: #f88518;
  color: #fff;
}
.registerV1 .container .wap-login-box > div p {
  padding-left: 0px;
  color: #fff;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}
.registerV1 .container .wap-login-box > div p label {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}
.registerV1 .container .wap-login-box > div p label .checkbox {
  width: 1.5rem;
  height: 1.5rem;
  background: url("/images/login/v1-noCheck.png") no-repeat;
  background-size: 100% 100%;
  border-radius: 5px;
}
.registerV1 .container .wap-login-box > div p label .checkbox.checked {
  background: url("/images/login/v1-Checked.png") no-repeat;
  background-size: 100% 100%;
}
.registerV1 .container .reg-btn {
  font-size: 18px;
  background: url("/images/login/registerV1-btn.png") no-repeat;
  background-size: 100% 100%;
}
.registerV1 .container .reg-btn span {
  position: relative;
  top: -1px;
}
.registerV1 .container .go-login {
  width: 90%;
  margin: 18px auto 30px;
  color: #f9ff83;
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  align-items: center;
  -webkit-align-items: center;
}
.registerV1 .container .go-login span {
  color: #fff;
}
.registerV1 .container .go-login img {
  width: 1.2rem;
  height: 1.2rem;
  vertical-align: middle;
  margin-left: 5px;
}
.registerV1 .container .registerV1-img {
  display: block;
  width: 90%;
  margin: 10px auto 0px;
}
.registerV1 .container .registerV1-beian {
  font-size: 1rem;
  text-align: center;
  color: #f3baa7;
  margin: 1rem auto;
}
.registerV1 .container .registerV1-down-app {
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background: #fcefea;
}
.registerV1 .container .registerV1-down-app p {
  width: 90%;
  height: 50px;
  margin: 0px auto;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
}
.registerV1 .container .registerV1-down-app p img {
  height: 30px;
  width: auto;
}
.registerV1 .container .registerV1-down-app p button {
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  color: #fff;
  background: #4ca5a7;
}
.pwd-box-wgx {
  width: 90% !important;
  margin: 0.98765rem auto 0 !important;
  border-left: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
  border-radius: 7px;
}
.pwd-box-wgx .wt100 {
  width: 100%;
  box-sizing: border-box;
}
