@charset "utf-8";
.recharge-wrapper .recharge-wrap .card-box {
  background-color: #ffffff;
  width: 100%;
  box-sizing: border-box;
  padding: 1.48148rem 0 0.98765rem 0;
  display: flex;
  align-content: space-between;
  justify-content: center;
}
.recharge-wrapper .recharge-wrap .card-box .card-info {
  text-align: center;
}
.recharge-wrapper .recharge-wrap .card-box .card-info img {
  width: 2.96296rem;
}
.recharge-wrapper .recharge-wrap .card-box .card-info h2 {
  color: #333333;
  font-size: 1rem;
}
.recharge-wrapper .recharge-wrap .card-box .card-info p {
  color: #999999;
  font-size: 0.9rem;
}
.recharge-wrapper .recharge-wrap .card-box .card-info:nth-of-type(2) {
  margin: 0 0.74074rem;
  position: relative;
  width: 8.64198rem;
}
.recharge-wrapper .recharge-wrap .card-box .card-info:nth-of-type(2) img {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.recharge-wrapper .recharge-wrap .recharge-reminder {
  line-height: 2.22222rem;
  font-size: 0.9rem;
  color: #999999;
  padding: 0 0.98765rem;
}
.recharge-wrapper .recharge-wrap form {
  width: 100%;
}
.recharge-wrapper .recharge-wrap form .input-box {
  padding: 0.98765rem 1.23457rem;
  position: relative;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  color: #333333;
  font-size: 1.1rem;
  background-color: #ffffff;
}
.recharge-wrapper .recharge-wrap form .input-box label {
  width: 15%;
  float: left;
}
.recharge-wrapper .recharge-wrap form .input-box input {
  width: 85%;
  font-size: 1.1rem;
}
.recharge-wrapper .recharge-wrap form .input-box span {
  position: absolute;
  top: 0.98765rem;
  right: 0.98765rem;
}
.recharge-wrapper .recharge-wrap form .input-box footer {
  clear: both;
}
.recharge-wrapper .recharge-wrap .recharge-bot-tips {
  margin-top: 2.22222rem;
  padding: 0 1.23457rem;
}
.recharge-wrapper .recharge-wrap .recharge-bot-tips h3 {
  font-size: 1rem;
  color: #333333;
  line-height: 2.22222rem;
}
.recharge-wrapper .recharge-wrap .recharge-bot-tips p {
  font-size: 0.9rem;
  color: #999999;
  line-height: 1.7284rem;
}
.recharge-wrapper .recharge-wrap2 > div {
  margin-top: 0.7rem;
  background-color: #ffffff;
  padding-left: 1.23457rem;
  border-bottom: 1px solid #cccccc;
}
.recharge-wrapper .recharge-wrap2 > div ul li {
  height: 3.45679rem;
  line-height: 3.45679rem;
  font-size: 1rem;
  padding-right: 1.23457rem;
  border-bottom: 1px solid #cccccc;
  display: flex;
  justify-content: space-between;
  color: #4d4d4d;
}
.recharge-wrapper .recharge-wrap2 > div ul li:last-of-type {
  border: none;
}
.recharge-wrapper .recharge-wrap2 form {
  width: 100%;
  margin-top: 0.9rem;
}
.recharge-wrapper .recharge-wrap2 form > div {
  padding-left: 1.23457rem;
  border-bottom: 1px solid #cccccc;
  background-color: #ffffff;
}
.recharge-wrapper .recharge-wrap2 form > div .input-box {
  border-bottom: 1px solid #cccccc;
  padding: 1.23457rem 0 1.23457rem 1.97531rem;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
.recharge-wrapper .recharge-wrap2 form > div .input-box:last-of-type {
  border: none;
}
.recharge-wrapper .recharge-wrap2 form > div .input-box img {
  width: 0.88889rem;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.recharge-wrapper .recharge-wrap2 form > div .input-box input {
  width: 100%;
  color: #4d4d4d;
  font-size: 1rem;
}
.recharge-wrapper .recharge-wrap2 form > div .input-box span {
  position: absolute;
  right: 1.23457rem;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 6.41975rem;
  height: 1.97531rem;
  line-height: 1.97531rem;
  box-sizing: border-box;
  border: 1px solid #00a8a8;
  color: #00a8a8;
  font-size: 0.9rem;
  text-align: center;
  border-radius: 0.19753rem;
}
.recharge-wrapper .recharge-wrap2 form .sub-btn {
  width: 23.90123rem;
  height: 3.45679rem;
  line-height: 3.45679rem;
  text-align: center;
  border-radius: 0.2963rem;
  background: #00a8a8;
  font-size: 1.2rem;
  color: #fff;
  display: block;
  margin: 4.93827rem auto;
}
.recharge-wrapper .recharge-wrap2 form .sub-btn:disabled {
  background-color: #bbbbbb;
}
.recharge-wrapper .getCash-recharge-wrap .card-box {
  background: #fff;
  overflow: hidden;
}
.recharge-wrapper .getCash-recharge-wrap .card-box img {
  float: left;
  margin: 0.98765rem 0 0.98765rem 1.38272rem;
  width: 10.61728rem;
}
.recharge-wrapper .getCash-recharge-wrap .card-box .card-info {
  float: right;
  text-align: right;
  font-size: 1.18519rem;
  color: #333;
  padding: 1.18519rem 1.38272rem 0 0;
}
.recharge-wrapper .getCash-recharge-wrap .card-box .card-info .card-tip {
  font-size: 1.03704rem;
  padding-top: 0.24691rem;
  color: #999;
  padding-bottom: 1.03704rem;
}
.recharge-wrapper .rest-box {
  height: 3.20988rem;
  line-height: 3.20988rem;
  padding: 0 1.38272rem;
  margin: 0.98765rem 0;
  background: #fff;
  overflow: hidden;
  font-size: 1.18519rem;
}
.recharge-wrapper .rest-box .name {
  float: left;
  color: #a0a0a0;
}
.recharge-wrapper .rest-box .count {
  float: right;
  color: #333;
}
.recharge-wrapper .cash-box {
  height: 2.76543rem;
  line-height: 2.76543rem;
  padding: 0 1.38272rem;
  font-size: 1.18519rem;
  color: #333;
  background: #fff;
}
.recharge-wrapper .cash-box.recharge-box input {
  width: 19.75309rem;
}
.recharge-wrapper .cash-box.recharge-box span {
  float: right;
}
.recharge-wrapper .cash-box .setPwd {
  display: block;
  font-size: 0.98765rem;
  color: #ff6400;
  line-height: 2.46914rem;
}
.recharge-wrapper .cash-box .cash {
  float: left;
  width: 13.08642rem;
}
.recharge-wrapper .cash-box .wd {
  float: left;
}
.recharge-wrapper .cash-box .all {
  float: right;
}
.recharge-wrapper .cash-box .all span {
  width: 3.55556rem;
  height: 2.07407rem;
  float: right;
  margin: 0.32099rem 0 0 0.54321rem;
  background: #fff;
  border: 1px solid #d2d2d2;
  border-radius: 50px;
  position: relative;
}
.recharge-wrapper .cash-box .all span i {
  width: 2.07407rem;
  height: 2.07407rem;
  border-radius: 50px;
  position: absolute;
  left: -1px;
  top: -1px;
  box-shadow: 2px 2px 2px rgba(210, 210, 210, 0.4);
  border: 1px solid #d2d2d2;
  background: #fff;
}
.recharge-wrapper .cash-info table {
  height: 5.67901rem;
  font-size: 0.98765rem;
  color: #333;
}
.recharge-wrapper .cash-info table p {
  padding-left: 1.38272rem;
}
.recharge-wrapper .cash-info table p.cost {
  padding-bottom: 0.61728rem;
}
.recharge-wrapper .cash-info table p span {
  color: #ff6400;
}
.recharge-wrapper.cash-wrapper .sxf-tips {
  width: 94%;
  margin: 1.23457rem auto;
  margin-top: 0.24691rem;
  background-color: #f0f0f0;
  border: 1px solid #dedede;
  padding: 0.49383rem 0.74074rem;
  box-sizing: border-box;
}
.recharge-wrapper.cash-wrapper .sxf-tips p {
  color: #999999;
  line-height: 1.48148rem;
}
.recharge-wrapper .sub-box {
  width: 23.90123rem;
  margin: 2.37037rem auto 0;
}
.recharge-wrapper .sub-box.recharge-sub {
  margin-top: 0;
}
.recharge-wrapper .sub-box.recharge-sub .sub-btn {
  height: 3.45679rem;
  line-height: 3.45679rem;
}
.recharge-wrapper .sub-btn {
  width: 23.90123rem;
  height: 2.76543rem;
  line-height: 2.76543rem;
  text-align: center;
  border-radius: 0.39506rem;
  background: #00a8a8;
  font-size: 1.38272rem;
  color: #fff;
}
.ngdialog.ngdialog-theme-default.recharge-dialog-wrap .ngdialog-content {
  width: 21.83333rem !important;
  max-width: 21.83333rem !important;
  border-radius: 0.66667rem;
  overflow: hidden;
}
.recharge-dialog {
  width: 21.83333rem;
  border-radius: 0.66667rem;
  background: #fff;
  overflow: hidden;
}
.recharge-dialog.forget p {
  width: 19.16667rem;
  text-align: center;
  padding-top: 0.83333rem;
  margin: 0 auto;
}
.recharge-dialog.forget .btns {
  border-top: 1px solid #666;
  overflow: hidden;
  margin-top: 2.16667rem;
  padding: 0;
}
.recharge-dialog.forget .btns span {
  color: #ff6400;
}
.recharge-dialog.forget .btns .right {
  border-left: 1px solid #666;
  margin-left: -1px;
  position: relative;
}
.recharge-dialog .title {
  margin-right: 1.08333rem;
  margin-left: 1.08333rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  font-size: 1.25rem;
  color: #333;
  border-bottom: 1px solid #d2d2d2;
}
.recharge-dialog .num {
  padding-top: 1.83333rem;
  padding-bottom: 0.70833rem;
  padding-left: 1.66667rem;
  font-size: 1.08333rem;
  color: #666;
}
.recharge-dialog .code {
  width: 19.75rem;
  height: 2.70833rem;
  line-height: 2.70833rem;
  background: #f8f8f8;
  font-size: 1.16667rem;
  border: 1px solid #e5e5e5;
  border-radius: 0.375rem;
  margin: 0 auto;
}
.recharge-dialog .code a {
  float: right;
  color: #ff6400;
  padding-right: 0.66667rem;
}
.recharge-dialog .code input {
  float: left;
  width: 12.08333rem;
  padding-left: 0.5rem;
  color: #666;
  height: 2.70833rem;
  line-height: 2.70833rem;
}
.recharge-dialog .btns {
  padding-top: 2.16667rem;
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  line-height: 3rem;
}
.recharge-dialog .btns input {
  width: 50%;
  height: 3rem;
  background: #ffc800;
  color: #fff;
  float: right;
}
.recharge-dialog .btns span {
  float: left;
  width: 50%;
  color: #a0a0a0;
}
.cash-wrapper .common-header span {
  position: absolute;
  top: 0;
  right: 0.4rem;
  height: 1.17rem;
  line-height: 1.17rem;
  color: #5665f5;
  font-size: 18px;
}
[data-dpr="2"] .cash-wrapper .common-header span {
  font-size: 36px;
}
[data-dpr="3"] .cash-wrapper .common-header span {
  font-size: 54px;
}
[data-dpr="4"] .cash-wrapper .common-header span {
  font-size: 72px;
}
.cash-wrapper .cash-userful {
  padding: 0.93rem 0;
  background-color: white;
  text-align: center;
}
.cash-wrapper .cash-userful h4 {
  font-size: 14px;
  color: #9c9dae;
}
[data-dpr="2"] .cash-wrapper .cash-userful h4 {
  font-size: 28px;
}
[data-dpr="3"] .cash-wrapper .cash-userful h4 {
  font-size: 42px;
}
[data-dpr="4"] .cash-wrapper .cash-userful h4 {
  font-size: 56px;
}
.cash-wrapper .cash-userful p {
  font-size: 44px;
  color: #3D3F4C;
  margin-top: 0.4rem;
}
[data-dpr="2"] .cash-wrapper .cash-userful p {
  font-size: 88px;
}
[data-dpr="3"] .cash-wrapper .cash-userful p {
  font-size: 132px;
}
[data-dpr="4"] .cash-wrapper .cash-userful p {
  font-size: 176px;
}
.cash-wrapper .bind-card {
  background-color: white;
  height: 1.6rem;
  margin-top: 2px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.cash-wrapper .bind-card .bind-cardW {
  line-height: 1.6rem;
  margin-left: 0.4rem;
  font-size: 16px;
  color: #3D3F4C;
}
[data-dpr="2"] .cash-wrapper .bind-card .bind-cardW {
  font-size: 32px;
}
[data-dpr="3"] .cash-wrapper .bind-card .bind-cardW {
  font-size: 48px;
}
[data-dpr="4"] .cash-wrapper .bind-card .bind-cardW {
  font-size: 64px;
}
.cash-wrapper .bind-card .bind-card-detail {
  margin-right: 0.4rem;
  display: flex;
  align-self: center;
}
.cash-wrapper .bind-card .bind-card-detail .card-img {
  width: 0.85rem;
  height: 0.85rem;
  background-image: url('../images/recharge2/bank_zs@2x.png');
  background-size: cover;
  float: left;
  align-self: center;
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .cash-wrapper .bind-card .bind-card-detail .card-img {
    background-image: url('../images/recharge2/bank_zs@3x.png');
    background-size: cover;
  }
}
.cash-wrapper .bind-card .bind-card-detail .card-img-msg {
  float: left;
  margin-left: 0.13rem;
}
.cash-wrapper .bind-card .bind-card-detail .card-img-msg p {
  color: #3d3f4c;
  font-size: 16px;
  margin-bottom: 0.1rem;
}
[data-dpr="2"] .cash-wrapper .bind-card .bind-card-detail .card-img-msg p {
  font-size: 32px;
}
[data-dpr="3"] .cash-wrapper .bind-card .bind-card-detail .card-img-msg p {
  font-size: 48px;
}
[data-dpr="4"] .cash-wrapper .bind-card .bind-card-detail .card-img-msg p {
  font-size: 64px;
}
.cash-wrapper .bind-card .bind-card-detail .card-img-msg span {
  font-size: 12px;
  color: #9c9dae;
}
[data-dpr="2"] .cash-wrapper .bind-card .bind-card-detail .card-img-msg span {
  font-size: 24px;
}
[data-dpr="3"] .cash-wrapper .bind-card .bind-card-detail .card-img-msg span {
  font-size: 36px;
}
[data-dpr="4"] .cash-wrapper .bind-card .bind-card-detail .card-img-msg span {
  font-size: 48px;
}
.cash-wrapper .friendly-tips {
  padding: 0.26rem 0 0.4rem 0;
  background-color: #F2F2F2;
}
.cash-wrapper .friendly-tips p {
  padding-left: 0.4rem;
  font-size: 14px;
  color: #9C9DAE;
}
[data-dpr="2"] .cash-wrapper .friendly-tips p {
  font-size: 28px;
}
[data-dpr="3"] .cash-wrapper .friendly-tips p {
  font-size: 42px;
}
[data-dpr="4"] .cash-wrapper .friendly-tips p {
  font-size: 56px;
}
.cash-wrapper .input-cashNum {
  height: 1.17rem;
  background-color: white;
  position: relative;
}
.cash-wrapper .input-cashNum p {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.17rem;
  margin-left: 0.4rem;
  line-height: 1.16rem;
  font-size: 16px;
  color: #3D3F4C;
}
[data-dpr="2"] .cash-wrapper .input-cashNum p {
  font-size: 32px;
}
[data-dpr="3"] .cash-wrapper .input-cashNum p {
  font-size: 48px;
}
[data-dpr="4"] .cash-wrapper .input-cashNum p {
  font-size: 64px;
}
.cash-wrapper .input-cashNum input {
  font-size: 16px;
  padding-left: 1.52rem;
  height: 1.17rem;
  border: none;
  outline: none;
  background: none;
}
[data-dpr="2"] .cash-wrapper .input-cashNum input {
  font-size: 32px;
}
[data-dpr="3"] .cash-wrapper .input-cashNum input {
  font-size: 48px;
}
[data-dpr="4"] .cash-wrapper .input-cashNum input {
  font-size: 64px;
}
.cash-wrapper .input-cashNum input::-webkit-input-placeholder {
  color: #9C9DAE;
}
.cash-wrapper .input-cashNum input:-moz-placeholder {
  color: #9C9DAE;
}
.cash-wrapper .input-cashNum input::-moz-placeholder {
  color: #9C9DAE;
}
.cash-wrapper .input-cashNum input:-ms-input-placeholder {
  color: #9C9DAE;
}
.cash-wrapper .explain {
  padding: 0.26rem 0 0 0.4rem;
}
.cash-wrapper .explain p {
  color: #9C9DAE;
  font-size: 14px;
  margin-bottom: 0.06rem;
}
[data-dpr="2"] .cash-wrapper .explain p {
  font-size: 28px;
}
[data-dpr="3"] .cash-wrapper .explain p {
  font-size: 42px;
}
[data-dpr="4"] .cash-wrapper .explain p {
  font-size: 56px;
}
.cash-wrapper .explain p em {
  color: #FF4B3B;
}
.cash-wrapper .explain span {
  color: #9C9DAE;
  font-size: 14px;
}
[data-dpr="2"] .cash-wrapper .explain span {
  font-size: 28px;
}
[data-dpr="3"] .cash-wrapper .explain span {
  font-size: 42px;
}
[data-dpr="4"] .cash-wrapper .explain span {
  font-size: 56px;
}
.cash-wrapper .get-btn {
  width: 9.2rem;
  height: 1.17rem;
  border-radius: 0.1rem;
  text-align: center;
  line-height: 1.17rem;
  font-size: 16px;
  color: white;
  background-color: #5665f5;
  margin: 0 auto;
  margin-top: 0.4rem;
}
[data-dpr="2"] .cash-wrapper .get-btn {
  font-size: 32px;
}
[data-dpr="3"] .cash-wrapper .get-btn {
  font-size: 48px;
}
[data-dpr="4"] .cash-wrapper .get-btn {
  font-size: 64px;
}
.cash-wrapper .mask-layer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}
.cash-wrapper .safety-keyborad {
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: white;
  z-index: 200;
}
.cash-wrapper .safety-keyborad .worning-msg {
  height: 0.9rem;
  line-height: 0.9rem;
  color: #FF9F49;
  background-color: #fff7f0;
  text-align: center;
  font-size: 11px;
}
[data-dpr="2"] .cash-wrapper .safety-keyborad .worning-msg {
  font-size: 22px;
}
[data-dpr="3"] .cash-wrapper .safety-keyborad .worning-msg {
  font-size: 33px;
}
[data-dpr="4"] .cash-wrapper .safety-keyborad .worning-msg {
  font-size: 44px;
}
.cash-wrapper .safety-keyborad .keyborad-header {
  height: 1.54rem;
  line-height: 1.54rem;
  color: #3D3F4C;
  font-size: 18px;
  text-align: center;
  position: relative;
}
[data-dpr="2"] .cash-wrapper .safety-keyborad .keyborad-header {
  font-size: 36px;
}
[data-dpr="3"] .cash-wrapper .safety-keyborad .keyborad-header {
  font-size: 54px;
}
[data-dpr="4"] .cash-wrapper .safety-keyborad .keyborad-header {
  font-size: 72px;
}
.cash-wrapper .safety-keyborad .keyborad-header .close-keyborad {
  height: 1.54rem;
  line-height: 1.54rem;
  position: absolute;
  right: 0.4rem;
  top: 0;
  color: #9C9DAE;
  font-size: 18px;
}
[data-dpr="2"] .cash-wrapper .safety-keyborad .keyborad-header .close-keyborad {
  font-size: 36px;
}
[data-dpr="3"] .cash-wrapper .safety-keyborad .keyborad-header .close-keyborad {
  font-size: 54px;
}
[data-dpr="4"] .cash-wrapper .safety-keyborad .keyborad-header .close-keyborad {
  font-size: 72px;
}
.cash-wrapper .safety-keyborad .number-show table {
  width: 9.12rem;
  margin: 0 auto;
  border-color: #c8cedd;
}
.cash-wrapper .safety-keyborad .number-show table td {
  width: 1.52rem;
  height: 1.52rem;
  text-align: center;
  border-color: #c8cedd;
  background-color: #f7f9fb;
}
.cash-wrapper .safety-keyborad .number-show .table-error {
  border-color: #ff4b3b;
}
.cash-wrapper .safety-keyborad .number-show .table-error td {
  border-color: #ff4b3b;
}
.cash-wrapper .safety-keyborad .safe-msg {
  width: 9.12rem;
  height: 1.06rem;
  line-height: 1.06rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.cash-wrapper .safety-keyborad .safe-msg .msg-left .msg-normal {
  color: #C1C1C7;
  font-size: 14px;
}
[data-dpr="2"] .cash-wrapper .safety-keyborad .safe-msg .msg-left .msg-normal {
  font-size: 28px;
}
[data-dpr="3"] .cash-wrapper .safety-keyborad .safe-msg .msg-left .msg-normal {
  font-size: 42px;
}
[data-dpr="4"] .cash-wrapper .safety-keyborad .safe-msg .msg-left .msg-normal {
  font-size: 56px;
}
.cash-wrapper .safety-keyborad .safe-msg .msg-left .worning-psw {
  color: #3D3F4C;
  font-size: 14px;
}
[data-dpr="2"] .cash-wrapper .safety-keyborad .safe-msg .msg-left .worning-psw {
  font-size: 28px;
}
[data-dpr="3"] .cash-wrapper .safety-keyborad .safe-msg .msg-left .worning-psw {
  font-size: 42px;
}
[data-dpr="4"] .cash-wrapper .safety-keyborad .safe-msg .msg-left .worning-psw {
  font-size: 56px;
}
.cash-wrapper .safety-keyborad .safe-msg .msg-left .worning-psw i {
  color: #FF4B3B;
}
.cash-wrapper .safety-keyborad .safe-msg .msg-right {
  color: #5665F5;
  font-size: 14px;
}
[data-dpr="2"] .cash-wrapper .safety-keyborad .safe-msg .msg-right {
  font-size: 28px;
}
[data-dpr="3"] .cash-wrapper .safety-keyborad .safe-msg .msg-right {
  font-size: 42px;
}
[data-dpr="4"] .cash-wrapper .safety-keyborad .safe-msg .msg-right {
  font-size: 56px;
}
.cash-wrapper .safety-keyborad .safe-keyboard-content table {
  width: 100%;
  border-color: #c8cedd;
  border-left-color: white;
  border-right-color: white;
}
.cash-wrapper .safety-keyborad .safe-keyboard-content table td {
  height: 1.6rem;
  text-align: center;
  border-color: #c8cedd;
  background-color: white;
}
.cash-wrapper .safety-keyborad .safe-keyboard-content table .cell-none {
  background-color: #C1C1C7;
}
.cash-wrapper .safety-keyborad .safe-keyboard-content table .delet-cell {
  background-color: #C1C1C7;
  position: relative;
}
.cash-wrapper .safety-keyborad .safe-keyboard-content table .delet-cell .delet-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.8rem;
  height: 0.52rem;
  margin-left: -0.4rem;
  margin-top: -0.26rem;
  background-image: url('../images/recharge2/delete_nunb@2x.png');
  background-size: cover;
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .cash-wrapper .safety-keyborad .safe-keyboard-content table .delet-cell .delet-img {
    background-image: url('../images/recharge2/delete_nunb@3x.png');
    background-size: cover;
  }
}
.recharge-dialog2 {
  width: 8rem;
  background-color: white;
  border-radius: 0.15rem;
  position: absolute;
  left: 50%;
  margin-left: -4rem;
}
.recharge-dialog2 .title2 {
  padding: 0.4rem 0;
  color: #3D3F4C;
  font-size: 15px;
  text-align: center;
}
[data-dpr="2"] .recharge-dialog2 .title2 {
  font-size: 30px;
}
[data-dpr="3"] .recharge-dialog2 .title2 {
  font-size: 45px;
}
[data-dpr="4"] .recharge-dialog2 .title2 {
  font-size: 60px;
}
.recharge-dialog2 .inner .inner-title {
  color: #5C5C66;
  font-size: 14px;
  text-align: center;
  display: block;
}
[data-dpr="2"] .recharge-dialog2 .inner .inner-title {
  font-size: 28px;
}
[data-dpr="3"] .recharge-dialog2 .inner .inner-title {
  font-size: 42px;
}
[data-dpr="4"] .recharge-dialog2 .inner .inner-title {
  font-size: 56px;
}
.recharge-dialog2 .inner .inner-title em {
  font-size: 14px;
  color: #FF4B3B;
}
[data-dpr="2"] .recharge-dialog2 .inner .inner-title em {
  font-size: 28px;
}
[data-dpr="3"] .recharge-dialog2 .inner .inner-title em {
  font-size: 42px;
}
[data-dpr="4"] .recharge-dialog2 .inner .inner-title em {
  font-size: 56px;
}
.recharge-dialog2 .inner .inner-content {
  width: 90%;
  margin: 0 auto;
  margin-top: 0.13rem;
  font-size: 13px;
  line-height: 0.7rem;
  display: block;
}
[data-dpr="2"] .recharge-dialog2 .inner .inner-content {
  font-size: 26px;
}
[data-dpr="3"] .recharge-dialog2 .inner .inner-content {
  font-size: 39px;
}
[data-dpr="4"] .recharge-dialog2 .inner .inner-content {
  font-size: 52px;
}
.recharge-dialog2 .btns2 {
  margin-top: 0.13rem;
  border-top: 2px solid #F2F2F2;
  height: 1.2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.recharge-dialog2 .btns2 span {
  width: 50%;
  text-align: center;
  color: #5665F5;
  font-size: 18px;
  height: 1.2rem;
  line-height: 1.2rem;
  display: block;
}
[data-dpr="2"] .recharge-dialog2 .btns2 span {
  font-size: 36px;
}
[data-dpr="3"] .recharge-dialog2 .btns2 span {
  font-size: 54px;
}
[data-dpr="4"] .recharge-dialog2 .btns2 span {
  font-size: 72px;
}
.recharge-dialog2 .btns2 .right2 {
  border-left: 1px solid #F2F2F2;
}
