@charset "utf-8";
@min: '@2x.png';
@max: '@3x.png';
.ml(@n){
  margin-left: @n;
}
.mr(@n){
  margin-right: @n;
}
.mt(@n){
  margin-top:@n;
}
.mb(@n){
  margin-bottom:@n;
}
.pl(@n){
  padding-left: @n;
}
.pr(@n){
  padding-right: @n;
}
.pt(@n){
  padding-top:@n;
}
.pb(@n){
  padding-bottom:@n;
}
.bg-c(@c){
  background-color: @c;
}
.br(@deg){
  border-radius: @deg;
}
.bg-image(@url){
@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3){
    background-image:url('@{url}@{max}');
    background-size:cover; 
}
background-image:url('@{url}@{min}');
background-size:cover; 
}

.font-size(@val){
    font-size: @val;
    [data-dpr="2"] &{
        font-size: 2*@val
    }

    [data-dpr="3"] &{
        font-size: 3*@val
    }

    [data-dpr="4"] &{
        font-size: 4*@val
    }
}


.sign-wrap{
    width: 100%;
    height: 30.29rem;
    background-image: url(../images/signs/bgsign@2x.png);
    background-size: cover;
}
//日历组件样式
.calendar-wrap{
    padding-top: 4.64rem;
    position: relative;
    .sign-total{        
      width: 8.78rem;
      height: 1.04rem;
      line-height: 1.04rem;
      text-align: center;
      font-size:0.42rem;
      background-color: #f4f6ff;
      position: absolute;
      left: 50%;
      margin-left: -4.39rem;
      bottom: 2.1rem;
      border-radius: 0.52rem;
      span{
          color: #5665f5;
      }
      em{
          color: #ff9f49;
      }
    }
    
    //签到按钮样式
    .sign-btn{        
        .sign-btn-click{
            position: absolute;
            margin-left: -4.33rem;
            left: 50%;
            bottom:0.4rem;
            border-radius: 0.1rem;
            background: -moz-linear-gradient( 180deg, rgb(255,74,58) 0%, rgb(255,127,77) 100%);
            background: -webkit-linear-gradient( 180deg, rgb(255,74,58) 0%, rgb(255,127,77) 100%);
            background: -ms-linear-gradient( 180deg, rgb(255,74,58) 0%, rgb(255,127,77) 100%);
            width: 8.66rem;
            height: 1.3rem;
            display: block;
            text-align: center;
            font-size:0.37rem;
            text-decoration: none;
            outline: none;
            border: none;
            color: white;                                
        }
        .btn-grey{
            background: #ced0d8;
        }
    }
    //coin1
    .coin1{
        position: absolute;
        top: 3.58rem;
        right: 1.52rem;
        width: 1.38rem;
        height: 1.29rem;
        background-image: url(../images/signs/coins1@2x.png);
        background-size: cover;
    }
}

//签到规则
.sign-rules{
    width: 9.98rem;
    height: 12.29rem;
    margin: 0 auto;
    margin-top: 0.96rem;
    background-image: url(../images/signs/rules@2x.png);
    background-size: cover;
    position: relative;
    .coin2{
        width: 2.18rem;
        height: 2.94rem;
        background-image: url(../images/signs/coins2@2x.png);
        background-size: cover;
        position: absolute;
        right: 0;
        top: -1.17rem;
    }
    .coin3{
        width: 2.05rem;
        height: 2.84rem;
        background-image: url(../images/signs/coins3@2x.png);
        background-size: cover;
        position: absolute;
        left: 0;
        bottom: -1rem;
    }
}


#calendar{
    width: 9.94rem;
    height: 10.6rem;
    margin: 0 auto;
    background-image: url(../images/signs/datelist@2x.png);
    background-size: cover;
}

.sign table{
    width:9.25rem;
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
    color: #a46626;
    font-weight: bold;
    .font-size(12px);
    border:none;
    cellspacing:0;
    cellpadding:0;
    
}

.sign th,.sign td {
//  width: 30px;
//  height: 40px;
    text-align: center;
    height: 0.85rem;
    line-height: 0.85rem;
//  border:1px solid #faca34;
//  border-radius:0.09rem;
    background:#fff;
    font-size:0.32rem;
}
.sign th{
    background-color: #c1c1c7;
}
.sign td {
    color: #404040;
    vertical-align: middle;
//  border-radius:0.09rem;
    background:#fff;
    color: #a46626;
    font-size:0.34rem;
}   
//签到的样式
.sign .on {
    position: relative;
//  background-color:#dc7a14;
    span{
        position: absolute;
        width: 0.42rem;
        height: 0.33rem;
        left: 50%;
        margin-left: -0.21rem;
        bottom: 0.1rem;
        background-image: url(../images/signs/signGou@2x.png);
        background-size: cover;
    }
}
.sign .sign-show{
//  color:red;
}
//上一月 /下一月按钮样式
.calendar_month_prev {
    float:left;
    line-height:1.33rem;
    color: white;
    font-weight: bold;
    font-size:0.5rem;
    margin-left: 0.4rem;
}
.calendar_month_next {
    float:right;
    line-height:1.33rem;
    color: white;
    font-weight: bold;
    font-size:0.5rem;
    margin-right: 0.4rem;
}
.calendar_month_span {
    display:inline;
    line-height: 1.33rem;
    font-size:0.46rem;
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
}
.sign_succ_calendar_title {
    width:9.21rem;
    margin: 0 auto;
    height: 1.33rem;
    text-align: center;
//  border-left:1px solid #faca34;
//  border-right:1px solid #faca34;
//  background:#faca34;
}
.sign_main{
    border-top:1px solid #faca34;
    font-family: "Microsoft YaHei",SimHei;
}




//


//弹出层样式
.maskbox{
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    display: none;
    position: absolute;
    z-index:1000;
    top:0;
    left:0;
}
.qdbox{
    display:none;
    padding:0.23rem 0;
    width:6rem;
    border:0.04rem solid #58bc8d;
    border-radius:0.15rem;
    background:#fff;
    position:fixed;
    z-index:1001;
    top:50%;
    left:50%;
    margin-top:-1.76rem;
    margin-left:-3rem;
 }
.qdbox .text-green{
    color:#58bc8d;
    .font-size(13px);
}
.qdbox .text-center{
    text-align: center;
    line-height: 0.8rem;
    .font-size(16px);
    
}
.btn-yes{
    width: 3rem;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    .font-size(14px);
    color: white;
    margin: 0 auto;
    margin-top: 0.31rem;
    background-color: darkgreen;
    border-radius: 0.4rem;
}
