p{
    word-wrap: break-word;
}
.percentage {
    width: rem-calc(286);
    height: rem-calc(14);
    background: #FFE999;
    position: relative;
    @include border-radius(20px);
    span {
        height: rem-calc(14);
        background: #FFC800;
        @include border-radius(20px);
        left: 0 !important;
        top: 0 !important;
        margin: 0 !important;
        position: absolute;
    }
}

.percentage-box {
    width: rem-calc(376);
    i {
        float: right;
        color: #ff6400;
        margin-top: rem-calc(-18);
        font-size: rem-calc(32);
    }
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
    max-width: rem-calc(600) !important;
    font-size: rem-calc(42) !important;
    width: auto !important;
}

.ngdialog.ngdialog-theme-default .ngdialog-close,
.ngdialog.ngdialog-theme-default .ngdialog-close:before {
    font-size: rem-calc(42) !important;
}

.ngdialog-content .error-msg {
    padding: rem-calc(25 20);
    text-align: center;
    font-size: rem-calc(50);
}

.ngdialog-content .success-msg {
    padding: rem-calc(25 20);
    text-align: center;
    font-size: rem-calc(50);
    background: #3eb7b7;
    color: #fff;
    border-radius: rem-calc(10);
    overflow: hidden;
}
.ngdialog-content main{
    padding: rem-calc(30) rem-calc(40);
}

.sub[disabled="disabled"],
.nouse-btn {
    background: #bbb !important;
    color: #ededed !important;
    cursor: default !important;
    &:hover {
        background: #bbb !important;
    }
}

.loading {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
    max-width: 750px;
}

.loading div {
    text-align: center;
    margin-top: 50%;
    left: 50%;
    img {
        width: rem-calc(110) !important;
        height: rem-calc(110) !important;
    }
}

.common-head {
    height: rem-calc(138);
    background: #00A8A8;
    color: #fff;
    width: 100%;
    max-width: 750px;
    position: relative;
    z-index: 5;
    p {
        text-align: center;
        font-size: rem-calc(64);
        line-height: rem-calc(138);
        position: absolute;
        width: 100%;
        box-sizing: border-box;
        padding: 0 rem-calc(120);
        overflow:hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    i {
        position: absolute;
        left: rem-calc(56);
        @include rem-sprite("myaccount/*.png", return, $spacing: 2px);
        top: rem-calc(38);
    }
    .right {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 9;
        padding-right: rem-calc(56);
        line-height: rem-calc(138);
        font-size: rem-calc(52);
    }
}

.bot-tips {
    padding: rem-calc(100 40 70 56);
    span {
        font-size: rem-calc(40);
        color: #333;
        display: block;
        padding-bottom: rem-calc(40);
        i {
            float: left;
            @include rem-sprite("recharge/*.png", ico_bulb);
            margin: rem-calc(9 12 0 0);
        }
    }
    p {
        font-size: rem-calc(34);
        color: #999;
        position: relative;
        padding: rem-calc(0 0 26 46);
        line-height: rem-calc(60);
        i {
            @include rem-sprite("recharge/*.png", ico_circle);
            position: absolute;
            left: rem-calc(23);
            top: rem-calc(18);
            background: #999;
            border-radius: 10px;
        }
    }
    ul{
        list-style-type: disc;
        padding-left: rem-calc(46);
        li{
            color: #999;
            font-size: rem-calc(34);
            line-height: rem-calc(60);
        }
    }
}

.icpba{
    width: 100%;
    text-align: center;
    color: #999999;
    background-color: #EAEBEC;
    font-size: 0.7rem;
    line-height: rem-calc(90);
}
.rem-rule{
	width: 5rem;
	display: none;
}
.invest-balance-layer{
    position: fixed;
    width: 100%;
    height: 100%;
    max-width: 750px;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    z-index: 100;
    background-color: rgba(0,0,0,0.7);
    display: none;
    .main-box{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 20%;
        width: 92%;
        background-color: #FFFFFF;
        border-radius: rem-calc(10);
        overflow: hidden;
        padding: rem-calc(100) 0 rem-calc(80) 0;
        >img{
            width: rem-calc(40);
            position: absolute;
            top: 0;
            right: 0;
            padding: rem-calc(30);
        }
        h1{
            text-align: center;
            font-size: 1.1rem;
            color: #444444;
            margin-bottom: rem-calc(50);
            position: relative;
            line-height: rem-calc(100);
            height: rem-calc(100);
            img{
                width: rem-calc(60);
                position: relative;
                top: rem-calc(13);
            }
        }
        p{
            font-size: 0.9rem;
            color: #444444;
            text-align: center;
            margin-bottom: rem-calc(70);
            padding: 0 rem-calc(40);
        }
        .button-box{
            width: 86%;
            margin: 0 auto;
            height: rem-calc(100);
            line-height: rem-calc(100);
            span{
				width: 44%;
				float: left;
				color: #FF4941;
				border: 1px solid #FF4941;
				text-align: center;
				border-radius: rem-calc(10);
				font-size: 1.2rem;
				box-sizing: border-box;
			}
			span:nth-of-type(2){
				float: right;
				background-color: #F04848;
				color: #FFFFFF;
				border: none;
			}
        }
    }
}

// 遮罩层
.mask-layer{
    position: fixed;
    width: 100%;
    height: 100%;
    max-width: 750px;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: rgba(0,0,0,0.7);
    z-index: 99;
    display: none;
}