.minxi-box{
	margin-top:4em;
	font-size: 1rem;
}
.minxi-list{
	width:100%;
}
.minxi-list th{
	width:25%;
	text-align: center;
	height: 3em;
	font-size: 1.4rem;
	background:#D9D9D9; 
}
.minxi-list td{
	width:25%;
	font-size: 1.2rem;
	text-align: center;
}
.minxi-list tr{
	border-bottom: 1px solid #d2d2d2;
}
.wap-body{
	margin-top: 8em;
}
.wap-no-data{
	font-size:rem-calc(45);
	text-align: center;
	color:#d2d2d2;
	margin-top: rem-calc(145);
}