.recharge-wrapper{
	.recharge-wrap{
		.card-box{
			background-color: #FFFFFF;
			width: 100%;
			box-sizing: border-box;
			padding: rem-calc(60) 0 rem-calc(40) 0;
			display: flex;
			align-content: space-between;
			justify-content: center;
			.card-info{
				text-align: center;
				img{
					width: rem-calc(120);
				}
				h2{
					color: #333333;
					font-size: 1rem;
				}
				p{
					color: #999999;
					font-size: 0.9rem;
				}
				&:nth-of-type(2){
					margin: 0 rem-calc(30);
					position: relative;
					width: rem-calc(350);
					img{
						width: 100%;
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						margin: auto;
					}
				}
			}
		}
		.recharge-reminder{
			line-height: rem-calc(90);
			font-size: 0.9rem;
			color: #999999;
			padding: 0 rem-calc(40);
		}
		form{
			width: 100%;
			.input-box{
				padding: rem-calc(40) rem-calc(50);
				position: relative;
				border: 1px solid #CCCCCC;
				box-sizing: border-box;
				width: 100%;
				overflow: hidden;
				color: #333333;
				font-size: 1.1rem;
				background-color: #FFFFFF;
				label{
					width: 15%;
					float: left;
				}
				input{
					width: 85%;
					// float: left;
					font-size: 1.1rem;
				}
				span{
					position: absolute;
					top: rem-calc(40);
					right: rem-calc(40);
				}
				footer{
					clear: both;
				}
			}
		}
		.recharge-bot-tips{
			margin-top: rem-calc(90);
			padding: 0 rem-calc(50);
			h3{
				font-size: 1rem;
				color: #333333;
				line-height: rem-calc(90);
			}
			p{
				font-size: 0.9rem;
				color: #999999;
				line-height: rem-calc(70);
			}
		}
	}
	.recharge-wrap2{
		>div{
			margin-top: 0.7rem;
			background-color: #FFFFFF;
			padding-left: rem-calc(50);
			border-bottom: 1px solid #CCCCCC;
			ul{
				li{
					height: rem-calc(140);
					line-height: rem-calc(140);
					font-size: 1rem;
					padding-right: rem-calc(50);
					border-bottom: 1px solid #CCCCCC;
					display: flex;
					justify-content: space-between;
					color: #4D4D4D;
					&:last-of-type{
						border: none;
					}
				}
			}
		}
		form{
			width: 100%;
			margin-top: 0.9rem;
			>div{
				padding-left: rem-calc(50);
				border-bottom: 1px solid #CCCCCC;
				background-color: #FFFFFF;
				.input-box{
					border-bottom: 1px solid #CCCCCC;
					padding: rem-calc(50) 0 rem-calc(50) rem-calc(80);
					width: 100%;
					box-sizing: border-box;
					position: relative;
					&:last-of-type{
						border: none;
					}
					img{
						width: rem-calc(36);
						position: absolute;
						left: 0;
						top: 0;
						bottom: 0;
						margin: auto;
					}
					input{
						width: 100%;
						color: #4D4D4D;
						font-size: 1rem;
					}
					span{
						position: absolute;
						right: rem-calc(50);
						top: 0;
						bottom: 0;
						margin: auto;
						width: rem-calc(260);
						height: rem-calc(80);
						line-height: rem-calc(80);
						box-sizing: border-box;
						border: 1px solid #00A8A8;
						color: #00A8A8;
						font-size: 0.9rem;
						text-align: center;
						border-radius: rem-calc(8);
					}
				}
			}
			.sub-btn{
				width: rem-calc(968);
				height: rem-calc(140);
				line-height: rem-calc(140);
				text-align: center;
				border-radius: rem-calc(12);
				background: #00A8A8;
				font-size: 1.2rem;
				color: #fff;
				display: block;
				margin: rem-calc(200) auto;
				&:disabled{
					background-color: #BBBBBB;
				}
			}
		}
	}
	.getCash-recharge-wrap{
		.card-box{
			background: #fff;
			// height: rem-calc(232);
			// border-top: 1px solid #d2d2d2;
			// border-bottom: 1px solid #d2d2d2;
			overflow: hidden;
			img{
				float: left;
				margin: rem-calc(40 0 40 56);
				width: rem-calc(430);
			}
			.card-info{
				float: right;
				text-align: right;
				font-size: rem-calc(48);
				color: #333;
				padding: rem-calc(48 56 0 0);
				.card-tip{
					font-size: rem-calc(42);
					padding-top: rem-calc(10);
					color: #999;
					padding-bottom: rem-calc(42);
				}
			}
		}
	}
	.rest-box{
		height: rem-calc(130);
		line-height: rem-calc(130);
		padding: rem-calc(0 56);
		margin: rem-calc(40 0);
		background: #fff;
		overflow: hidden;
		font-size: rem-calc(48);
		.name{
			float: left;
			color: #a0a0a0;
		}
		.count{
			float: right;
			color: #333;
		}
	}
	.cash-box{
		height: rem-calc(112);
		line-height: rem-calc(112);
		padding: rem-calc(0 56);
		font-size: rem-calc(48);
		color: #333;
		background: #fff;
		&.recharge-box{
			input{
				width: rem-calc(800);
			}
			span{
				float: right;
			}
		}
		.setPwd{
			display: block;
			font-size: rem-calc(40);
			color: #ff6400;
			line-height: rem-calc(100);
		}
		.cash{
			float: left;
			width: rem-calc(530);
		}
		.wd{
			float: left;
		}
		.all{
			float: right;
			span{
				width: rem-calc(144);
				height: rem-calc(84);
				float: right;
				margin: rem-calc(13 0 0 22);
				background: #fff;
				border: 1px solid #d2d2d2;
				border-radius: 50px;
				position: relative;
				i{
					width: rem-calc(84);
					height: rem-calc(84);
					border-radius: 50px;
					position: absolute;
					left: -1px;
					top: -1px;
					box-shadow: 2px 2px 2px rgba(210,210,210,.4);
					border: 1px solid #d2d2d2;
					background: #fff;
				}
			}
		}
	}
	.cash-info{
		table{
			height: rem-calc(230);
			font-size: rem-calc(40);
			color: #333;
			p{
				padding-left: rem-calc(56);
				&.cost{
					padding-bottom: rem-calc(25);
				}
				span{
					color: #ff6400;
				}
			}
		}
	}
	&.cash-wrapper{
		.sxf-tips{
			width: 94%;
			margin: rem-calc(50) auto;
			margin-top: rem-calc(10);
			background-color: #F0F0F0;
			border: 1px solid #DEDEDE;
			padding: rem-calc(20) rem-calc(30);
			box-sizing: border-box;
			p{
				color: #999999;
				line-height: rem-calc(60);
			}
		}
	}
	.sub-box{
		width: rem-calc(968);
		margin: rem-calc(96 auto 0);
		&.recharge-sub{
			margin-top: 0;
			.sub-btn{
				height: rem-calc(140);
				line-height: rem-calc(140);
			}
		}
	}
	.sub-btn{
		width: rem-calc(968);
		height: rem-calc(112);
		line-height: rem-calc(112);
		text-align: center;
		border-radius: rem-calc(16);
		background: #00A8A8;
		font-size: rem-calc(56);
		color: #fff;
	}

	
}

// 充值弹窗
.ngdialog.ngdialog-theme-default.recharge-dialog-wrap{
	.ngdialog-content{
		width: rem-calc(524px,640) !important;
		max-width: rem-calc(524px,640) !important;
		border-radius: rem-calc(16px,640);
		overflow: hidden;
	}
}
.recharge-dialog{
	width: rem-calc(524px,640);
	border-radius: rem-calc(16px,640);
	background: #fff;
	overflow: hidden;
	&.forget{
		// width: rem-calc(370px,640);
		p{
			width: rem-calc(460px,640);
			text-align: center;
			padding-top: rem-calc(20px,640);
			margin: 0 auto;
		}
		.btns{
			border-top: 1px solid #666;
			overflow: hidden;
			margin-top: rem-calc(52px,640);
			padding: 0;
			span{
				color: #ff6400;
				// font-size: rem-calc(24px,640);
			}
			.right{
				border-left: 1px solid #666;
				margin-left: -1px;
				position: relative;
			}
		}
	}
	.title{
		margin-right: rem-calc(26px,640);
		margin-left: rem-calc(26px,640);
		height: rem-calc(72px,640);
		line-height: rem-calc(72px,640);
		text-align: center;
		font-size: rem-calc(30px,640);
		color: #333;
		border-bottom: 1px solid #d2d2d2; 
	}
	.num{
		padding-top: rem-calc(44px,640);
		padding-bottom: rem-calc(17px,640);
		padding-left: rem-calc(40px,640);
		font-size: rem-calc(26px,640);
		color: #666;
	}
	.code{
		width: rem-calc(474px,640);
		height: rem-calc(65px,640);
		line-height: rem-calc(65px,640);
		background: #f8f8f8;
		font-size: rem-calc(28px,640);
		border: 1px solid #e5e5e5;
		border-radius: rem-calc(9px,640);
		margin: 0 auto;
		a{
			float: right;
			color: #ff6400;
			padding-right: rem-calc(16px,640);
		}
		input{
			float: left;width: rem-calc(290px,640);
			padding-left: rem-calc(12px,640);
			color: #666;
			height: rem-calc(65px,640);
			line-height: rem-calc(65px,640);
		}
	}
	.btns{
		padding-top: rem-calc(52px,640);
		width: 100%;
		font-size: rem-calc(36px,640);
		text-align: center;
		line-height: rem-calc(72px,640);
		input{
			width: 50%;
			height: rem-calc(72px,640);
			background: #FFC800;
			color: #fff;
			float: right;
		}
		span{
			float: left;
			width: 50%;
			color: #a0a0a0;
		}
	}
}