<!-- 多融概况 -->
<div class="wqq-ysbm-box yyyz-box brief" ng-controller="YYYZCtrl">
    <div class="content">
        <!--<img src="images/xydmz.png" alt="">-->
        <div class="line hasline" style="padding-top: 0px;width: 487px;
    margin-left: 218px;
    margin-top: 2px;">
            <img style="width: 100%" src="images/xydmz.png">
            <!--<p>国资控股，企业信用信息查询系统可查询详情</p>-->
        </div>
        <div class="line hasline" style="padding-top: 0px;width: 487px;
    margin-left: 218px;
    margin-top: 2px;">
            <img style="width: 100%;" src="images/jsjrj1.jpg">
            <img style="width: 100%;" src="images/jsjrj1.jpg">
            <!--<p>国资控股，企业信用信息查询系统可查询详情</p>-->
        </div>
        <!--  border:1px solid #ccc;box-shadow: 0px 0px 6px rgba(0,0,0,0.5) -->
    	<!-- <div class="top-trigger">
    		<b ng-class="{'a':'active'}[showType]" ng-click="showType = 'a'">三亿验资</b><span></span><b ng-class="{'b':'active'}[showType]" ng-click="showType = 'b'">保证金专户</b>
    	</div>
    	<div ng-if="showType == 'a'">
	        <img src="/images/gsjj/yzbg.png" style="display:block; margin:60px auto 40px;" />
	        <p class="yyyz">实缴三亿验资报告</p>
	        <p class="yyyz yyyz2"><a href="/pdf/jstzyzbg.pdf" target="_blank">下载菠菜投资验资报告</a></p>
    	</div>
    	<div ng-if="showType == 'b'">
	        <img src="/images/gsjj/bzjbg.png" style="display:block; margin:60px auto 40px;" />
	        <p class="yyyz">银行存管保证金专户</p>
    	</div> -->
    </div>
</div>
