<!--对应在mainCtrl.js-->
<!-- 欢迎栏 -->
<div ng-hide="isLoginPage" class="top-global-wrapper">
    <div class="top-content">
        <div class="tel">
            <b>服务热线：<span>400-111-8888</span></b>
            <div class="appCode">
                <div class="logo-hover">
                	<i>手机APP</i>
                	<div class="phone-app"></div>
                </div>
                
                <div class="hover-p">
                    <div class="erweima-left">
                    	<div class="img-top">
                    		<img src="images/homeNew/erweima.png" alt="" width="120px" />
                    	</div>
                    	<p>iOS客户端</p>
                    </div>
                    <div class="erweima-right">
                    	<div class="img-top">
                    		<img src="images/homeNew/erweima.png" alt="" width="120px" />
                    	</div>
                    	<p>Android客户端</p>
                    </div>
                </div>
            </div>
            <div class="appCode">
                <div class="logo-hover">
                	<i>微信公众号</i>
                	<div class="phone-app2"></div>
                </div>
                <div class="hover-p2">
                	<div class="erweima">
                    	<div class="img-top">
                    		<img src="images/homeNew/erweima.png" alt="" width="120px" />
                    	</div>
                    	<p>微信公众号</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-nav">
        	<!--此处的a并无实际意义只是为了承接过滤器-->
            <a ng-if="(a | isRegister).register" href="" ng-click="gotoLoginPage('myAccount')">您好！{{(a | isRegister).user.userName}},</a>&nbsp;
            <a ng-show="(a | isRegister).register" ng-click="userOut()" href="#" class="top-quit">[退出]</a>                         	
            <!--登录、注册跳转-->
            <a href="/login" ng-if="!(a | isRegister).register">登录</a>
            <span style="margin-right: 12px;">|</span>          
            <a href="/register" ng-if="!(a | isRegister).register">注册</a> 
            <span style="margin-right: 12px;">|</span>
            <a href="{{a|webIE8}}main/guide" target="_blank">新手指引</a>
            <span style="margin-right: 12px;">|</span>
            <a href="{{a|webIE8}}main/jt2/help?menuName=help" target="_blank">帮助中心</a>            
        </div>
    </div>
</div id=>
<!-- 欢迎栏结束 -->
<!-- 导航 -->
<div class="globalheader-wrapper"  id="wrapperId">
    <div class="globalheader-wrap">
        <div ng-click="$state.go('main.home');" class="logo-wrap">
            <img src="/images/homeNew/logo.png">
            
        </div>
        <div class="nav-box">
            <div>
                <ul>
                    <li><a ui-sref="main.home" ng-class="{active:currentPath == '/main/home'}">首页<span></span></a></li>
                    <li><a ui-sref="main.productsList" ng-class="{active:(currentPath == '/main/productsList'||currentPath == '/main/billDetail')}">理财产品<span></span></a></li>
                    <li><a ui-sref="main.guarantee" ng-class="{active:currentPath == '/main/guarantee'}">安全保障<span></span></a></li>
                    <li><a ui-sref="main.jt.JSGK" ng-class="{active:currentPath == '/main/jt'}">信息披露<span></span></a></li>
                </ul>
                <!--<div class="nologin" ng-if="!(a | isRegister).register">
                    <a href="/register">注册</a>/<a href="/login">登录</a>
                </div>-->
                <!--账户显示菜单-->
                <!--<div class="account" ng-if="(a | isRegister).register">
                    <a href="{{a|webIE8}}main/myAccount/accountHome">我的账户</a>
                    <div class="con" ng-show="(a | isRegister).register">
                        <div>
                            <a href="{{a|webIE8}}main/myAccount/myAssets">我的资产</a>
                            <a href="{{a|webIE8}}main/myAccount/myInvest">我的投资</a>
                            <a href="{{a|webIE8}}main/myAccount/myCoupon">我的优惠券</a>
                            <a href="{{a|webIE8}}main/myAccount/myMsg">我的消息</a>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>

