<!--dlCtrl.js-->
<div ng-controller="dlCtrl">
	<div class="globalheader-wrapper">
		<div class="globalheader-wrap">
			<div ng-click="$state.go('main.home');" class="logo-wrap">
				<img src="/images/global/logo.png">
				<span></span>
				<i class="global-slogo"></i>
			</div>
		</div>
	</div>
	<div class="quick-register-wrap" style="min-height:557px;background-color: #EBF8FF;">
		<div class="wqq-quick-register-wrap-box" style="width: 1200px;height: 578px;margin: 0 auto;position: relative;">
			<i class="register-banner" style="left:0"></i>
			<div class="quick-register-wrapper" style="padding: 20px 0 0 1140px;float: left;position: absolute;right: 0;">
				<form class="login_form" ng-model="userLogin" name="userLoginform">
					<input style="display:none">
					<input type="password" style="display:none">
					<div class="quick-login-mod">
						<div class="title">
							<div class="throung"></div>
							<div class="p-box">
								<p ng-cloak class="ng-cloak">会员登录</p>
							</div>
						</div>
						<div class="quick-register-box">

							<!-- 登录用户名 -->
							<div class="input-box">
								<div class="input-mod">
									<input type="text" ng-pattern="/^1[3|4|5|7|8][0-9]{9}$/" placeholder="请输入手机号码"
									 onkeyup="this.value=this.value.replace(/[\D\.]/gi,'') " class="text"
										   ng-model="userLogin.mobilephone" name="userName"
									 required minlength="11" maxlength="11" autocomplete="off" />
									<i ng-cloak ng-show="userLoginform.userName.$valid" ng-class="{false: 'common-form-ok', true: 'common-form-error'}[userLoginform.userName.$dirty || userLoginform.userName.$error.serverError]"></i>
									<span ng-show="userLoginform.userName.$valid" ng-cloak class="error"><font color="red">{{userLoginform.userName | denLuUserNameError:serverErrorCode}}</font></span>
								</div>
							</div>
							<!-- 图文验证 -->
							<div ng-show="isPicYanZhen" class="input-box">
								<div class="img-box">
									<img ng-click="clickInput('changePic',$event)" src="login/validateCode.do">
								</div>
								<div class="input-mod">
									<input type="text" placeholder="请输入验证码" ng-mouseOut="picShowError=true" ng-mouseOver="picShowError=fasle" class="text small-text"
									 ng-model="userLogin.picCode" name="picCode" autocomplete="off" />
								</div>
								<i ng-show="userLoginform.picCode.$valid && picShowError" ng-class="{false: 'common-form-ok', true: 'common-form-error'}[userLoginform.picCode.$error.serverError]"></i>
								<span class="error" ng-show="userLoginform.picCode.$valid && picShowError"><font color="red">{{userLoginform.picCode | denLuPicCodeNameError:serverErrorCode}}</font></span>
							</div>
							<!-- 密码 -->
							<div ng-hide='isShowUserPsw' class="input-box passwd-box">
								<div class="input-mod">
									<!--此处密码验证加了required就是说只验证了为空判断-->
									<input placeholder="请输入密码" type="password" ng-model="userLogin.passWord"
										   class="text" name="passWord" autocomplete="off"
									 required />
								</div>
								<i ng-show="userLoginform.passWord.$valid" ng-class="{false: 'common-form-ok', true: 'common-form-error'}[userLoginform.passWord.$valid]"></i>
								<span class="error" ng-show="userLoginform.passWord.$valid"><font color="red">{{userLoginform.passWord | denLuPassWordError:serverErrorCode}}</font></span>
							</div>
							<!-- 登录/注册 按钮 -->
							<div class="sub-box" ng-click="LoginClick('denLu',userLoginform)">
								<input ng-disabled="userLoginform.$invalid" class="sub-btn sub" type="submit" value="登 录" />
							</div>
							<!-- 服务条款/切换状态 -->
							<div class="agreement-box">
								<div class="forget">
									<span class="choose-box">没有账号？
									<a ng-click="goZhuce()" href="" class="change-btn">快速注册</a>
								</span>
									<a href="" ng-click="$state.go('main.resetPasswd')" class="reset-passwd">忘记密码</a>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div ng-include="'html/login/footer.html'"></div>
	<!-- 底部结束 -->
</div>